-content_for :head do
  = include_javascripts :jquery_validation
.person_avatar
  = owner_image_tag(:thumb_large) 
  = render 'photos/new_profile_photo', :person => person
.person_basic
  .relative
    %h4
      = "名字"
    = text_field_tag 'profile[name]', profile.name, :placeholder => t('profiles.edit.name')
  .relative
    %h4
      = "性别"
    = radio_button_tag 'profile[gender]',1, profile.gender == '1' ? true : false 
    %span
      =  "男"
    = radio_button_tag 'profile[gender]',0, (profile.gender == '0' ? true : false)
    %span
      =  "女"
  .relative
    %h4
      = "省份"
    = collection_select nil, :province_id, Province.all, :id, :name, {:prompt => true, :selected => (@province ) ? @province.id : nil }
    %br
    %h4
      = "城市"
    = collection_select nil, :city_id, Province.first.cities, :id, :name, {:prompt => true, :selected => (@city) ? @city.id : nil }
    = hidden_field_tag "profile[location_attributes][city_id]"

:javascript
  $(function() {
    $('#update_profile_form').validate({  
      rules: {
        'profile[name]': {
          required: true,
          maxlength: 12
        },
        'profile[gender]': {
          required: true
        },
        'profile[location_attributes][city_id]': {
          required: true
        }
      },
      messages: {
        'profile[name]': {
          required: '请输入名字',
          maxlength: '名字不能超过12个字符'
        },
        'profile[gender]': {
          required: '请选择性别'
        },
        'profile[location_attributes][city_id]': {
          required: '请选择城市'
        }
      }
    });
  });
 
  function changeCity() {
    $("#profile_location_attributes_city_id").val($("#_city_id").val());
  }

  $("#_province_id").change(function() {
    $.get("#{cities_of_province_path}", {id: $("#_province_id").val(),
                                        select_name:'_city_id'}, function(data){
      $("#_city_id").replaceWith(data);
      $("#_city_id").bind('change', changeCity);
    });
  });

  $("#_city_id").bind('change', changeCity);

