.person_avatar
  = owner_image_tag(:thumb_large) 
  = render 'photos/new_profile_photo', :person => person
.person_basic
  %h4
    = "名字"
    = text_field_tag 'profile[name]', profile.name, :placeholder => t('profiles.edit.name')
  %h4
    = "城市"
    = select_tag "profile[location_attributes][city_id]",
               options_from_collection_for_select(City.all, "id", "name", location.city_id)
