%li.comment.posted{ :id => comment.id }
  .author_avatar
    = person_image_link(comment.author,:thumb_small)
  .comment_content
    .from
      = person_link(comment.author)
      %span.details
        =":" 
      %span.comment_body
        -if comment.instance_of?(PicComment)
          = comment.content
        -else
          = comment_content_tag(comment)
    .replay_info
      %span.time.timeago
        = how_long_ago( comment )
      - if comment.author.id != current_user.person.id && comment.instance_of?(Comment)
        %span.replay_comment
          =link_to "å›å¤","javascript:void(0)",:class => "replay"
  .action
    - if comment.author.id == current_user.person.id
      .delete
        = link_to image_tag("/images/ui/delete_gray.png" ),comment,:method => "delete",:remote => true
