-content_for :head do
  = include_javascripts :jquery_validation
= form_for @profile do |f|
  = hidden_field_tag "profile_edit","1"
  .person_settings
    = render 'common/header_box', :title => '编辑个人资料', :background_color => '#8DBC6E' 
  .stream
    .person_profile.edit 
      .name.info_text
        %span="姓名"
        .content#name
          = f.text_field :name
      .gender.info_text
        %span="性别"
        .content#gender
          = f.radio_button :gender,1
          %span
            =  "男"
          = f.radio_button :gender,0
          %span
            =  "女"
      .bio.info_text
        %span="介绍"
        .content#bio
          = f.text_area  :bio

      .hobby.info_text
        %span="爱好"
        .content#hobby
          = f.text_field :hobby
      .location.info_text
        %span="城市"
        .content#location
          = select_tag "profile[location_attributes][city_id]",
               options_from_collection_for_select(City.all, "id", "name", @profile.location.city_id)


  .person_profile_button
    =submit_tag '保存个人信息',:class => "button"

:javascript
  $(function() {
    $('.edit_profile').validate({  
      rules: {
        'profile[name]': {
          required: true
        },
        'profile[gender]': {
          required: true
        }
      },
      messages: {
        'profile[name]': {
          required: '请输入名字'
        },
        'profile[gender]': {
          required: '请选择性别'
        }
      }
    });
  });
  


