#home_user
  = person_image_link(@person)
  %h3.person_name
    =@person.name
    .description
      = link_to '个人页面', person_path(@person)
  .home_invitation_link
    = link_to "发现玩伴", find_interested_people_path,  :class => 'left_one'
      
    = link_to "邀请好友", invite_friends_to_site_path

  .avatar_panel_container
    #followed_people
      - if @followed_people.length > 0
        .title
          .name
            = '关注'
          - if @followed_people.length > 30
            .link
              = element_more_tag(@person,:show_friends,:followed)
          .clear
        .contacts
          - for person in @followed_people[ 0...30]
            .person_avatar
              = person_image_link(person)
  -if current_user.person.joined_groups.size > 0
    .groups
      .title
        .name
          = '小组'
        -if current_user.person.joined_groups.size > 5
          .link
            = element_more_tag(@person,:show_groups)
        .clear
      %ul
        -for group in current_user.person.joined_groups[ 0...5 ]
          %li
            .group
              .avatar
                = group_image_link(group,:thumb_small)
              .name
                = object_name_link(group)
  -if current_user.person.interests.size > 0
    .groups
      .title
        .name
          = '兴趣'
        -if current_user.person.interests.size > 5 
          .link
            = element_more_tag(@person,:show_items)
        .clear

      %ul
        -for item in current_user.person.interests[ 0...5 ]
          %li
            .group
              .avatar
                = item_image_link(item, :size =>:thumb_small)
              .name
                = object_name_link(item)
