-content_for :head do
  = include_javascripts :jquery_validation
  = include_stylesheets :sepcial_pages_people_show, :media => 'all'
= form_for @profile do |f|
  = hidden_field_tag "profile_edit","1"
  = hidden_field_tag "profile[location_attributes][city_id]", @profile.location.city_id
  .person_settings
    = render 'common/header_box', :title => '编辑个人资料', :background_color => '#8DBC6E' 
  .stream
    .person_profile.edit 
      .name.info_text
        %span="姓名"
        .content#name
          = f.text_field :name
      .gender.info_text
        %span="性别"
        .content#gender
          = f.radio_button :gender,1
          %span
            =  "男"
          = f.radio_button :gender,0
          %span
            =  "女"
      .bio.info_text
        %span="介绍"
        .content#bio
          = f.text_area  :bio

      .location.info_text
        %span="城市"
        .content#location
          = collection_select nil, :province_id, Province.all, :id, :name, :selected => @profile.location.city.province_id
          = collection_select nil, :city_id, @profile.location.city.province.cities, :id, :name, :selected => @profile.location.city_id

  .person_profile_button
    =submit_tag '保存个人信息',:class => "button"

:javascript
  $(function() {
    $('.edit_profile').validate({  
      rules: {
        'profile[name]': {
          required: true,
          maxlength: 12
        },
        'profile[gender]': {
          required: true
        }
      },
      messages: {
        'profile[name]': {
          required: '请输入名字',
          maxlength: '名字不能超过12个字符'
        },
        'profile[gender]': {
          required: '请选择性别'
        }
      }
    });
  });
 
  function changeCity() {
    $("#profile_location_attributes_city_id").val($("#_city_id").val());
  }

  $("#_province_id").change(function() {
    $.get("#{cities_of_province_path}", {id: $("#_province_id").val(),
                                        select_name:'_city_id'}, function(data){
      $("#_city_id").replaceWith(data);
      $("#_city_id").bind('change', changeCity);
    });
  });

  $("#_city_id").bind('change', changeCity);

