#home_user
  = person_image_link(@person)
  %h3{:style => "position:relative;"}
    =@person.name
    .description
      -if current_user.person.id == @person.id && @requests_count == 0 
        = "Welcome back!"
      -elsif current_user.person.id == @person.id  && @requests_count != 0 
        = link_to "#{@requests_count}个好友请求",{:controller => 'people', :action => 'friends_request'},:class => 'new friends_request'
      -else 
        = "remove friends"
  %b
  %b
#friend_listings.section
  %h4
    - if @contacts.length > 0
      %ul
        %li
          .contacts 
            %h4="#{@contacts.length} #{t( 'friends' )}"
            - for contact in @contacts
              = person_image_link(contact.person)
          =link_to t( 'more' ),{:controller => 'people',:action => 'show_friends'}
    - else
      =t('no_friends')   
