#home_user
  = person_image_link(@person)
  %h3.push-2
    =@person.name
    .description
      -if current_user.person.id == @person.id && ( @requests_count == 0 || !@requests_count)
        = "Welcome back!"

  .avatar_panel_container
    #followed_people
      - if @followed_people.length > 0
        .link_tab
          = link_to '你关注的人',{:controller => 'people',:action => 'show_friends',:type=>'followed'}
        .contacts
          - for person in @followed_people
            .person_avatar
              = person_image_link(person)
  .groups
    .link_tab
      = link_to '加入的小组','#'
    %ul
      -for group in current_user.person.joined_groups
        %li
          .group
            .avatar
              = group_image_link(group,:thumb_small)
            .name
              = object_name_link(group)
  .groups
    .link_tab
      = link_to '喜欢的项目','#'
    %ul
      -for item in current_user.person.interests
        %li
          .group
            .avatar
              = item_image_link(item)
            .name
              = object_name_link(item)
    
