#home_user
  = person_image_link(@person)
  %h3{:style => "position:relative;"}
    =@person.name
    .description
      -if current_user.person.id == @person.id && @requests_count == 0 
        = "Welcome back!"
      -elsif current_user.person.id == @person.id  && @requests_count != 0 
        = link_to "#{@requests_count}个好友请求",{:controller => 'people', :action => 'friends_request'},:class => 'new friends_request'
      -elsif @contact && !@contact.pending
        =  link_to t( 'remove friend' ),{:controller => 'contacts', :action => 'remove_friend',:person_id => @person.id},:class => 'button'
      -elsif @request
        =t('pending_request')
      -elsif  (@contact && @contact.pending)
        =link_to t('incoming_request'),{:controller => 'contacts',:action => 'new',:person_id => person.id},:class => 'share_with button'
      -else
        = link_to t('start_sharing'),'#add_friend_request',:class => 'share_with button',:rel => 'facebox'

  %b
  %b
#friend_listings.section
  %h4
    - if @contacts.length > 0
      %ul
        %li
          .contacts 
            %h4=t( 'friends_count',:count => @contacts.length)
            - for contact in @contacts
              = person_image_link(contact.person)
          =link_to t( 'more' ),{:controller => 'people',:action => 'show_friends'}
    - else
      =t('no_friends')   
.facebox_content
  #add_friend_request
    %h3="加为好友"
    = form_for Request.new,:url => { :controller => 'contacts',:action => 'new' } do |r|
      = r.text_area :message , :rows => 2
      = r.hidden_field :person_id, :value => @person.id
      %br
      = r.submit t('send'), :class => 'button' 
