.box_element
  .content
    %h4
      = person_link(person)
      %em
        = person.profile.location.city.name
    .box_avatar
      = person_image_link2( person,:thumb_medium )
    .box_status
      .element
        =  person.involved_events.size
        %span
          = "活动"
      .element
        = person.joined_groups.size
        %span
          = "小组"
      - if current_user
        .follow_button_mini
          = follow_button_tag( person )

