#home_user
  .person_page_link
    %h2
      = link_to @person.name, 'javascript:void(0)' 
    = link_to '个人页面', person_path(@person), :class => 'person_page'
  .person_info_bar
    = person_image_link(@person)
    .person_info
      .info_block
        = link_to({:controller => 'people',:action => 'show_friends',:type=>'followed',:person_id =>@person.id}, :class => 'info_link') do 
          %span.count= @person.user.followed_people.size
          %span.desc= "关注" 
      .info_block
        = link_to({:controller => 'people',:action => 'show_friends',:type=>'befollowed',:person_id=>@person.id}, :class => 'info_link') do 
          %span.count= @person.user.befollowed_people.size
          %span.desc= "粉丝" 
      .info_block.last_item
        = link_to({:controller => 'people',:action => 'show_items',:person_id=>@person.id}, :class => 'info_link') do 
          %span.count= @person.favorites.size
          %span.desc= "兴趣" 
  .home_invitation_link
    = link_to "发现玩伴", find_interested_people_path,  :class => 'left_one'
      
    = link_to "邀请好友", invite_friends_to_site_path

  - if @hot_topics.size > 0
    .groups
      .title
        .title_bar
          .name
            = '近期话题'
          .link
            = link_to '换一换', 'javascript:void(0)', :class => 'change_topics link_button' if @changeable
            = link_to '更多', item_topics_path, :class => 'link_button'
          .clear
        = render :partial => 'item_topics/recent_topics', :locals => {:topics => @hot_topics} 
  - if @events.size > 0
    .groups
      .title
        .title_bar
          .name
            = '近期活动'
          .link
            = link_to '换一换', 'javascript:void(0)', :class => 'change_events link_button'
            = link_to '更多', events_path, :class => 'link_button' 
          .clear
        = render :partial => 'events/recent_events',  :locals => { :events => @events}
  .groups
    .title
      .title_bar
        .name
          = '和你志趣相投的人'
        .link
          = link_to '换一换', 'javascript:void(0)', :class => 'change_friends link_button'
        .clear
      = render :partial => 'people/potential_interested_people',  :locals => { :people => @potential_friends}
          
    
  .avatar_panel_container
    #followed_people
      - if @followed_people.length > 0
        .title
          .title_bar
            .name
              = '关注'
            .link
              = element_more_tag(@person,:show_friends,:followed)
            .clear
        .contacts
          - for person in @followed_people[ 0...30]
            .person_avatar
              = person_image_link(person)
  -if current_user.person.joined_groups.size > 0
    .groups
      .title
        .title_bar
          .name
            = '小组'
          .link
            = element_more_tag(@person,:show_groups)
          .clear
      %ul
        -for group in current_user.person.joined_groups[ 0...5 ]
          %li
            .group
              .avatar
                = group_image_link(group,:thumb_small)
              .name
                = object_name_link(group)
  -if current_user.person.interests.size > 0
    .groups
      .title
        .title_bar
          .name
            = '兴趣'
          .link
            = element_more_tag(@person,:show_items)
          .clear

      %ul
        -for item in current_user.person.interests[ 0...5 ]
          %li
            .group
              .avatar
                = item_image_link(item, :size =>:thumb_small)
              .name
                = object_name_link(item)

:javascript
  $('.groups a.change_topics').click(function() {
    $.ajax({
      type: 'get', 
      url: "#{recent_topics_path}",
      async: false,
      success: function(data) {
        $('.groups .topics').fadeOut(200, function(){
          $(this).replaceWith(data);
        });
      }, 
      error: function(data) {
      }
    });
  });
  
  $('.groups a.change_friends').click(function(){
    $.ajax({
      type: 'get', 
      url: "#{potential_interested_people_path}",
      async: false,
      success: function(data) {
        $('.groups .interested_people').fadeOut(200, function(){
          $(this).replaceWith(data);
        });
      },
      error: function(data) {
      }
    }); 
  });

  $('.groups a.change_events').click(function() {
    $.ajax({
      type: 'get', 
      url: "#{recent_events_path}",
      async: false,
      success: function(data) {
        $('.groups .recent_events').fadeOut(200, function(){
          $(this).replaceWith(data);
        });
      }, 
      error: function(data) {
      }
    });
  });
