#home_user
  = person_image_link(@person)
  %h3{:style => "position:absolute;margin-left:60px;_margin-left:10px;*margin-left:10px;margin-top:-5px"}
    =@person.name
    .description
      -if current_user.person.id == @person.id && ( @requests_count == 0 || !@requests_count)
        = "Welcome back!"
      -elsif current_user.person.id == @person.id  && @requests_count != 0 
        = link_to "#{@requests_count}个好友请求",{:controller => 'people', :action => 'friends_request'},:class => 'new friends_request'
      -elsif @contact && !@contact.pending
        .button1.remove_friend
          = link_to t( 'remove_friend' ),{:controller => 'contacts', :action => 'remove_friend',:person_id => @person.id}
      -elsif @request
        =t('pending_request')
      -elsif  (@contact && @contact.pending)
        .button1.incoming_request
          =link_to t('incoming_request'),{:controller => 'contacts',:action => 'new',:person_id => person.id}
      -else
        .button1.add_friend
          = link_to t('start_sharing'),'#add_friend_request',:rel => 'facebox'

#friend_listings
  %h3
    - if @contacts.length > 0
      %ul
        %li
    - else
      =t('no_friends')   













.facebox_content
  #add_friend_request
    %h3="加为好友"
    = form_for Request.new,:url => { :controller => 'contacts',:action => 'new' } do |r|
      = r.text_area :message , :rows => 2
      = r.hidden_field :person_id, :value => @person.id
      %br
      = r.submit t('send'), :class => 'button' 
