.person_profile 
  .bio.info_text{ :class =>( "hide" if @profile.bio.nil? )}
    %span="介绍"
    .content#bio
      =  @profile.bio
  .hobby.info_text{ :class =>( "hide" if @profile.hobby.nil? )}
    %span="爱好"
    .content#hobby
      = @profile.hobby
  .gender.info_text{ :class =>( "hide" if @profile.gender.nil? )}
    %span="性别"
    .content#gender
      -if @profile.gender == "0"
        = "男"
      -else
        = "女"
  .location.info_text{ :class =>( "hide" if @profile.location.nil? )}
    %span="城市"
    .content#location
      = @profile.location.city.name

  

