-content_for :head do
  =include_javascripts :scroll_page
  =include_javascripts :show_photo
  =include_javascripts :status_message
.person_left_bar
  .avatar_panel
    #profile_photo
      = person_image_tag(@person,:thumb_large )
  .information
    #person_profile_box
      .title
        %h3="个人信息"
        - if current_user.person.id == @person.id
          .edit_profile.glass_button
            = "编辑"
      .clear
      .divider
      .gender.info_text
        %span="性别:"
        %p
          = @person.profile.gender == '1' ? "男" : "女"
      .divider
      .location.info_text
        %span="城市:"
        %p
          = @person.profile.location.city.name
      .divider
      .bio.info_text
        %span="个人介绍:"
        %p
          = @person.profile.bio
    #followed_people
      - if @followed_people.length > 0
        .contacts
          .link_tab
            -if current_user.person.id == @person.id
              =link_to t( '你关注的人' ),{:controller => 'people',:action => 'show_friends',:type=>'followed',:person_id=>@person.id}
            - else
              =link_to t( '他关注的人' ),{:controller => 'people',:action => 'show_friends',:type=>'followed',:person_id=>@person.id}

          - for person in @followed_people[ 0...20 ]
            .person_avatar
              = person_image_link(person)

    #befollowed_people
      - if @befollowed_people.length > 0
        .contacts
          .link_tab 
            -if current_user.person.id == @person.id
              =link_to t( '关注你的人' ),{:controller => 'people',:action => 'show_friends',:type=>'befollowed',:person_id=>@person.id}
            - else
              =link_to t( '关注他的人' ),{:controller => 'people',:action => 'show_friends',:type=>'befollowed',:person_id=>@person.id}

          - for person in @befollowed_people[ 0...20 ]
            .person_avatar
              = person_image_link(person)
      
    .groups
      .link_tab
        = link_to '加入的小组',{:controller => 'people',:action => 'show_groups',:person_id=>@person.id}

      %ul
        -for group in @person.joined_groups[ 0...5 ]
          %li
            .group
              .avatar
                = group_image_link(group,:thumb_small)
              .name
                = object_name_link(group)
    .groups
      .link_tab
        = link_to '喜欢的项目',{:controller => 'people',:action => 'show_items',:person_id=>@person.id}

      %ul
        -for item in @person.interests[ 0...5 ]
          %li
            .group
              .avatar
                = item_image_link(item)
              .name
                = object_name_link(item)

.span-18
  #person_panel
    .person_bar
      %h2=@person.name
      .action  
        -if @person.user_id == current_user.id
        -else 
          .follow_button
            = follow_button_tag( @person )
      %div=@person.profile.signature
      .history_bar
        .element
          =render 'common/big_header_box',:text => "活动",:number => @person.involved_events.size
        .element
          =render 'common/big_header_box',:text => "小组",:number => @person.joined_groups.size

    .following_people_panel
      .titile
        =render 'common/header_box',:title => "关注的人"
      - for person in @followed_people[ 0...20 ]
        .person_avatar
          = person_image_link(person)
    .stream
      .events_panel
        .current_events
          =render 'common/header_box',:title => "参加的活动"
          .person_event_container
:javascript
  $.get("/people/show_person_events",{person_id:#{@person.id}}  ); 

  $( ".edit_profile" ).click( function(  ){
    $( location ).attr( "href","#{edit_profile_path}" );
  } );

  $( ".my_events" ).live( "click",function(  ){  
    $( ".select_on" ).removeClass( "select_on" );
    $(this).addClass( "select_on" );
    $.get("/people/show_person_events",{person_id:#{@person.id}}  ); 
  } );

  $( ".my_posts" ).live( "click",function(  ){
    $( ".select_on" ).removeClass( "select_on" );
    $(this).addClass( "select_on" );
    $.get("/people/show_posts",{person_id:#{@person.id}}  ); 
  } );

  $( ".my_profile" ).live( "click",function(  ){
    $( ".select_on" ).removeClass( "select_on" );
    $(this).addClass( "select_on" );
    $.get("/people/show_person_profile",{person_id:#{@person.id}}  ); 
  } );

  $("abbr.timeago").timeago();

  

