-content_for :head do
  = include_javascripts :jquery_validation
  =include_javascripts :scroll_page
  =include_javascripts :show_photo
  =include_stylesheets :sepcial_pages_people_show, :media => 'all'
  =include_stylesheets :sepcial_pages_albums_show, :media => 'all'
  =javascript_include_tag "http://api.youku.com/api/js/swfobject.js"
.person_left_bar
  .avatar_panel
    #profile_photo
      %h2
        =@person.name
      = person_image_tag(@person,:thumb_large )
  .information
    #person_profile_box
      .title
        %h3="个人信息"
        - if current_user.person.id == @person.id
          .edit_profile.glass_button
            = "编辑"
      .clear
      .divider
      .gender.info_text
        %span="性别:"
        %p
          = @person.profile.gender == '1' ? "男" : "女"
      .divider
      .location.info_text
        %span="城市:"
        %p
          = @person.profile.location.city.name
      .divider
      .bio.info_text
        %span="个人介绍:"
        %p
          = @person.profile.bio

    .avatar_panel_container
      #followed_people
        - if @followed_people.length > 0
          .title
            .title_bar
              .name
                = '关注'
              .link
                = element_more_tag(@person,:show_friends,:followed)
              .clear
          .contacts
            - for person in @followed_people[ 0...16]
              .person_avatar
                = person_image_link(person)
      #followed_people
        - if @befollowed_people.length > 0
          .title
            .title_bar
              .name
                = '粉丝'
              .link
                = element_more_tag(@person,:show_friends,:befollowed)
              .clear
          .contacts
            - for person in @befollowed_people[ 0...16]
              .person_avatar
                = person_image_link(person)
            
    -if @person.joined_groups.size > 0  
      .groups
        .title
          .title_bar
            .name
              = "小组"
            .link
              = element_more_tag(@person,:show_groups)
            .clear
        %ul
          -for group in @person.joined_groups[ 0...5 ]
            %li
              .group
                .avatar
                  = group_image_link(group,:thumb_small)
                .name
                  = object_name_link(group)
    -if @person.interests.size > 0
      .groups
        .title
          .title_bar
            .name
              = '兴趣'
            .link
              = element_more_tag(@person,:show_items)
            .clear
        %ul
          -for item in @person.interests[ 0...5 ]
            %li
              .group
                .avatar
                  = item_image_link(item, :size => :thumb_small)
                .name
                  = object_name_link(item)

.span-18.person_show
  .person_action  
    -if @person.user_id == current_user.id
    -else 
      .follow_button.left
        = follow_button_tag( @person )
      .message_box.left
        = link_to(new_conversation_path(:person_ids => [@person.id]),:class=>"new_message_action") do
          .glass_button
            ="私信"
      .clear
  #person_panel
    .person_bar
      .history_bar
        =render 'common/big_header_box', :number => @person.twitter_posts.size, :text => '微博', :background_color => '#ff8a3c'
        =render 'common/big_header_box', :number => @person.involved_events.size, :text => '活动', :background_color => '#00BED4'
        =render 'common/big_header_box', :number => @person.user.befollowed_people.size, :background_color => '#4ebaff', :text => '粉丝'
        =render 'common/big_header_box', :number => @person.joined_groups.size, :text => '小组', :background_color => '#aad450'


    .home_tabs
      %ul
        %li
          =link_to "微博",show_person_posts_path( @person ),:id => 'my_posts',:remote => true
        %li
          =link_to "活动",show_person_events_path( @person ),:id=>'my_events',:remote => true        
        %li
          =link_to "照片",show_person_albums_path( @person ),:id=>'my_albums',:remote => true        
        .tab_progress
          .progress
    .stream
:javascript

  $.get("#{show_person_posts_path( @person )}"); 
  $(".tab_progress").show();

  $( ".home_tabs a" ).live( "click",function( ){
    $(".tab_progress").show();
  })

  $( ".edit_profile" ).click( function(  ){
    $( location ).attr( "href","#{edit_profile_path}" );
  } );

  $( ".new_message_action" ).colorbox({ transition:"none",opacity:"0.3"});

  

