.search_result.span-24
  
  .person_details_tab
    %ul.home_tabs
      %li
        .person_card
          = person_image_link2( @person,:thumb_medium )
          .follow_prompt.follow_button
            = follow_button_tag( @person )
      %li.following_tab.hoverable 
        = link_to({:controller => 'people',:action => 'show_friends',:type=>'followed',:person_id =>@person.id}, :class => ('current' if @select_tab == 'following_tab')) do
          = "我关注的人"
          %span
            = "(#{@person.user.followed_people.size} 个)"
      %li.followers_tab.hoverable 
        = link_to({:controller => 'people',:action => 'show_friends',:type=>'befollowed',:person_id=>@person.id}, :class => ('current' if @select_tab == 'followers_tab')) do
          ="我的粉丝"
          %span
            = "(#{@person.user.befollowed_people.size} 个)" 
      %li.groups_tab.hoverable 
        = link_to({:controller => 'people',:action => 'show_groups',:person_id=>@person.id}, :class => ('current' if @select_tab == 'groups_tab')) do 
          ="我的小组"
          %span
            ="(#{@person.joined_groups.size} 个)"
      %li.items_tab.hoverable 
        = link_to( {:controller => 'people',:action => 'show_items',:person_id=>@person.id}, :class => ('current' if @select_tab == 'items_tab')) do
          = "我的兴趣"
          %span
            = "(#{@person.interests.size} 个)" 
    .clear
       
  .person_details_content      
    = render 'show_contacts',:people => @people,:groups => @groups,:items => @items
  .pagination_box
    - if !@people.nil? && @people.size > 0
      = will_paginate @people, {:previous_label => t("pagination.previous"),
                               :next_label => t("pagination.next")}

    - if !@groups.nil? && @groups.size > 0
      = will_paginate @groups, {:previous_label => t("pagination.previous"),
                               :next_label => t("pagination.next")}

    - if !@items.nil? && @items.size > 0
      = will_paginate @items, {:previous_label => t("pagination.previous"),
                               :next_label => t("pagination.next")}
:javascript
  select_tab = '#{@select_tab}';
  if(select_tab != ''  ){
    $( '.'+select_tab ).addClass( 'select_tab_on' ); 
  }

    
