-content_for :head do
  =include_javascripts :scroll_page
  =include_javascripts :show_photo
  =include_javascripts :status_message
.span-5.person_left_bar
  .avatar_panel
    #profile_photo
      = person_image_tag(@person,:thumb_large )
      .change_profile_photo.hide
        = render 'photos/change_profile_photo', :person => @person
    .information
      #followed_people
        - if @followed_people.length > 0
          .contacts
            .link_tab
              -if current_user.person.id == @person.id
                =link_to t( '你关注的人' ),{:controller => 'people',:action => 'show_friends',:type=>'followed'}
              - else
                =link_to t( '他关注的人' ),{:controller => 'people',:action => 'show_friends',:type=>'followed'}

            - for person in @followed_people
              .person_avatar
                = person_image_link(person)

      #befollowed_people
        - if @befollowed_people.length > 0
          .contacts
            .link_tab 
              -if current_user.person.id == @person.id
                =link_to t( '关注你的人' ),{:controller => 'people',:action => 'show_friends',:type=>'befollowed'}
              - else
                =link_to t( '关注你的人' ),{:controller => 'people',:action => 'show_friends',:type=>'befollowed'}

            - for person in @befollowed_people
              .person_avatar
                = person_image_link(person)
      
      .groups
        .link_tab
          = link_to '加入的小组','#'
        %ul
          -for group in @person.joined_groups
            %li
              .group
                .avatar
                  = group_image_link(group,:thumb_small)
                .name
                  = object_name_link(group)
      .groups
        .link_tab
          = link_to '喜欢的项目','#'
        %ul
          -for item in @person.interests
            %li
              .group
                .avatar
                  = item_image_link(item)
                .name
                  = object_name_link(item)

.span-18
  #person_panel
    .person_bar
      %h2=@person.name
      .action  
        -if @person.user_id == current_user.id
          .edit_profile
            ="编辑个人资料"
        -elsif @contact && @contact.receiving
          .button.remove_friend
            = link_to t( 'remove_friend' ),{:controller => 'contacts', :action => 'destroy',:person_id => @person.id},:method =>'delete'
        -else
          .button.add_friend{:style=>"width:100px"}
            =link_to t('start_sharing'),{:controller => 'contacts', :action => 'create',:person_id => @person.id},:method =>'post'
      %div=@person.profile.signature
      .history_bar
        .create_event.panel
          .border_left_side
          .counts_center.red
            .title
              = "组织"
            .counts
              =68
            .info
              = "活动"
          .border_right_side


        .attend_event.panel
          .border_left_side
          .counts_center.green
            .title
              = "参加"
            .counts
              =120
            .info
              = "活动"

          .border_right_side


        .points.panel
          .border_left_side
          .counts_center.yellow
            .title
              = "获得"
            .counts
              = 250
            .info
              = "红心"
          .border_right_side
    .stream
      .events_panel
        .current_events
          .title_panel
            .border_left_side
            .content_center
              = "准备参加的活动"
            .border_right_side
          .pointer
          = render :partial => 'events/event_element',:collection => @events,:as => :event

          .clear

        .past_events
          .title_panel
            .border_left_side
            .content_center
              ="成功参加的活动"
            .border_right_side
          .pointer
          = render :partial => 'events/past_event_element',:collection => @events,:as => :event
          .clear
        .clear


:javascript

  $( ".edit_profile" ).click( function(  ){
    $.get("/people/edit_profile",{person_id:#{@person.id}}  ); 
  } );

  $( ".my_events" ).live( "click",function(  ){  
    $( ".select_on" ).removeClass( "select_on" );
    $(this).addClass( "select_on" );
    $.get("/people/show_person_events",{person_id:#{@person.id}}  ); 
  } );

  $( ".my_posts" ).live( "click",function(  ){
    $( ".select_on" ).removeClass( "select_on" );
    $(this).addClass( "select_on" );
    $.get("/people/show_posts",{person_id:#{@person.id}}  ); 
  } );

  $( ".my_profile" ).live( "click",function(  ){
    $( ".select_on" ).removeClass( "select_on" );
    $(this).addClass( "select_on" );
    $.get("/people/show_person_profile",{person_id:#{@person.id}}  ); 
  } );

  $("abbr.timeago").timeago();

  

