.span-6
  .avatar
    =person_image_tag(@person,:thumb_large )
  .information{ :style =>"border-top: 1px solid #CCCCCC" }
.span-12
  #person_panel
    %h2=@person.name
    -if current_user.person.id == @person.id
      = render "status_messages/status_message"
    .stream
      = render :partial => 'status_messages/status_message_element',
             :collection => @posts,
             :as => :post
  .action{ :style => "display: none" }

.span-6.last
  #friend_listings
    - if @friends.length > 0
      .contacts
        %h3
          -if current_user.person.id == @person.id
            = "你的好友"
          - else
            = "他的好友"
        - for friend in @friends
          = person_image_link(friend)
        %h4
          =link_to t( 'more' ),{:controller => 'people',:action => 'show_friends'}
    - else
      =t('no_friends')
  #followed_people
    - if @followed_people.length > 0
      .contacts
        %h3
          -if current_user.person.id == @person.id
            = "你关注的人"
          - else
            = "他关注的人"

        - for person in @followed_people
          = person_image_link(person)
        %h4
          =link_to t( 'more' ),{:controller => 'people',:action => 'show_friends'}

  #befollowed_people
    - if @befollowed_people.length > 0
      .contacts
        %h3
          -if current_user.person.id == @person.id
            = "关注你的人"
          - else
            = "关注他的人"

        - for person in @befollowed_people
          = person_image_link(person)
        %h4
          =link_to t( 'more' ),{:controller => 'people',:action => 'show_friends'}


:javascript
  $(function(){
  $(".private_message").colorbox({ inline:true, href:"#private_message"});	
  });
  $("abbr.timeago").timeago();
  $( ".replay" ).live( "click",function( ){  
    stream_element = $( this ).closest(".stream_element");
    commentBlock = stream_element.find(".comment_form");
    comments = stream_element.find(".comments");
    if(commentBlock.hasClass("hidden")) {
      if( $( ".comment",comments ).length != 0 ){
        comments.removeClass("hidden");
      }
      commentBlock.removeClass("hidden");
      commentBlock.find("textarea").focus();
    } else {
        if( $( ".comment",comments ).length > 3 || $( ".comment",comments ).length == 0 ){
          comments.addClass( "hidden" );
        }
        commentBlock.addClass("hidden");
      }  
    return false;
    });

