-content_for :head do
  = include_javascripts :jquery_validation
  =include_javascripts :scroll_page
  =include_javascripts :show_photo
  =include_javascripts :status_message
.person_left_bar
  .avatar_panel
    #profile_photo
      %h2
        =@person.name
      = person_image_tag(@person,:thumb_large )
  .information
    #person_profile_box
      .title
        %h3="个人信息"
        - if current_user.person.id == @person.id
          .edit_profile.glass_button
            = "编辑"
      .clear
      .divider
      .gender.info_text
        %span="性别:"
        %p
          = @person.profile.gender == '1' ? "男" : "女"
      .divider
      .location.info_text
        %span="城市:"
        %p
          = @person.profile.location.city.name
      .divider
      .bio.info_text
        %span="个人介绍:"
        %p
          = @person.profile.bio
    -if @person.joined_groups.size > 0  
      .groups
        .title
          .name
            = "小组"
          -if @person.joined_groups.size > 5  
            .link
              = element_more_tag(@person,:show_groups)
          .clear


        %ul
          -for group in @person.joined_groups[ 0...5 ]
            %li
              .group
                .avatar
                  = group_image_link(group,:thumb_small)
                .name
                  = object_name_link(group)
    -if @person.interests.size > 0
      .groups
        .title
          .name
            = '兴趣'
          -if @person.interests.size > 5
            .link
              = element_more_tag(@person,:show_items)
          .clear


        %ul
          -for item in @person.interests[ 0...5 ]
            %li
              .group
                .avatar
                  = item_image_link(item, :size => :thumb_small)
                .name
                  = object_name_link(item)

.span-18.person_show
  .person_action  
    -if @person.user_id == current_user.id
    -else 
      .follow_button.left
        = follow_button_tag( @person )
      .message_box.left
        = link_to(new_conversation_path(:person_ids => [@person.id]),:class=>"new_message_action") do
          .glass_button
            ="私信"
      .clear
  #person_panel
    .person_bar
      .history_bar
        =render 'common/big_header_box', :number => @person.involved_events.size, :text => '活动', :background_color => '#ff8a3c'
        =render 'common/big_header_box', :number => @person.joined_groups.size, :text => '小组', :background_color => '#aad450'
        =render 'common/big_header_box', :number => @person.event_comments.size+@person.topic_comments.size, :background_color => '#4ebaff', :text => '评论'

    .following_people_panel
      - if @followed_people.length > 0
        =render 'common/header_box',:title => "关注"
        - for person in @followed_people[ 0...24 ]
          .person_avatar
            = person_image_link(person)
      - if @followed_people.length > 24
        .people_more
          = element_more_tag(@person,:show_friends,:followed)
            

    .following_people_panel
      - if @befollowed_people.length > 0
        .titile
          =render 'common/header_box',:title => "被关注"
        - for person in @befollowed_people[ 0...24 ]
          .person_avatar
            = person_image_link(person)
      - if @befollowed_people.length > 24
        .people_more
          = element_more_tag(@person,:show_friends,:befollowed)
            
    .stream
      .events_panel
        .current_events
          =render 'common/header_box',:title => "参加的活动"
          .person_event_container
:javascript
  $.get("/people/show_person_events",{person_id:#{@person.id}}  ); 

  $( ".edit_profile" ).click( function(  ){
    $( location ).attr( "href","#{edit_profile_path}" );
  } );

  $( ".my_events" ).live( "click",function(  ){  
    $( ".select_on" ).removeClass( "select_on" );
    $(this).addClass( "select_on" );
    $.get("/people/show_person_events",{person_id:#{@person.id}}  ); 
  } );

  $( ".my_posts" ).live( "click",function(  ){
    $( ".select_on" ).removeClass( "select_on" );
    $(this).addClass( "select_on" );
    $.get("/people/show_posts",{person_id:#{@person.id}}  ); 
  } );

  $( ".my_profile" ).live( "click",function(  ){
    $( ".select_on" ).removeClass( "select_on" );
    $(this).addClass( "select_on" );
    $.get("/people/show_person_profile",{person_id:#{@person.id}}  ); 
  } );

  $("abbr.timeago").timeago();
  $( ".new_message_action" ).colorbox();

  

