- content_for :head do
  = include_stylesheets :sepcial_pages_site_admin_common, :media => 'all'

= render 'nav'
.span-23.content_area
  .span-20
    .search_line
      .filter_title
        %strong=link_to '过滤', 'javascript:void(0)'
      .filter_items
        = link_to '未处理', manage_feedbacks_path(:status => 'not_processed'), :class => ('current' if @status == 'not_processed') 
        = link_to '已处理', manage_feedbacks_path(:status => 'processed'), :class => ('current' if @status == 'processed')  
  - @feedbacks.each do |f|
    .span-21.content_block
      .avatar
        =person_image_link(f.person, :thumb_small)
      .content
        %p=f.content
        %span.date=l(f.created_at, :format => :long)

  .span-17.pagination_box
    = will_paginate @feedbacks, {:previous_label => t("pagination.previous"), 
                              :next_label => t("pagination.next")}
    
