- content_for :head do
  = include_stylesheets :sepcial_pages_friends_common, :media => 'all'

#city_select_box.hide 
  = collection_select nil, :province_id, Province.all, :id, :name, :selected => @city.province.id
  = collection_select nil, :city_id, @city.province.cities, :id, :name, :selected => @city.id
    
.span-24
  = render 'nav'
  .span-22.content_area
    %h1='发现志趣相投的玩伴'
    %h3.inline= link_to @city.name , 'javascript:void(0);', :id => 'switch_city', :class => 'dark_gray'

    - @interests.each do |item|
      - fans= item.random_people(@city, 6, @except_person) 
      - if fans.size > 0
        .span-22
          .span-15 
            = render 'common/header_box', :title => item.name, :blue => true,:white_angle => true
          .span-7.last
            = link_to '换一换', 'javascript:void(0)', :class => 'refresh', :item_id => item.id, :city => @city.id
        .item_fans{:item_id => item.id, :city => @city.id}
          =render 'people/show_contacts',:people => fans, :groups => nil, :items => nil
      
:javascript  
  $('a.refresh').click(function(){
    var $target = $('.item_fans[item_id="'+ $(this).attr("item_id") + '"]');
    $.post("#{random_item_fans_path}/?item_id="+ $(this).attr("item_id")+"&city="+ $(this).attr("city"), function(data){
      $target.html(data).hide();
      $target.fadeIn('slow');
      return false;
    });
  });

  $(function() {
    var left = $('#switch_city').offset().left;
    var t =$('#switch_city').offset().top + $('#switch_city').innerHeight();
    $('#city_select_box').css("left", left+"px");
    $('#city_select_box').css("top", t+"px");

    $("#date").datepicker(); 
    $("#date").val("#{I18n.t('filter.time.select_time')}"); 
  });

  $("#switch_city").click(function(e) {
    $('#city_select_box').toggleClass('hide'); 
    e.stopPropagation();
    return false;
  });

  $('#city_select_box').click(function(e){
    e.stopPropagation();
  });

  function changeCity() {
    var path = "/friends/find/?city=" + $("#_city_id").val();
    $(location).attr('href', path);
  }

  $("#_province_id").change(function() {
    $.get("#{cities_of_province_path}", {id: $("#_province_id").val(),
                                        select_name:'_city_id'}, function(data){
      $("#_city_id").replaceWith(data);
      $("#_city_id").bind('change', changeCity);
    });
  });

  $("#_city_id").bind('change', changeCity);

