= form_for @theme, :html => { :multipart => true } do |f|
  .span-7 
    = theme_image_tag(@theme, :thumb_large)
  .span-16.prepend-1.last
    .field
      = f.label t('themes.name') +":"
      = f.text_field :name
    .field
      = f.label "主题范围:"
      = collection_select(:theme, :item_id, Item.all, :id, :name, {:prompt => true})
      = error_on(@theme, :item_id)
    .field
      = f.label "主题大图标"
      = f.text_field :image_url_large
    .field
      = f.label "主题中图标"
      = f.text_field :image_url_medium
    .field
      = f.label "主题小图标"
      = f.text_field :image_url_small
    .field
      = f.submit t('themes.save'), :class => "button"
    %p

