%a{ :href=>conversations_path(:conversation_id => conversation.id,:page =>params[ "page" ]) }
  .conversation{:id => conversation.id, :class => ('unread' if unread_counts[conversation.id].to_i > 0)}
    = person_image_tag(authors[conversation.id])
    
    .content
      .subject
        -if conversation.subject == ""
          = "无主题"
        -else
          = truncate(conversation.subject,:length => 15)
      .last_author
        = authors[conversation.id].name
        - if conversation.participants.size > 2
          %span.participant_count
            = "(+#{conversation.participants.size - 1})" 
    .info
      .message_count
        - if unread_counts[conversation.id].to_i > 0
          %span.unread_message_count
            = unread_counts[conversation.id].to_i
        
      %time.timeago
        =how_long_ago_conversation( conversation )
    .clear

