#left_pane.span-7
  #left_pane_header
    #new_conversation.right
      =link_to(new_conversation_path,:class=>"new_message_action") do
        .new_message.glass_button
          = "新信息"
    %h3
      = t( 'inbox' )
  #conversation_inbox
    - if @conversations.count > 0
      .stream.conversations
        = render :partial => 'conversations/conversation', :collection => @conversations, :locals => {:authors => @authors, :unread_counts => @unread_counts,:selected_id => ((@conversation.id) if @conversation)}
      = will_paginate @conversations
    - else
      %br
      %br
      %br
      %br
      %div{:style => 'text-align:center;'}
        %i
          = '没有信息'
#conversation_show
  - if @conversation
    = render 'conversations/show', :conversation => @conversation
  - else
    #no_conversation_text
      = link_to "发送新信息",new_conversation_path,:class=>"new_message_action" 
      
:javascript 
  $(".new_message_action").colorbox();
