
.new_message_pane
  #new_conversation_form
    = form_for Conversation.new do |c|
      .span-2
        %h4
          = "收信人"
      .span-10.last.relative
        = text_field_tag "contact_autocomplete"
      .clearfix
      .span-2
        %h4
          = "主题"
      .span-10.subject
        = c.text_field :subject

      .clearfix
      .span-2
        %h4
          = "内容"

      .span-11.content.relative
        = text_area_tag "conversation[text]", '', :rows => 5
      .clearfix
      .submit
        = c.submit '发送信息', :class => 'glass_button'
:javascript
    $(document).ready(function () {
    var data = $.parseJSON( "#{@people_json}" ),
        autocompleteInput = $("#contact_autocomplete");

    autocompleteInput.autoSuggest(data, {
      selectedItemProp: "name",
      searchObjProps: "name",
      asHtmlID: "person_ids",
      retrieveLimit: 10,
      minChars: 1,
      keyDelay: 0,
      startText: '',
      emptyText: '无此人',
      preFill: [{ 'name' : "#{params[:name]}",
        'value' : "#{params[:person_id]}",
        'url':"#{params[:url]}",
        'filled':"#{params[ :filled ]}"
        }]
      });

    autocompleteInput.focus();
  });



    $(function() {
    $('#new_conversation').validate({  
      rules: {
        'person_ids': {
          required: true,
          minlength: 3 
        },
        'conversation[text]': {
          required: true
        }
      },
      messages: {
        'person_ids':{
          required: '请输入收信人',
          minlength: '请输入收信人'


        },
        'conversation[text]': {
          required: '请输入信息内容'
        }
      }
    });
  });


