-content_for :head do
  = include_stylesheets :special_pages_topic_index, :media => 'all'
- if @topics.size > 0
  %table.topics
    %tr.large
      %th.title='话题'
      %th.author='作者'
      %th.reply='回复数'
      %th.latest='最后回复'
    -@topics.each do |t|
      %tr.large
        %td.title= link_to t.title, t.url
        %td.author= link_to t.person.name, person_path(t.person.id)
        %td.reply= t.comments.count
        %td.latest= l(t.latest_comment_time, :format => :long)
  .right
    = will_paginate @topics, {:previous_label => t("pagination.previous"),
                                     :next_label => t("pagination.next")}

