=content_for :head do
  =include_javascripts :friend_select
  =include_stylesheets :common_vertical_nav
.span-6.last
  .group_avatar 
    = group_image_tag(@group, :thumb_large)
  %hr.space
  %ul.nav
    %li=link_to '编辑小组信息', edit_group_path(@group), :class => ("current" if params[:action] == 'edit') 
    %li=link_to '编辑小组成员', edit_group_members_path(@group), :class => ("current" if params[:action] == 'edit_members') 
  
.span-18    
  .span-13
    = render 'common/header_box', :title => '编辑 "' + @group.name + ' "成员', :background_color => '#8DBC6E' 
  .span-5.last
    %h4= link_to '<返回小组首页', group_path(@group), :class => 'right nav_back'
  .members
    .span-17
      %h4= invite_link(friends, invitees, friend_members)
    .span-17.other_members
      - if members.size > 0
        %h4
          = t("groups.members_count", :count => members.size) 
          = link_to t('events.participants.select_all'), "#", :class => "select_all_members"
        .span-17
          = render 'people/select_people', :people => members, :class_name => 'select_participants' 

    -if members.size > 0 
      .button_container
        = link_to('javascript:void(0)', :class => "delete") do
          .delete_button.glass_button
            =t("operations.delete_selected")
    .span-17.invitations
      - if members.size > 0
        %hr.space
      - if invitees.size > 0
        .span-12
          %h4
            = t("events.invitees", :count => invitees.size)
            = link_to t('events.participants.select_all'), "#", :class => "select_all_invitations"
        .span-17
          = render 'people/select_people', :people => invitees, :class_name => 'select_invitees'
        .span-16
          - if invitees.size > 0 
            .button_container
              = link_to('javascript:void(0)', :class => "delete_invitation") do
                .delete_button.glass_button
                  ='取消邀请'
    .span-17.applicants
      - if applicants.size > 0
        %hr.space
        .span-12
          %h4
            = t("events.applicants", :count => applicants.size)
            = link_to t('events.participants.select_all'), "#", :class => "select_all_applicants"
        .span-17
          = render 'people/select_people', :people => applicants, :class_name => 'select_applicants'
        .span-16
          .button_container
            = link_to('javascript:void(0)', :class => "accept_applicants") do
              .delete_button.glass_button
                ='接受'
            = link_to('javascript:void(0)', :class => "delete_applicants") do
              .delete_button.glass_button
                ='忽略'

.colorbox_content
  #friend_select
.facebox_content.hide
  #delete_member_request
    .span-10.box_content
      %h4= t('activerecord.operations.event.delete_participants')
      = form_tag group_membership_path(:group_id => @group.id), :method => 'delete' do
        = hidden_field_tag :member_ids
        %br
        = submit_tag t('activerecord.operations.event.save'), :class => 'button'
          
:javascript
  $('a.delete').bind('click', function() {
    deleteMembers('.other_members', "#{I18n.t('activerecord.operations.event.delete_participants')}"); 
    return false;
  });

  $('a.delete_invitation').bind('click', function() {
    deleteMembers('.invitations', "确定要取消选中的邀请吗?"); 
    return false;
  });

  $('a.delete_applicants').bind('click', function() {
    deleteMembers('.applicants', "确定要忽略选中的申请吗?"); 
    return false;
  });

  $('a.accept_applicants').bind('click', function() {
    acceptApplicants('.applicants');
    return false;
  });


  $('a.select_all_members').click(function() {
    select_all('.other_members', $(this));
    return false;
  });

  $('a.select_all_invitations').click(function() {
    select_all('.invitations', $(this));
    return false;
  });

  $('a.select_all_applicants').click(function() {
    select_all('.applicants', $(this));
    return false;
  });
  $('#choose_member_notice .choose_notice').click(function() {
    $.colorbox.close(); 
    return false;
  });

  $('.friend_select_input').click(function() {
    friend_select("#{group_invitees_select_path(@group)}"); 
    $.colorbox({ inline:true, href:"#friend_select",
                                     opacity:0.1, width:"502", height:"462" });
    return false;
  });

  function friend_selected_callback(data) {
    $.post("#{group_invite_path(@group.id)}", { selectedIds: ""+data });     
    $.colorbox.close();
    $('.friend_select_input').unbind('click');
    location.reload();
    return false;
  }
  
  function select_all(target, link) {
    if (link.hasClass('selected')) {
      $(target + ' a.person_block').removeClass('selected'); 
      link.html("#{t('events.participants.select_all')}");
    } else {  
      $(target + ' a.person_block').addClass('selected'); 
      link.html("#{t('events.participants.select_none')}");
    }
      link.toggleClass("selected");
    return false;
  }

  function deleteMembers(target, alert_content) {
    var checked = $(target + ' a.person_block.selected');
    $('#delete_member_request h4').html(alert_content);
    if (checked.length == 0) {
      return false;
    }
    var arr = new Array(checked.length); 
    for(var i=0; i< checked.length; i++) {
      arr[i] = $(checked[i]).attr('person_id'); 
    }
    $('.facebox_content #member_ids').val(arr);
    $.colorbox({ inline:true, href:"#delete_member_request", opacity:0.5 });
    return false;
  }

  function acceptApplicants(target) {
    var checked = $(target + ' a.person_block.selected');
    if (checked.length == 0) {
      return false;
    }
    var arr = new Array(checked.length); 
    for(var i=0; i< checked.length; i++) {
      arr[i] = $(checked[i]).attr('person_id'); 
    }
    $.post("#{group_memberships_path(:group_id => @group.id)}", {selectedIds: arr});
    location.reload();
    return false;
  }

