-content_for :head do
  = include_javascripts :jquery_validation
= form_for @group, :html => { :multipart => true }, do |f|
  .span-6.last
    = render "photos/new_group_photo", :group => @group, :is_edit => is_edit, :model_name => "group"
    %ul.nav
      - if is_edit
        - unless new
          %li=link_to '编辑小组信息', edit_group_path(@group), :class => ("current" if params[:action] == 'edit') 
          %li=link_to '编辑小组成员', edit_group_members_path(@group)
        - else
          %li=link_to '1.填写小组信息', edit_group_path(@group), :class => ("current" if params[:action] == 'edit') 
          %li=link_to '2.邀请好友', new_group_invite_path(@group)
      - else
        %li=link_to '1.填写小组信息', new_group_path, :class => ("current" if params[:action] == 'new') 
        %li=link_to '2.邀请好友', 'javascript:void(0)', :class => 'inactive' 
     
  .span-14
    - if is_edit
      .span-9
        - unless new
          = render 'common/header_box', :title => '编辑小组信息', :background_color => '#8DBC6E' 
        - else
          = render 'common/header_box', :title => '填写小组信息', :background_color => '#8DBC6E' 
      .span-5.last
        %h4= link_to '<返回小组首页', group_path(@group), :class => 'right nav_back'
    - else
      .span-9
        = render 'common/header_box', :title => '填写小组信息', :background_color => '#8DBC6E' 
      .span-5.last
        %h4= link_to '<返回小组首页', groups_path, :class => 'right nav_back'
    .span-14.form_area
      .field
        = f.label t('groups.name'), :class => 'field_info'
        = f.text_field :name
        = error_on(@group, :name)
      .field.module
        = f.label t('groups.description') + ":" , :class => 'field_info'
        = f.text_area:description
        = error_on(@group, :description)
      .field
        = f.label t('groups.item')+ ":", :class => 'field_info'   
        = f.collection_select :item_id, Item.all, :id, :name, {:prompt => true}
        = error_on(@group, :item_id)
      .field.module
        = f.label t('groups.city') + ":", :class => 'field_info' 
        = f.collection_select :city_id, City.all, :id, :name, {:prompt => true}
        = f.collection_select :district_id, @group.city.districts, :id, :name
      .field
        = f.label t('groups.is_private') + ":", :class => 'field_info' 
        = f.check_box :is_private
      .field
        = f.label t('groups.join_mode.name') + ":", :class => 'field_info' 
        .group_radio_button
          = f.radio_button :join_mode, Group::JOIN_FREE
          = f.label 'join_mode_1',  t('groups.join_mode.no_restrict') 
          %br
          = f.radio_button :join_mode, Group::JOIN_AFTER_AUTHENTICATAION  
          = f.label 'join_mode_2', t('groups.join_mode.authenticate_before_join') 
          %br
          = f.radio_button :join_mode, Group::JOIN_BY_INVITATION_FROM_ADMIM
          = f.label 'join_mode_3', t('groups.join_mode.invite_by_admin') 
        = error_on(@group, :join_mode)
        - unless is_edit
          %span.sync_to_weibo
            = check_box_tag 'sina_weibo', 'yes', true  
            = label_tag 'sina_weibo', '同时发布到新浪微博'
      .field.hide
        = f.text_field :image_url_large
        = f.text_field :image_url_medium
        = f.text_field :image_url_small
    .span-14.actions
      = f.submit '保存小组信息'

:javascript
  $(function() {
    var validator = $("#new_group").add("form.edit_group").validate({  
      rules:{
        "group[name]": {
          required: true,
          maxlength: 40 
         },
        "group[description]": {
            required: true,
            maxlength: 1000 
         },
        "group[item_id]": "required"
      },
      messages: {
        "group[name]": {
          required: "请输入小组名称",
          maxlength: "小组名称不能超过{0}个字符"
        },
        "group[description]": {
          required: "请输入小组描述",
          maxlength: "小组描述不能超过{0}个字符"
        },
        "group[item_id]": {
          required: "请选择小组所属类型"
        }
      }
    });  
  });

  $('#group_city_id').change(function() {
    $.get("#{districts_of_city_path}", {id: $("#group_city_id").val(),
                                        select_name: 'group[district_id]'}, function(data){
      $("#group_district_id").replaceWith(data);
    });
  }); 
  
