.span-24
  .span-6
    .group_avatar
      = group_image_tag(@group, :thumb_large)
    %hr.space
    %ul.nav
      %li=link_to '1.填写小组信息', edit_group_path(@group, 'new') 
      %li=link_to '2.邀请好友', 'javascript:void(0)', :class => 'current'

    
  .span-18.last   
    = render 'common/header_box', :title => '邀请好友',  :background_color => '#8dbc6e'
    .span-17.invite_friends_area
      %h4= link_to '全选', "#", :class => 'select_all_friend' if to_be_invited.size > 0
     
      - if to_be_invited
        .span-17.friends
          = render 'people/select_people', :people => to_be_invited, :class_name => 'select_invitees'
      %h4= '您还没有好友，去找几个志同道合的人吧' unless friends.size > 0 
      .span-17
        .button_container
          = link_to('javascript:void(0)', :class => "invite") do
            .invite_button.glass_button
              ='发送邀请'
          = link_to(group_path(group)) do
            .invite_button.glass_button
              ='完成'

      .span-14.invited_friends
        - if invitees_size > 0
          .span-6
            %h4
              = '已向'
              = link_to "#{invitees_size}", '#'
              = '位好友发出邀请'
          .span-14
            = render :partial => "events/event_participants", :locals => { :participants => invitees_summary, 
                                                                    :perline => 3, 
                                                                    :no_pagination => true, 
                                                                    :edit => false}
        

:javascript
  $('a.select_all_friend').click(function() {
    if ($(this).hasClass('selected')) {
      $('.friends a.person_block').removeClass('selected');
      $(this).html("#{t('events.participants.select_all')}");
    } else {  
      $('.friends a.person_block').addClass('selected');
      $(this).html("#{t('events.participants.select_none')}");
    }
      $(this).toggleClass("selected");
    return false;
  });

  $('a.invite').click(function() {
    var data = "";
    if ($('.friends a.person_block.selected').length > 0) {
      $('.friends a.person_block.selected').each(function(index) {
        data = data + $(this).attr('person_id') + ',';
      });
      $.post("#{group_invite_path(group.id)}", {selectedIds: data}); 
      location.reload();
    }
    return false;
  });
