-content_for :head do
  = include_stylesheets :special_pages_group_panel, :media => 'all'
.group_box_panel
  %a{ :href => group_path(group) }
    .group_box
      .group_image
        = group_image_tag(group, :thumb_medium)
      
      .group_message
        .group_title
          = group.name

        .group_detail
          .detail_piece
            .number
              = group.members.size
            .name
              = "成员"
          .detail_piece
            .number
              = group.topics.size
            .name
              = "话题"
          .detail_piece
            .number
              = group.events.size
            .name
              = "活动"


