.span-17
  .span-14.last
    %ul.nav
      %li= link_to "小组主页", group_path(@group), :class => "#{is_active?(current,"show")}"
      %li= link_to "小组成员", members_group_path(@group), :class => "#{is_active?(current, "members")}"
      %li= link_to "讨论区", forum_group_path(@group), :class => "#{is_active?(current,"forum")}"
.span-7.last
  = link_to t('back'), groups_path, :class => "button right"
%hr

