.box_element
  .content
    %h4
      = object_name_link( group)  
    .box_avatar
      = group_image_link( group,:thumb_large )
    .box_status
      .element.first
        %span.member{:style => "height: 12px; text-align: center; display:block;  color: #ff8a3c"}=group.members.size
        %span{:style => "height: 12px; text-align: center; display:block; "}= "成员"
      .element
        %span.events{:style => "height: 12px; text-align: center; display:block;  color: #aad450"}= group.events.size
        %span{:style => "height: 12px; text-align: center; display:block; "}= "活动"
      .element
        %span.topics{:style => "height: 12px; text-align: center; display:block;  color: #4ebaff"}= group.topics.size
        %span{:style => "height: 12px; text-align: center; display:block;"}= "话题"

