-content_for :head do
  = include_stylesheets :sepcial_pages_groups_hottest, :media => 'all'

.group_avatar
  = group_image_tag(group, :thumb_large)

.group_des
  .description
    %h3= group.name
    %hr
    %h4= "小组描述"
    %p= simple_format group.description

.group_info
  %p
    %b= t('groups.created_at')+ ":"
    = l(group.created_at, :format => :long)
  %p
    %b= t('groups.item')+ ":"
    = link_to group.item.name, item_path(group.item_id)
  %p
    %b= t('groups.city') + ":"
    = group.city.name
  %p
    %b= t('groups.owner') + ":"
    = link_to group.person.name, person_path(group.person)

    
