-content_for :head do
  = include_stylesheets :sepcial_pages_groups_common, :media => 'all'
  = include_stylesheets :forum_large, :media => 'all'
.span-24
  = render "groups/group_nav_bar", :group => @group, :current => 'forum'
.span-24
  .span-22
    .span-22.forum_nav
      %h3= @group.name + '的话题' + ":"
      = link_to "发起话题", new_group_topic_path(@group), :class => "button right"
      %hr
    = render "topics/index"

