-content_for :head do
  = include_stylesheets :sepcial_pages_groups_common, :media => 'all'
  = include_stylesheets :sepcial_pages_groups_index, :media => 'all'

#city_select_box.hide    
  - City.all.each do |city|
    %h4.inline= link_to city.name, "/groups/?city=#{city.pinyin}"

.span-24
  %h2.title
    = '小组:'
    = link_to @city.name , '#', :id => 'switch_city'
  %hr

%h4='本周热门:'
.span-24.hot_box
  %h2
  .hot_groups
    #slider
      %ul
        - @hot_groups.each do |g|
          %li
            = render 'hottest_group', :group => g
    %span#preBtn= link_to '<', 'javascript:void(0);'
    %span#nextBtn= link_to '>', 'javascript:void(0);'
%hr.space
%hr.space
%h4='寻找你喜欢的小组:'
    
.span-24.hot_box
  %h2
  .hot_groups
    .search_line
      .filter_title
        =link_to '项目', 'javascript:void(0);' 
      .filter_items
        = link_to '全部', group_filter_path(@city.pinyin)
        - Item.all.each do |i|
          = link_to i.name, group_filter_path(:city => @city.pinyin, :item_id => i.id)
    .search_line
      .filter_title
        =link_to '区域', 'javascript:void(0);' 
      .filter_items
        = link_to '全部', group_filter_path(@city.pinyin)
        - @city.districts.each do |d| 
          = link_to d.name, group_filter_path(:city => @city.pinyin, @district_id => d.id)

%hr.space
%hr.space
%h4='推荐小组:'
.span-24.hot_box
  %h2
  .hot_groups
    - @hot_items.each do |i|
      .hot_item_groups
        .item_avatar
          = item_image_link(i, :size => :thumb_large) 
        - i.groups.at_city(@city).limit(4).each do |g|
          .item_group
            = group_image_link(g, :thumb_large) 
            = g.name
        = link_to '更多', group_filter_path(:city => @city.pinyin, :item_id => i.id), :class => 'right'
      %hr



:javascript
  $(function() {

    var left = $('#switch_city').offset().left;
    var t =$('#switch_city').offset().top + $('#switch_city').innerHeight();
    $('#city_select_box').css("left", left+"px");
    $('#city_select_box').css("top", t+"px");
  });

  $('#nextBtn').bind('click', slideRight);
  $('#preBtn').bind('click', slideLeft);

  function slideLeft() {
    $('#preBtn').unbind('click');
    var left = $('#slider ul').css('marginLeft');
    if(left == '0px') {
        $('#slider ul li:last').after($('#slider ul li:first'));
        $('#slider ul').css('marginLeft', '-1816px');
        $('#slider ul').animate({marginLeft: '-908px'}, 300, function(){ 
          $('#preBtn').bind('click', slideLeft);
        });
    } else if(left == '-908px') {
      $('#slider ul').animate({marginLeft: '0px'}, 300, function(){
        $('#preBtn').bind('click', slideLeft);
       });
    } else {
      $('#slider ul').animate({marginLeft: '-908px'}, 300, function(){
        $('#preBtn').bind('click', slideLeft);
      });
    }
  }

  function slideRight() {
    $('#nextBtn').unbind('click');
    var left = $('#slider ul').css('marginLeft');
    if(left == '0px') {
      $('#slider ul').animate({marginLeft: '-908px'}, 300, function(){
        $('#nextBtn').bind('click', slideRight);
       });
    } else if(left == '-908px') {
      $('#slider ul').animate({marginLeft: '-1816px'}, 300, function(){
        $('#nextBtn').bind('click', slideRight);
      });
    } else {
      $('#slider ul li:first').before($('#slider ul li:last'));
      $('#slider ul').css('marginLeft', '0px');
      $('#slider ul').animate({marginLeft: '-908px'}, 300, function(){
        $('#nextBtn').bind('click', slideRight);
      });
    }
  }

  $("#switch_city").click(function(e) {
    $('#city_select_box').toggleClass('hide'); 
    e.stopPropagation();
    return false;
  });
      
