-content_for :head do
  = include_stylesheets :sepcial_pages_groups_common, :media => 'all'
  = include_stylesheets :sepcial_pages_groups_index, :media => 'all'
  = include_stylesheets :common_index, :media => 'all'

#city_select_box.hide    
  - City.all.each do |city|
    %h4.inline= link_to city.name, "/groups/?city=#{city.pinyin}", :class => 'group_color'

.span-24.nav_bar
  %h1.inline.app_subfunction_title.groups= '乐玩小组'
  %h3.inline= link_to @city.name , '#', :id => 'switch_city', :class => 'dark_gray'
  =link_to '创建小组', new_group_path, :class => 'button right new_group'

- if @hot_groups.size > 0
  .span-24.prepend-top
    = render 'common/header_box',  :title => '热门小组', :dark => true 
  .hot_gallery
    .gallery_content
      =link_to 'pre', '#', :class => 'gallery_link_pre hide', :id => 'preBtn'
      .gallery_inner
        %ul
          - @hot_groups.each do |group|
            %li
              = render 'hottest_group', :group => group 
      =link_to 'next', '#', :class => "gallery_link_next #{"hide" unless @hot_groups.size > 2 }", :id => 'nextBtn'
    
.span-24.prepend-top
  = render 'common/header_box',  :title => '寻找感兴趣的小组', :dark => false
  .hot_groups
    .search_line
      .filter_title
        =link_to '项目', 'javascript:void(0);' 
      .filter_items
        = link_to '全部', group_filter_path(@city.pinyin)
        - Item.all.each do |i|
          = link_to i.name, group_filter_path(:city => @city.pinyin, :item_id => i.id)
    .search_line
      .filter_title
        =link_to '区域', 'javascript:void(0);' 
      .filter_items
        = link_to '全部', group_filter_path(@city.pinyin)
        - @city.districts.each do |d| 
          = link_to d.name, group_filter_path(:city => @city.pinyin, @district_id => d.id)

.span-24.prepend-top
  = render 'common/header_box',  :title => '推荐小组', :dark => false
  .hot_groups
    - @hot_items.each do |i|
      .hot_item_groups
        = link_to '更多', group_filter_path(:city => @city.pinyin, :item_id => i.id), :class => 'right'
        .item_avatar
          = item_image_link(i, :size => :thumb_large) 
        - i.groups.at_city(@city).limit(5).each do |g|
          .item_group
            = group_image_link(g, :thumb_large) 
            = link_to trim_info(g.name, 9), group_path(g)

:javascript
  $(function() {
    var left = $('#switch_city').offset().left;
    var t =$('#switch_city').offset().top + $('#switch_city').innerHeight();
    $('#city_select_box').css("left", left+"px");
    $('#city_select_box').css("top", t+"px");
  });

  $("#switch_city").click(function(e) {
    $('#city_select_box').toggleClass('hide'); 
    e.stopPropagation();
    return false;
  });
      

  $('#nextBtn').bind('click', slideRight);
  $('#preBtn').bind('click', slideLeft);

  var first_li = "0px"; 
  var last_li = "-" + parseInt("#{@hot_groups.size / 2 + @hot_groups.size % 2 - 1}") * 844 + 'px';

  function getPre(current) {
    var pre = parseInt(current.match(/\d+/)) - 844;
    if(pre == 0) {
      return pre+'px';
    }else {
      return '-' + pre + 'px'; 
    }
  }

  function getNext(current) {
    var next = parseInt(current.match(/\d+/)) + 844;
    if(next == 0) {
      return next+'px';
    }else {
      return '-' + next + 'px'; 
    }
  }

  function slideLeft() {
    $('#preBtn').unbind('click');
    var left = $('.hot_gallery ul').css('marginLeft');
    $('.hot_gallery ul').animate({marginLeft: getPre(left)}, 300, function(){ 
      $('#preBtn').bind('click', slideLeft);
      var left = $('.hot_gallery ul').css('marginLeft');
      if (left != last_li) {
        $('#nextBtn').show();
      }
      if (left == first_li) {
        $('#preBtn').hide(); 
        $('.gallery_inner').css("marginLeft", '30px');
      }
    });
    return false;
  }

  function slideRight() {
    $('#nextBtn').unbind('click');
    var left = $('.hot_gallery ul').css('marginLeft');
    $('.hot_gallery ul').animate({marginLeft: getNext(left)}, 300, function(){
      $('#nextBtn').bind('click', slideRight);
      var left = $('.hot_gallery ul').css('marginLeft');
      if (left != first_li) {
        $('#preBtn').show(); 
        $('.gallery_inner').css("marginLeft", '0px');
      }
      if (left == last_li) {
        $('#nextBtn').hide();
      }
    });
    return false;
  }

