- content_for :head do
  = include_stylesheets :sepcial_pages_groups_common, :media => 'all'
  = include_stylesheets :sepcial_pages_groups_form, :media => 'all'
  = include_stylesheets :common_vertical_nav
.span-24
- if @step ==1
  = render 'form', :is_edit => false
- else
  = render 'friends_invitation', :group => @group, :invitees_summary => @invitees,
                                 :invitees_size => @invitees_size, :to_be_invited => @to_be_invited_friends, 
                                 :friends => @friends

