-content_for :head do
  = include_stylesheets :sepcial_pages_groups_show, :media => 'all'
  =include_stylesheets :common_vertical_nav

.span-24
  .span-6.left_column
    .avatar=group_image_tag(@group, :thumb_large)
    
    .span-6.append-bottom.prepend-top
      %ul.nav
        %li=link_to '小组活动', group_events_path(@group)
        %li=link_to '小组讨论区', forum_group_path(@group) 
        %li.last_li=link_to '小组成员', members_group_path(@group) 

    .span-7.other_info
      %span.info_block
        %span.des.info
          .left='小组信息:'
          - if  current_user && @group.has_admin?(current_user.person) 
            .content
              =link_to(edit_group_path(@group), :class => 'right') do
                .edit_button.glass_button.quit
                  ='编辑'
        %span.info
          .left='创建时间:'
          .content=l(@group.created_at, :format => :long) 
        %span.info
          .left='小组类型:'
          .content=link_to @group.item.name, item_path(@group.item)
        %span.info
          .left='小组组长:'
          .content=link_to @group.person.name, person_path(@group.person)
    %hr.space
    - if @members.size > 0
      .members
        %h4.app_module_title.inline='小组成员'
        .person_array
          - @members.each do |member|
            = person_image_link(member)
        .clear
  
  .span-17.last.right_column
    =render 'common/big_header_box', :number => @member_size, :text => '成员', :background_color => '#ff8a3c'
    =render 'common/big_header_box', :number => @event_size, :text => '活动', :background_color => '#aad450'
    =render 'common/big_header_box', :number => @topic_size, :text => '话题',  :background_color => '#4ebaff'
    .share_operations.right
      %span='分享此小组'
      #share_to_sina
        %br
      #share_to_qq
        %a{:class=> 'share', :href => 'javascript:void(0)',:alt=>"转播到腾讯微博"}
          %img{:src=>"http://v.t.qq.com/share/images/s/weiboicon32.png", 
               :align=>"absmiddle", :border=>"0"}  
    .span-17
      =render 'common/header_box', :title => '小组描述'

    .group_title_bar
      .span-16
        .span-13.group_title
          %h2=@group.name
          - if current_user
            %h4.status=group_status_info(@group, current_user.person)
        .span-3.operations.last.right
          - if current_user
            - unless @group.has_admin?(current_user.person)
              - if @group.joinable?(current_user.person)
                =link_to(group_memberships_path(@group), :method => 'post', :class => 'right') do
                  .join_button.glass_button
                    ='加入小组'
              - if @group.has_member?(current_user.person)
                =link_to(group_membership_path(@group), :method => 'delete', :class => 'right') do
                  .join_button.glass_button.quit
                    ='退出小组'

          
      .span-16.group_desc
        = simple_format(@group.description)
    =render 'common/header_box', :title => '小组动态', :blue => true
    .span-17.group_tabs
      %ul.home_tabs
        %li#recent_event
          =link_to "近期活动","javascript:void(0)", :class => 'current'
        %li#recent_topic
          =link_to "近期话题","javascript:void(0)"
        - if @is_member
          .new_event_link
            = render 'common/big_link_button', :content => '发起活动', :path => new_event_path(:group_id => @group.id) 
          .new_topic_link.hide
            = render 'common/big_link_button', :content => '发起话题', :path => new_group_topic_path(:group_id => @group.id)

      .span-17.recent_events_area
        - if @recent_events.size > 0
          .span-17.events_panel
            =render :partial => 'events/event_element',:collection => @recent_events,:as => :event
            - if @is_member
              =render :partial => 'events/new_event_link', :locals => { :question => '没找到感兴趣的活动?',
                                                                      :link => new_event_path(:group_id => @group),
                                                                      :action => '发起活动'}
        - else
          - if @is_member
            .span-17.events_panel
              =render :partial => 'events/new_event_link', :locals => {:question => '小组还没有活动?',
                                                                       :link => new_event_path(:grouo_id => @group),
                                                                       :action => '发起活动'}
          - else
            .span-17.recent_topic
              =render :partial => 'events/new_event_link', :locals => {:question => '本小组还没有活动...'}
              
              
            
      .span-17.hide.recent_topics_area
        - if @topics.size > 0
          .topics_panel
            = render 'topics/recent_topics.html.haml', :topics => @topics
        - else
          - if @is_member
            .span-17.no_topics_panel 
              =render :partial => 'events/new_event_link', :locals => { :question => '小组还没有话题?',
                                                                      :link => new_group_topic_path(@group),
                                                                      :action => '发起话题'}
          - else
            .span-17
              =render :partial => 'events/new_event_link', :locals => {:question => '本小组还没有话题...'}


        
:javascript
    $(function() {
      var _w = 32 , _h = 32;
      var param = {
        url:location.href,
        type:'1',
        count:'', 
        appkey:'', 
        title:"喜欢#{@group.item.name}的看过来，分享一个#{@group.item.name}小组<#{@group.name}>，感兴趣的人火速加进来，定期有精彩活动哦!", 
        pic:'', 
        ralateUid:'2320930322', 
        rnd:new Date().valueOf()
      }
      var temp = [];
      for( var p in param ){
        temp.push(p + '=' + encodeURIComponent( param[p] || '' ) )
      }
     $('#share_to_sina').html('<iframe allowTransparency="true" frameborder="0" scrolling="no" src="http://hits.sinajs.cn/A1/weiboshare.html?' + temp.join('&') + '" width="'+ _w+'" height="'+_h+'"></iframe>')
        
    });
    $('.events_panel .new_event_link').hover(
      function() {
        $('.events_panel .new_event_panel h2').toggle();
      }, 
      function() { 
        $('.events_panel .new_event_panel h2').toggle();
      }
    );    
    $('.no_topics_panel .new_event_link').hover(
      function() {
        $('.no_topics_panel .new_event_panel h2').toggle();
      }, 
      function() { 
        $('.no_topics_panel .new_event_panel h2').toggle();
      }
    );    

  $('li#recent_event a').click(function() {
   $(this).addClass('current'); 
   $('.recent_events_area').show();
   $('.recent_topics_area').hide();
   $('li#recent_topic a').removeClass('current');
   $('.group_tabs .new_event_link').show();
   $('.group_tabs .new_topic_link').hide();
  });

  $('li#recent_topic a').click(function() {
   $(this).addClass('current'); 
   $('.recent_topics_area').show();
   $('.recent_events_area').hide();
   $('li#recent_event a').removeClass('current');
   $('.group_tabs .new_event_link').hide();
   $('.group_tabs .new_topic_link').show();
  });

   $('#share_to_qq a').click(function() {
    postToWb();
    return false;
   });

  function postToWb(){
    var _t = encodeURI("喜欢#{@group.item.name}的看过来，分享一个#{@group.item.name}小组<#{@group.name}>，感兴趣的人火速加进来，定期有精彩活动哦!");
    var _url = encodeURIComponent(document.location);
    var _appkey = encodeURI("appkey")
    var _pic = encodeURI('');
    var _site = 'www.haoxiangwan.net';
    var _u = 'http://v.t.qq.com/share/share.php?url='+_url+'&site='+_site+'&title='+_t;
    window.open( _u,'', 'width=700, height=680, top=0, left=0, toolbar=no, menubar=no, scrollbars=no, location=yes, resizable=no, status=no' );
  }
  
