-content_for :head do
  = include_stylesheets :sepcial_pages_users_selectinterests, :media => 'all'
  :css
    .header{ display:none; } 
.span-24.select_interests
  %h2='2.选择感兴趣的活动类型'
  - @items.each do |item|
    %a.avatar{:item_id => item.id, :class => (item.selected ? 'selected' : '')}
      = item_image_tag(item, :thumb_medium)
      %h4.title= item.name
  .span-21.prepend-top
    %h3.selected_items='你的兴趣:'
    .results
      %br
      %span.item.hide='haha'
      - @my_items.each do |item|
        %span.item{:item_id => item.id}=item.name
    .submit_button
      %a.submit='next'

:javascript
  $('a.avatar').click(function() {
    var item_id = $(this).attr('item_id');
    $(this).toggleClass('selected'); 
    if ($(this).find('img:visible').size() >  0) {
      $('.results .item[item_id="'+ item_id + '"]').remove(); 
    } else {  
      var item = $('.results .item:first').clone();
      $('.results .item:last').after(item);
      item.attr('item_id', $(this).attr('item_id'))
          .html($(this).find('.title').html())
          .show();
  }
  });

  $('a.submit').click(function() {
    var data = "";
    if($('a.avatar.selected').size() > 0) {
      $('a.avatar.selected').each(function(index) {
        data = data + $(this).attr('item_id')+',';
      });
    }
    $.post("#{choose_interests_path}", {item_ids: data}, function(data, textStatus){
      if (textStatus == 'success') {  
        $(location).attr('href', "#{root_path}");
      }
    }); 
    
  });
