-content_for :head do
  = include_javascripts :jquery_validation

.span-24
  .login.reg_area
    %h2= "修改密码"
    = form_tag update_password_path, :method => :put, :id => 'change_password', do
      .reg_relative
        .reg_input.reg_password
          = password_field_tag :current_password
          = label_tag :current_password, '当前密码', :class => "password in_field"
          - if @user
            = label_tag :current_password, '您输入的当前密码' + @user.errors[:current_password][0], :class => 'error'
        .reg_input.reg_password
          = password_field_tag :password
          = label_tag :password, '新密码', :class => "password in_field"
        .reg_input.reg_password
          = password_field_tag :password_confirmation
          = label_tag :password_confirmation, '新密码确认', :class => "password in_field"
        .reg_input.submit
          .reg_action
            =submit_tag '完成', :class => "log_submit right"


:javascript
  $(".in_field").click(function() {
    $(this).hide();
    $(this).siblings("input").focus();
  }); 

  $("#current_password").add("#password").add("#password_confirmation").focus(function() {
    $(this).siblings(".in_field").hide();
  }); 
  
  $("#current_password").add("#password").add("#password_confirmation").change(function() {
    $(this).siblings(".in_field").hide();
  }); 
  

  $("#current_password").add("#password").add("#password_confirmation").blur(function() {
    field = $(this).siblings(".in_field")
    if ($.trim($(this).val()) == '' ) {
      $(this).val('');
      field.show();
    }
  });

  
  $(document).ready(function() {
    if ($.trim($('#current_password').val()) != '') {
      $('#current_password').siblings(".in_field").hide();
    }
    if ($.trim($('#password').val()) != '') {
      $('#password').siblings(".in_field").hide();
    }
    if ($.trim($('#password_confirmation').val()) != '') {
      $('#password_confirmation').siblings(".in_field").hide();
    }


    $('#change_password').validate({  
      rules: {
        'current_password': {
          required: true
        },
        'password': {
          required: true,
          minlength: 5 
        },
        'password_confirmation': {
          required: true,
          equalTo: "#password"
        }
      },
      messages: {
        'current_password': {
          required: '请输入当前密码'
        },
        'password': {
          required: '请输入新密码',
          minlength: '密码长度不能少于{0}位'
        },
        'password_confirmation': {
          required: '请再一次输入您的密码',
          equalTo: '两次输入的密码不一致'
        }
      }
    });
  });
   
  

       
