-content_for :head do
  = include_javascripts :jquery_validation
  = include_stylesheets :special_pages_registration_new, :media => 'all'
.span-24
  .reg_area
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
      %h3
        = t('.sign_up_for_isport')

      .reg_relative
        .reg_email  
          = f.text_field :email, :id => "email"       
          = f.label :email, t('email'), :class => "email in_field"

        .reg_password
          = f.password_field :password, :id => "password"
          = f.label :password, t('password'), :class => "password in_field"

        .reg_password
          = f.password_field :password_confirmation, :id => "password_confirmation"
          = f.label :password_confirmation, t('password_confirmation'), :class => "password in_field"

        = f.submit t('.sign_up'), :class => "signup_botton"

  .flack_area
    = "欢迎来到乐玩"
    %br
    .reg_reason
      .plus_row 
        .plus_area
          = render 'common/header_box', :title => "找到你的活动" , :dark => false
      .plus_row 
        .plus_area
          = render 'common/header_box', :title => "找到你的项目" , :dark => false
      .plus_row 
        .plus_area
          = render 'common/header_box', :title => "找到你的小组" , :dark => false

      .direct_login
        ="> 如果你已经有乐玩帐号："  
        =link_to "直接登录", sign_in_path

:javascript
  $(function() {
    $('#user_new').validate({  
      rules: {
        'user[email]': {
          required: true,
          email: true
        },
        'user[password]': {
          required: true,
          minlength: 5 
        },
        'user[password_confirmation]': {
          required: true,
          equalTo: "#user_password"
        }
      },
      messages: {
        'user[email]': {
          required: '请输入电子邮箱',
          email: '邮箱格式错误'
        },
        'user[password]': {
          required: '请输入密码',
          minlength: '密码长度不能少于{0}位'
        },
        'user[password_confirmation]': {
          required: '请再一次输入您的密码',
          equalTo: '两次输入的密码不一致'
        }
      }
    });
  });

  $(".in_field").click(function() {
    $(this).hide();
    $(this).siblings("input").focus();
  }); 

  $("#email").add("#password").add("#password_confirmation").focus(function() {
    $(this).siblings(".in_field").hide();
  }); 

  $("#email").add("#password").add("#password_confirmation").blur(function() {
    field = $(this).siblings(".in_field")
    if ($.trim($(this).val()) == '' ) {
      $(this).val('');
      field.show();
    }
  });

  $(document).ready(function() {
    if ($.trim($('#email').val()) != '') {
      $('#email').siblings(".in_field").hide();
    }
    if ($.trim($('#password').val()) != '') {
      $('#password').siblings(".in_field").hide();
    }
    if ($.trim($('#password_confirmation').val()) != '') {
      $('#password_confirmation').siblings(".in_field").hide();
    }
  });

