=content_for :head do
  = include_stylesheets :sepcial_pages_home_index, :media => 'all'
  = include_stylesheets :sepcial_pages_home_upload, :media => 'all'
  = include_javascripts :scroll_page
  = include_javascripts :show_photo
  = include_javascripts :google_map
  = javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false"

.span-18.last.content_panel
  .home_container
    .nav_tab
      %ul
        %li
          =link_to "信息","/home/show_post",:remote => true,:id => 'post'
        %li
          =link_to "活动","/home/show_event",:remote => true,:id=>'event_info'
    .feed_toolbar
      %ul.event.hide
        %li
          =link_to "近期活动","/home/show_event",:remote => true,:id=>'recent_event'
        %li
          =link_to "我的活动","/home/show_my_event",:remote => true,:id => 'my_event'
        %li
          =link_to "朋友活动","/home/show_following_event",:remote => true,:id => 'following_event'
      = render 'common/post',:item_topic => @item_topic, :recent_topics => @recent_topics

    .events_panel.post_element_panel
    .clear

#hide_area
  .topic_tag.hide
    = link_to '话题', 'javascript:void(0)', :class => 'topic_name' 
    = link_to 'x', 'javascript:void(0)', :class => 'close_topic_tag'
    
.span-6.last.right_bar
  = render 'people/person_list', :person => @person
:javascript
  $( ".nav_tab a" ).live( "click",function( ){
    $(".feed_toolbar").fadeTo(100, 0.4);
    $(".events_panel").fadeTo(100, 0.4);
    })
  $( ".feed_toolbar .event a" ).live( "click",function( ){
    $(".events_panel").fadeTo(100, 0.4);
    })

  $.get("/home/show_post");

  $(document).ready(function () { 
    setInterval("startRequest()",100000); 
  }); 
  function startRequest() { 
    $.get("/status_messages/refresh");
  } 
  

  
