=content_for :head do
  = include_stylesheets :sepcial_pages_home_index, :media => 'all'
  = include_stylesheets :sepcial_pages_home_upload, :media => 'all'
  = include_javascripts :scroll_page
  = include_javascripts :show_photo
  =javascript_include_tag "http://api.youku.com/api/js/swfobject.js"

.span-16.last.content_panel
  #shit
    #fuck
  .home_container
    .nav_tab
      %ul
        %li
          =link_to "微博","/home/show_post",:remote => true,:id => 'post'
        %li
          =link_to "活动","/home/show_event",:remote => true,:id=>'event_info'
      .nav_progress.hide
        .progress
    .feed_toolbar
      %ul.event.hide
        %li
          =link_to "近期活动","/home/show_event",:remote => true,:id=>'recent_event'
        %li
          =link_to "我的活动","/home/show_my_event",:remote => true,:id => 'my_event'
        %li
          =link_to "朋友活动","/home/show_following_event",:remote => true,:id => 'following_event'
      = render 'common/post',:item_topic => @item_topic, :recent_topics => @recent_topics, :is_binded => @is_binded

    .events_panel.post_element_panel
    .clear

#hide_area
  .topic_tag.hide
    = link_to '话题', 'javascript:void(0)', :class => 'topic_name' 
    = link_to 'x', 'javascript:void(0)', :class => 'close_topic_tag'
= render :partial  => 'status_messages/post_reader'      
.span-8.last.right_bar
  = render 'people/person_list', :person => @person
:javascript
  $( "#event_info" ).live( "click",function(){
    $(' .events_panel').removeClass( "status_message_refresh" );
     } );
  $( ".nav_tab a" ).live( "click",function( ){
    $(".nav_progress").show();
    })
  $( ".feed_toolbar .event a" ).live( "click",function( ){
    $(".nav_progress").show();
    })

  $.get("/home/show_post");
  $(".nav_progress").show();

  $(document).ready(function () { 
    setInterval("startRequest()",100000); 

    var w = $(window).width();
    if(w > 750) {
      $("#post_reader_content").css("left", (w-750)/2 + "px");
    }
  }); 
  function startRequest() { 
    $.get("/status_messages/refresh");
  } 

