=content_for :head do
  = include_stylesheets :sepcial_pages_home_index, :media => 'all'
  =include_javascripts :scroll_page
  =include_javascripts :show_photo
  =include_javascripts :status_message
  = include_javascripts :google_map
  = include_javascripts :jquery_validation
  =javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false"
.span-18.last.content_panel
  .home_container
    .nav_tab
      %ul
        %li
          =link_to "信息","/home/show_post",:remote => true,:id => 'post'
        %li
          =link_to "活动","/home/show_event",:remote => true,:id=>'event_info'
    .feed_toolbar
      %ul.event.hide
        %li
          =link_to "近期活动","/home/show_event",:remote => true,:id=>'recent_event'
        %li
          =link_to "我的活动","/home/show_my_event",:remote => true,:id => 'my_event'
        %li
          =link_to "朋友活动","/home/show_following_event",:remote => true,:id => 'following_event'
      .create_post
        = form_tag '', do
          = text_area_tag 'weibo'
          = label_tag 'weibo', '说点什么吧...', :class => 'placeholder'
        
      .new_event.hide
        = render 'common/big_link_button', :content => '发起活动', :path => new_event_path 
      .new_post
        = render 'common/big_link_button', :content => '分享', :path => new_status_message_path 
      .post_type_bar
        %a{:class => 'photo'} 
          %span.img
          %span.desc='图片'
        %a{:class => 'topic'} 
          %span.img
          %span.desc='话题'
        %a{:class => 'at_friend'} 
          %span.img
          %span.desc='好友'
        .popup_box.topic_box.hide
          .box_border_top 
          .box_center
            .box_border_left
            .box_content
              = link_to 'close', 'javascript:void(0)', :class => 'close_box'
              %h3='发起新话题'
              .new_topic_form
                = form_for @item_topic, :html => {:multipart => true}, do |f|
                  = render "photos/new_item_topic_photo", :topic=> @item_topic, :is_edit => false, :model_name => "item_topic"
                  .topic_content_area
                    .field
                      = f.text_field :name
                      = f.label '话题名称', :class => 'topic_name'
                      = error_on(@item_topic, :name)
                    .field
                      = f.text_area :description
                      = f.label '话题描述...', :class => 'topic_desc'
                      = error_on(@item_topic, :description)
                    .field.select
                      = f.label '话题类型:', :class => "item_id"
                      = collection_select(:item_topic, :item_id, Item.all, :id, :name, {:prompt => true})
                    .actions
                      = f.submit '保存', :class => "glass_button"
                  
                      
            .box_border_right
          .box_border_bottom
      .clear


    .events_panel
    .clear
    
.span-6.last.right_bar
  = render 'people/person_list', :person => @person
:javascript
  $(function(){
    $('#new_item_topic').validate({
      rules: {
        'item_topic[name]': {
          required: true 
        }, 
        'item_topic[item_id]': {
          required: true
        }
      },
      messages: {
        'item_topic[name]': {
          required: "*请输入话题名称"
        },
        'item_topic[item_id]': {
          required: "*请选择话题类型" 
        }
      } 
    });
  });
  $.get("/home/show_post");
  $('.create_post textarea').focusin(function() {
    $(this).css('height', '60px'); 
    $("label.placeholder").hide();
  });
  $('.create_post textarea').focusout(function() {
    if ($.trim($(this).val()) == '' ) {
      $("label.placeholder").show();
      $(this).css('height', '30px'); 
    }
  });
    
  $('.topic_content_area #item_topic_name').focusin(function(){
    $('.topic_content_area label.topic_name').hide();
  });

  $('.topic_content_area #item_topic_name').focusout(function(){
    if ($.trim($(this).val()) == '' ) {
      $('.topic_content_area label.topic_name').show();
    }
  });

  $('.topic_content_area #item_topic_description').focusin(function(){
    $('.topic_content_area label.topic_desc').hide();
  });

  $('.topic_content_area #item_topic_description').focusout(function(){
    if ($.trim($(this).val()) == '' ) {
      $('.topic_content_area label.topic_desc').show();
    }
  });


  $('.post_type_bar a.topic').click(function(){
    $('.topic_box').show();      
  });

  $('a.close_box').click(function() {
    $(this).closest('.topic_box').hide();
  });

