-content_for :head do
  = include_stylesheets :special_pages_welcome, :media => 'all'
.span-24
  .welcome_box
    .poster_box
      - @photos.each_with_index do |photo, index|
        - if index == 22
          %a{:href => sign_up_path}
            .plus_you_pic
              %span='+You'
        .image_tag
          %img{:src => photo}

    - if !AppConfig[:registrations_closed] 
      .reg_box
        .reg_info
          = t('welcome.globalinfo', :citycount=>@citycount, :usercount=>@usercount, :groupcount=>@groupcount, :eventcount=>@eventcount)
        %a{:class => "reg_main_button", :href => sign_up_path()}
          %em= "果断注册"

  .des_box
    .welcomenav_box
      %span.flack=t('welcome.itemflack')
      - @items.each do |item|
        .item_block
          .avatar
            =item_image_tag(item, :thumb_medium)
          .item_info
            %span.title=item.name
            %span.desc=item.description
            %span.like
              =item.fans.count.to_s + '人喜欢,  '
              =item.events.count.to_s + '个活动'
      
    .welcomenav_box
      %span.flack=t('welcome.eventflack')
      - @events.each do |event|
        .item_block
          .avatar
            =event_image_tag(event, :thumb_medium)
          .item_info
            %span.title=event.title
            %span.desc=event.description
            %span.like
              =event.participants.count.to_s + '人参加'
       


    .welcomenav_box
      %span.flack=t('welcome.groupflack')
      - @groups.each do |group|
        .item_block
          .avatar
            =group_image_tag(group, :thumb_medium)
          .item_info
            %span.title= group.name
            %span.desc= group.description
            %span.like
              =group.members.count.to_s + '位成员' 
        

.footer.welcome
  = render 'layouts/footer'

:javascript
  $(function(){
    pic_change();
  });

  function pic_change() {
    setTimeout(pic_change, 500); 
    if($('.plus_you_pic').css('background-color') == 'rgb(252, 68, 105)') {
      $('.plus_you_pic span').show();
      return
    }
    $('.plus_you_pic span').toggle();
  }
   
