-content_for :head do
  = include_stylesheets :special_pages_welcome, :media => 'all'
.span-24
  .welcome_box
    .poster_box
      - @people.each_with_index do |p, index|
        - if index == 22
          %a{:href => sign_up_path}
            .plus_you_pic
              %span='+You'
        = person_image_link(p)
    - if !AppConfig[:registrations_closed] 
      .reg_box
        .reg_info
          = t('welcome.globalinfo', :citycount=>@citycount, :usercount=>@usercount, :groupcount=>@groupcount, :eventcount=>@eventcount)
        %a{:class => "reg_main_button", :href => sign_up_path()}
          %em= "果断注册"

  .des_box
    .welcomenav_box
      %span.flack=t('welcome.itemflack')
      - danche = Item.find_by_name('单车')
      .item_block
        .avatar
          =item_image_tag(danche, :thumb_medium)
        .item_info
          %span.title=danche.name
          %span.desc=danche.description
          %span.like
            =danche.fans.count.to_s + '人喜欢,  '
            =danche.events.count.to_s + '个' + '活动'
      - kge= Item.find_by_name('K歌')
      .item_block
        .avatar
          =item_image_tag(kge, :thumb_medium)
        .item_info
          %span.title=kge.name
          %span.desc=kge.description
          %span.like
            =kge.fans.count.to_s + '人喜欢,  '
            =kge.events.count.to_s + '个' + '活动'
      - zhuoyou = Item.find_by_name('桌游')
      .item_block
        .avatar
          =item_image_tag(zhuoyou, :thumb_medium)
        .item_info
          %span.title=zhuoyou.name
          %span.desc=zhuoyou.description
          %span.like
            =zhuoyou.fans.count.to_s + '人喜欢,  '
            =zhuoyou.events.count.to_s + '个' + '活动'

    .welcomenav_box
      %span.flack=t('welcome.eventflack')
      - @events.each do |event|
        .item_block
          .avatar
            =event_image_tag(event, :thumb_medium)
          .item_info
            %span.title=event.title
            %span.desc=event.description
            %span.like
              =event.participants.count.to_s + '人参加'
       


    .welcomenav_box
      %span.flack=t('welcome.groupflack')
      - @groups.each do |group|
        .item_block
          .avatar
            =group_image_tag(group, :thumb_medium)
          .item_info
            %span.title=group.name
            %span.desc=group.description
            %span.like
              =group.members.count.to_s + '位成员' 
        

.footer.welcome
  = render 'layouts/footer'
  
