-content_for :head do
  = include_stylesheets :special_pages_welcome, :media => 'all'
.span-24
  .welcome_box
    .poster_box
    .reg_box
      .reg_info
        = t('welcome.globalinfo', :citycount=>@citycount, :usercount=>@usercount, :groupcount=>@groupcount, :eventcount=>@eventcount)
      %a{:class => "reg_main_button", :href => sign_up_path()}
        %em= "果断注册"

  .welcomenav_box
    = link_to t('welcome.itemflack'), items_path, :class => "flack"
    = link_to t('item_link'), items_path, :class => "item_area"

  .welcomenav_box
    = link_to t('welcome.eventflack'), events_path, :class => "flack"
    = link_to t('evnet_link'), events_path, :class => "event_area"


  .welcomenav_box
    = link_to t('welcome.groupflack'), groups_path, :class => "flack"
    = link_to t('group_link'), groups_path, :class => "group_area"
