.span-16.comment_to_event
  = person_image_link(person) 
  .content{:comment_id => "#{comment.id}"}
    %hr 
    %span
      = link_to person.name, person_path(person)
      = l(comment.created_at, :format => :long)      
      = link_to '删除', event_event_comment_path(event.id, comment.id), :class => "delete_comment new_#{comment.id}"
      = simple_format comment.content 

:javascript
  $("a.new_#{comment.id}").click(delete_comment);
