.span-18.colborder.members
  %h4.append-bottom
    = t("events.friend_participants", :count => friend_participants.size) + ":"
    = link_to t('events.participants.select_all'), "#", :class => "select_all_friend"
  .span-16.friend_member
    = render :partial => "event_participants", :locals => { :participants => friend_participants, 
                                                            :perline => 8, 
                                                            :no_pagination => true, 
                                                            :edit => true}
  .span-16
    %h4
      = t("events.other_participants", :count => @other_participants.size) + ":"
      = link_to t('events.participants.select_all'), "#", :class => "select_all_others"
  .span-16.other_member
    = render :partial => "event_participants", :locals => { :participants => other_participants, 
                                                            :perline => 8, 
                                                            :no_pagination => true, 
                                                            :edit => true}
.span-5.last
  = link_to t("operations.delete"), '#', :class => "button delete" 

.facebox_content.hide
  #delete_member_request
    .span-10.box_content
      %h4= t('activerecord.operations.event.delete_participants')
      = form_tag involvement_path, :method => 'delete' do
        = hidden_field_tag :member_ids
        = hidden_field_tag :id, @event.id
        %br
        = submit_tag t('activerecord.operations.event.save'), :class => 'button'

.facebox_content.hide
  #choose_member_notice
    .span-10.box_content
      %h4=t('events.participants.select_notice')
      %br
      = link_to t('activerecord.operations.event.save'), '#', :class => 'button choose_notice'
          
:javascript
  $('a.delete').click(function(){
    var checked = $('input[type="checkbox"]:checked');
    if (checked.length == 0) {
      $.colorbox({inline:true, href:"#choose_member_notice", opacity:0.5});
      return false;
    }
    var arr = new Array(checked.length); 
    for(var i=0; i< checked.length; i++) {
      arr[i] = $(checked[i]).val(); 
    }
    $('.facebox_content #member_ids').val(arr);
    $.colorbox({ inline:true, href:"#delete_member_request", opacity:0.5 });
    return false;
  }); 

  $('a.select_all_friend').click(function() {
    if ($(this).hasClass('selected')) {
      $('.friend_member input[type="checkbox"]').attr("checked", ""); 
      $(this).html("#{t('events.participants.select_all')}");
    } else {  
      $('.friend_member input[type="checkbox"]').attr("checked", "true"); 
      $(this).html("#{t('events.participants.select_none')}");
    }
      $(this).toggleClass("selected");
    return false;
  });

  $('a.select_all_others').click(function() {
    if ($(this).hasClass('selected')) {
      $('.other_member input[type="checkbox"]').attr("checked", ""); 
      $(this).html("#{t('events.participants.select_all')}");
    } else {  
      $('.other_member input[type="checkbox"]').attr("checked", "true"); 
      $(this).html("#{t('events.participants.select_none')}");
    }
      $(this).toggleClass("selected");
    return false;
  });

  $('#choose_member_notice .choose_notice').click(function() {
    $.colorbox.close(); 
    return false;
  });

