.avatar
  = link_to image_tag(event.image_url(:thumb_large)), event
.information
  %p.title= link_to event.title, event, :class => "nounderline"
  -if event.same_day
    %p
      %b
        = t('events.period') + ":"
      = l(event.start_at.to_date, :format => :short )  if event.current_year
      = l(event.start_at.to_date, :format => :long )  unless event.current_year
      = l(event.end_at.to_date, :format => :weekday)
      = l(event.start_at, :format => :shortest) + " ~"
      = l(event.end_at, :format => :shortest )
  -else 
    %p
      %b.app_info_label= t('events.start_at')+":"
      = l(event.start_at, :format => :long)
    %p
      %b.app_info_label= t('events.end_at')+":"
      = l(event.end_at, :format => :long)
  %p
    %b.app_info_label= t('events.location')+":"
    = event.location.to_s 
  %p
    %b.app_info_label= t('events.event_subject')+":"
    = link_to event.item.name, item_path(event.item)
  %p.at_bottom
    %br
    = event_status(event)
    = ": " + t('events.short_involvement', :count => event.participants.size) + ", "
    = t('events.short_recommendation', :count => event.references.size)
