.span-16#paginated_event_comments
  = link_to "", '#', :name => "comments" 
  = will_paginate comments,
                  pagination_options(nil, {:action => "paginate_comments",
                                     :id => event.id }) 
  -comments.each do |comment|
    -person = comment.person 
    .post_show.span-15
      = person_image_link(person)
      .content
        %hr
        %span.comment_line.name
          = link_to person.name, person_path(person) 
          %span.grey
            = l(comment.created_at, :format => :long)
          %span.person_id.hide
            = person.id
          -unless current_user.person == person
            %span.right.respond
              = link_to "回复", '#'
        %span.comment_line
          = comment.content
  .post_area.span-15
    = form_for comment, do |c|
      = person_image_link(author)
      .hide
        = c.number_field :item_id
        = c.text_field :type
        = c.number_field :person_id
      .content
        = c.text_area :content
        = submit_tag t('activerecord.operations.event.comment'), :class => 'button'

:javascript
  $('#paginated_event_comments .pagination a').live('click', function(){
    $.get(this.href, function(data){
      $('#paginated_event_comments').html(data); 
    }); 
    return false;  
  });

  $('.respond a').click(function() {
     $('.post_area textarea').focus();
     var value = $(this).html();
     value += $(this).parent().siblings('.name a').html() + ':';
     $('.post_area textarea').val(value);
     return false;
  });
   
  $('.button').button();

