.event_element{ :data_id => event.id }
  .calendar_panel
    .calendar
      .month
        =event.start_at.strftime('%m').to_s+"月"
      .day
        =event.start_at.strftime('%d').to_s
  .event_content
    .event
      .event_avatar
        = event_image_tag( event,:thuumb_medium )
      .event_details
        .title
          = event.title
        .time
          = event.start_at.strftime('%H:%M').to_s 
          = "-"
          = event.end_at.strftime('%H:%M').to_s 
        .address
          = '@'+event.address
        .description
          = event.description
      .event_info
        .author
          = person_image_link(event.person)
        .attend_count
          = "参加人数:"
          = event.participants.size
        .like_count
          = "感兴趣人数:"
          = event.references.size

  .event_tool

