%h3= link_to trim_info(event.title,20), event, :class => "nounderline title"
.span-3
  = link_to image_tag(event.image_url(:thumb_medium)), event
.span-6.last.list
  %p#notice= notice
  -if event.same_day
    %p
      %b
        = t('events.period') + ":"
      = l(event.start_at.to_date, :format => :short )  if event.current_year
      = l(event.start_at.to_date, :format => :long )  unless event.current_year
      = l(event.end_at.to_date, :format => :weekday)
      = l(event.start_at, :format => :shortest) + " ~"
      = l(event.end_at, :format => :shortest )
  -else 
    %p
      %b= t('events.start_at')+":"
      = l(event.start_at, :format => :long)
    %p
      %b= t('events.end_at')+":"
      = l(event.end_at, :format => :long)
  %p
    %b= t('events.location')+":"
    = trim_info(event.location, 15) 
  %p
    %b= t('events.event_subject')+":"
    = event.item.name
  %p
    %br
    - if event.participants.size > 0
      = t('events.short_involvement', :count => event.participants.size) + ", "
    - if event.references.size > 0
      = t('events.short_recommendation', :count => event.references.size)
