.event_box_panel
  %a{ :href => event_path( event ) }
    .event_box
      .event_border
        = event.item.name
      .content
        .title
          .name
            = truncate(event.title,:length => 35)
          .joined{ :title =>"已参加#{event.participants.size}人" }
            %span.icon
            %span.counts=event.participants.size
        .info
          .info_left
            = event_image_tag( event,:thumb_small )
            .time
              = I18n.l(event.start_at,:format => :normal)
              = "-"
              = event.end_at.strftime('%H:%M').to_s
            
            .address
              = truncate("@"+event.location.to_s,:length => 12)
          .info_right
            .calendar_panel
              .calendar
                .month
                  =I18n.l(event.start_at,:format => :month)
                .day
                  =event.start_at.strftime('%d').to_s
          .clear
    .clear
