-content_for :head do
  = include_stylesheets :special_pages_events_comments, :media => 'all'

- if comments.size > 0
  -comments.each_with_index do |comment, index|
    -author = comment.person
    .comment_block{:comment_id => comment.id}
      .comment_top
        .author_box
          = person_image_link(author)
        .author_text
          = link_to author.name, person_path(author), :class => 'author_name'
        - if current_person == author
          %a{:class => 'editIconWrapper right delete_comment', :href => event_event_comment_path(event.id, comment.id)}
            %span.editIcon='删除'
      .comment_text
        %span.content=simple_format comment.content
      .comment_bottom
        = link_to '回复', '#', :class => 'response_link' if current_person && current_person !=author
        %span.right.comment_time
          %em=l(comment.created_at, :format => :long)
    -comment.responses.each do |res|
      .response_box{:comment_id => comment.id}
        - rperson = res.person
        = person_image_link(rperson) 
        .res_text
          .res_text_inner
            .res_text_frame
              %span.res_operation.right=link_to '回复', '#', :class => 'response_link' if current_person && current_person != rperson 
              %span.right=link_to '删除', event_event_comment_path(event.id, comment.id, :response_id => res.id), :class => 'delete_response' if current_person == rperson 
              %span.res_time=l(res.created_at, :format => :long)
              %storng.res_author=link_to rperson.name, person_path(rperson), :class => 'author_name'
              .res_content
                %span=res.content

.pagination_box
  - if comments.size > 0
    = will_paginate comments, {:previous_label => t("pagination.previous"),
                               :next_label => t("pagination.next")}

- if current_person
  .span-16.prepend-top
    = render 'common/header_box', :title => '发表评论', :dark => 'true'
    .new_comment
      = form_for comment, :url => event_event_comments_path(event.id), do |c|
        = person_image_link(current_person)
        .content
          = c.text_area :content
          = submit_tag '确定', :class => 'post_button'


  .response_form.hide
    .response_box
      = person_image_link(current_person) 
      .res_text
        .res_text_inner
          .res_text_frame
            %p.res_author=current_person.name
            =form_tag event_event_comments_path(event.id) do
              = text_area_tag "comment[content]"
              = hidden_field_tag "comment[commentable_id]"
              = link_to('#', :class => 'cancel') do
                .form_button.glass_button='取消'
              .submit_button
                = submit_tag '回复', :class => 'glass_button right'
          

        
:javascript
  $(function(){
    var options = {success: appendToComments, resetForm:true};
    $('#new_event_comment').ajaxForm(options);
  });
  
  $('.response_link').click(function() {
    $(this).hide();
    responseClick($(this));  
    return false;
  });

  $('a.delete_comment').click(delete_comment);
  $('a.delete_response').click(delete_comment);

  function delete_comment() {
     var response = confirm('确定要删除这条评论吗?');
     if (!response) {
       return false;
     }
     $.post(this.href, {_method: 'delete'});

     if($(this).hasClass('delete_comment')) {
       $comment = $(this).parents('.comment_block')
       var c_id = $comment.attr("comment_id");
       $('[comment_id="'+ c_id +'"]').fadeOut(function() {  
        $(this).remove();
        if ( $('.comment_block').size() == 0 ) {
          $('.comments_title').hide();
        }
       });
     } else {
       $(this).parents('.response_box').fadeOut(function() {
        $(this).remove();
       });
     }
     return false;
  }
  
  function responseClick(link) {
    var block=null;
    if (link.parents('.response_box').size() > 0) {
      block = link.parents('.response_box')
    } else {
      block = link.parents('.comment_block')
    }
    var $res_form = block.next('.response_form');
    if ($res_form.size > 0) {
      $res_form = slideDown();
    } else {
      cloneResponseForm(block, link); 
    }
  }

  function cloneResponseForm(block, link) {
    var response_form = $('.response_form:last').clone();
    block.after(response_form);

    var options = {success: appendToResponses, resetForm: true};
    response_form.find('form').ajaxForm(options);
    response_form.find('#comment_commentable_id').val(block.attr('comment_id')); 
    response_form.slideDown('fast', function() {
      response_form.find('textarea')
                   .val('回复'+ block.find('a.author_name').html() + ":")
                   .end().find('a.cancel').click(function() {
                      link.show();
                      response_form.slideUp();                   
                      return false;
                   });
    });
  }
  
  function appendToResponses(responseText, statusText, xhr, $form){
    var $parent = $form.parents('.response_form').prev('.comment_block');
    if ($parent.size() == 0) {
      $parent = $form.parents('.response_form').prev('.response_box');
    }
    $form.parents('.response_form').hide();
    var c_id = $parent.attr('comment_id');
    $res = $(responseText);
    $('[comment_id="'+ c_id +'"]:last').after($res);
    $res.fadeIn('slow', function(){
        $parent.find('a.response_link').show();
    });
    jQuery("html,body").animate({scrollTop: $res.offset().top-200}, 0); 
  }
      
  function appendToComments(responseText, statusText, xhr, $form){
    $('.comments_title').show();
    $comment = $(responseText);
    $('.pagination_box').before($comment);
    $('.comment_block:first').addClass('first');
    $comment.fadeIn();
    return false;
  }


  
