.span-3
  = link_to image_tag(event.image_url_medium), event 
.span-9.last.list
  %h3= link_to event.title, event, :class => "nounderline"
  %p#notice= notice
  %p
    %b= t('start_at')+":"
    = event.start_at
  %p
    %b= t('end_at')+":"
    = event.end_at
  %p
    %b= t('location')+":"
    = event.location
  %p
    %b= t('event_subject')+":"
    = event.subject_id
