.span-16#paginated_event_comments
  = link_to "", '#', :name => "comments" 
  = will_paginate comments,
                  pagination_options(nil, {:action => "paginate_comments",
                                     :id => event.id }) 
  .stream
    =render :partial => "comments/event_comment",
      :collection => comments,
      :as => :comment
  .post_area.span-15
    = form_for(comment,:remote => true) do |c|
      = person_image_link(author)
      .hide
        = c.number_field :item_id
        = c.text_field :type
        = c.number_field :person_id
      .content
        = c.text_area :content
        = submit_tag t('activerecord.operations.event.comment'), :class => 'button'

:javascript
  $("abbr.timeago").timeago();
  $('#paginated_event_comments .pagination a').live('click', function(){
    $.get(this.href, function(data){
      $('#paginated_event_comments').html(data); 
    }); 
    return false;  
  });

  $('.respond a').click(function() {
     $('.post_area textarea').focus();
     var value = $(this).html();
     value += $(this).parent().siblings('.name a').html() + ':';
     $('.post_area textarea').val(value);
     return false;
  });
   
  $('.button').button();

