-content_for :head do
  = include_javascripts :jquery_validation
.span-24.event_form 
  = form_for @event, :html => { :multipart => true }, do |f|
    .span-6
      = render "photos/new_event_photo", :event => @event, :is_edit => is_edit, :model_name => "event"
      %ul.nav
        - if is_edit
          - unless new
            %li=link_to '编辑活动信息', edit_event_path(@event), :class => ("current" if params[:action] == 'edit') 
            %li=link_to '编辑活动成员', event_members_path(@event),:class => ("current" if params[:action] == 'edit_members')   
          - else
            %li=link_to '1.填写活动信息', edit_event_path(@event), :class => ("current" if params[:action] == 'edit') 
            %li=link_to '2.邀请好友', new_event_invite_path(@event)
        - else
          %li=link_to '1.填写活动信息', new_event_path, :class => ("current" if params[:action] == 'new') 
          %li=link_to '2.邀请好友', 'javascript:void(0)',:class => 'inactive' 
      = render 'common/small_link_button', :content => '取消活动', :path => '#'  if is_edit

    .span-14
      -if is_edit
        .span-9
          - unless new
            = render 'common/header_box', :title => '编辑活动信息', :background_color => '#8DBC6E' 
          - else
            = render 'common/header_box', :title => '填写活动信息', :background_color => '#8DBC6E' 
        .span-5.last
          %h4= link_to '<返回活动首页', event_path(@event), :class => 'right nav_back'
      - else
        .span-9
          = render 'common/header_box', :title => '填写活动信息', :background_color => '#8DBC6E' 
        .span-5.last
          %h4= link_to '<返回活动首页', events_path, :class => 'right nav_back'

      .span-14.form_area
        .field
          = f.label t('activerecord.attributes.event.title'), :class => "info"
          = f.text_field :title
          = error_on(@event, :title)
        .field.module
          = f.label t('activerecord.attributes.event.start_at'), :class => "info"
          .top
            = f.datetime_select :start_at
          = error_on(@event, :start_at)
        .field
          = f.label t('activerecord.attributes.event.end_at'), :class => "info"
          .top
            = f.datetime_select :end_at
          = error_on(@event, :end_at)
        .field
          = f.fields_for :location do |location_form|
            = location_form.hidden_field :city_id
            = f.label "城市", :class => "info location"
            = collection_select nil, :province_id, Province.all, :id, :name, :selected => @city.province_id
            = collection_select nil, :city_id, @city.province.cities, :id, :name, :selected => @city.id
            = location_form.collection_select :district_id, @event.location.city.districts, :id, :name, {:prompt => true}
            %br
            = f.label "地址", :class => "info location"
            = location_form.text_field :detail
          = error_on(@event, :location)
        .field.module
          = f.label t('activerecord.attributes.event.description'), :class => "info"
          = f.text_area :description
          = error_on(@event, :description)
        .field.module
          = f.label '所属小组', :class => "info"
          = f.select :group_id, group_options(current_user.person, @group) 
        .field.subject
          = f.label t('activerecord.attributes.event.subject'), :class => "info"
          = collection_select(:event, :subject_id, (@group ? [@group.item] : Item.all), :id, :name, {:prompt => true})
          = error_on(@event, :subject_id)
        .field
          = f.label t('activerecord.attributes.event.is_private'), :class => "info"
          = f.check_box :is_private
          %br.clear
        .field#participants_limit
          = f.label t('activerecord.attributes.event.participants_limit'), :class => "info"
          = f.text_field :participants_limit
          = error_on(@event, :participants_limit)
          - unless is_edit
            - if @is_binded
              %span.sync_to_weibo
                = check_box_tag 'sina_weibo', 'yes', true  
                = label_tag 'sina_weibo', '同时发布到新浪微博'
          
        .field.hide
          = f.text_field :image_url
          = f.text_field :image_url_medium
          = f.text_field :image_url_small
      .span-14.actions
        = f.submit '保存活动信息', :class => "button"

- if is_edit
  .colorbox_content
    #cancel_event
      .span-12.box_content
        %h3='活动取消后将无法恢复， 确认要取消此活动吗？'
        %h4='请输入取消理由，理由将发送给所有活动的参加者。'
        = form_tag cancel_event_path, :id => 'cancel_event_form', do
          = hidden_field_tag :id, @event.id
          = text_area_tag :reason
          .submit
            = submit_tag '确定', :class => 'glass_button'
      
:javascript
  $(function() {
    $('#cancel_event_form').validate({
      rules: {
        "reason": {
          required: true
        } 
      },
      messages: {
        "reason": {
          required: "请输入取消活动的理由",
        } 
      }
    });
    var validator = $('#new_event').add('form.edit_event').validate({
      rules: {
        "event[title]": {
          required: true,
          maxlength: 40
        }, 
        "event[description]": {
          required: true,
          maxlength: 2000 
        },
        "event[location_attributes][detail]": {
          required: true,
          maxlength: 40
        },
        "event[subject_id]": "required"
      },
      messages: {
        "event[title]": {
          required: "请输入活动名称",
          maxlength: "活动名称不能超过{0}个字符"
        },
        "event[description]": {
          required: "请输入活动描述",
          maxlength: "活动描述不能超过{0}个字符"
        },
        "event[location_attributes][detail]": {
          required: '请输入活动详细地址',
          maxlength: '活动详细地址不能超过{0}个字符' 
        },
        "event[subject_id]": {
          required: '请选择活动所属类型'
        }
      }
    }); 
  });

  function changeCity() {
    $.get("#{districts_of_city_path}", {id: $("#_city_id").val(),
                                        select_name:'event[location_attributes][district_id]'}, function(data){
      $("#event_location_attributes_district_id").replaceWith(data);
      $("#event_location_attributes_city_id").val($("#_city_id").val());
    });
  }

  $("#_city_id").bind('change', changeCity);

  $('a.app_black_link_button').click(function(){
    $.colorbox({transition:"none", inline:true, href:"#cancel_event",
                                     opacity:0.2, width:"600", height:"370" });
    return false;
  });

  $("#_province_id").change(function() {
    $.get("#{cities_of_province_path}", {id: $("#_province_id").val(),
                                        select_name:'_city_id'}, function(data){
      $("#_city_id").replaceWith(data);
      $("#_city_id").bind('change', changeCity);
    });
  });

