-content_for :head do
  = include_javascripts :google_map
  =javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false"
.span-24.event_form 
  = form_for @event, :html => { :multipart => true }, do |f|
    .span-6.last
      = render "photos/new_event_photo", :event => @event, :is_edit => is_edit, :model_name => "event"
      .span-6
        %h4.blue="活动地图:"
        %div#map
    .span-18.left_border.last.form_area
      .span-17.last.left_margin
        .field
          = f.label t('activerecord.attributes.event.title') +":"
          = f.text_field :title
          = error_on(@event, :title)
        .field
          = f.label t('activerecord.attributes.event.start_at')+":"
          .top
            = f.datetime_select :start_at
          = error_on(@event, :start_at)
        .field
          = f.label t('activerecord.attributes.event.end_at')+":"
          .top
            = f.datetime_select :end_at
          = error_on(@event, :end_at)
        .field
          = f.label t('activerecord.attributes.event.location')+":"
          .address
            = f.fields_for :location do |location_form|
              = location_form.collection_select :city_id, City.all, :id, :name, {:prompt => true}
              = location_form.collection_select :district_id, @event.location.city.districts, :id, :name, {:prompt => true}
              = location_form.text_field :detail
          = error_on(@event, :location)
        .field
          = f.label t('activerecord.attributes.event.description')+":"
          = f.text_area :description
          = error_on(@event, :description)
        .field.subject
          = f.label t('activerecord.attributes.event.subject') +":"
          = collection_select(:event, :subject_id, Item.all, :id, :name, {:prompt => true})
          = error_on(@event, :subject_id)
        .field#participants_limit
          = f.label t('activerecord.attributes.event.participants_limit')+":"
          = f.text_field :participants_limit
          = error_on(@event, :participants_limit)
        .field.hide
          = f.text_field :image_url
          = f.text_field :image_url_medium
          = f.text_field :image_url_small
        .field.inline
          = f.label t('activerecord.attributes.event.ispublic')+":"
          = f.check_box :ispublic
          %br.clear
        .field
          = f.submit t('events.save'), :class => "button"
        %p 
        
  

:javascript
  $("#event_location_attributes_city_id").change(function() {
    $.get("#{districts_of_city_path}", {id: $("#event_location_attributes_city_id").val(),
                                        select_name:'event[location_attributes][district_id]'}, function(data){
      $("#event_location_attributes_district_id").replaceWith(data);
    });
  });
  
  $(function() {
    var address = "#{@event.location}";
    codeAddress("map",address);
  });


  
