.span-24
  .span-6
    .event_avatar
      = event_image_tag(@event, :thumb_large)
    %hr.space
    %ul.nav
      %li=link_to '1.填写活动信息', edit_event_path(@event, 'new') 
      %li=link_to '2.邀请好友', 'javascript:void(0)', :class => 'current'
  .span-17
    = render 'common/header_box', :title => '邀请好友参加"' + @event.title + '"',  :background_color => '#8dbc6e'
    .span-16.invite_friends_area
      %h4= link_to '全选', "#", :class => 'select_all_friend'
     
      - if to_be_invited
        .span-14.friends
          = render :partial => "event_participants", :locals => { :participants => to_be_invited, 
                                                                  :perline => 7, 
                                                                  :no_pagination => true, 
                                                                  :edit => true}
      .span-14
        .button_container
          = link_to('javascript:void(0)', :class => "invite") do
            .invite_button.glass_button
              ='发送邀请'
        .button_container
          = link_to(event_path(event)) do
            .invite_button.glass_button
              ='跳过'

      .span-14.invited_friends
        - if invitees_size > 0
          .span-6
            %h4
              = '已向'
              = link_to "#{invitees_size}", '#'
              = '位好友发出邀请'
          .span-14
            = render :partial => "event_participants", :locals => { :participants => invitees_summary, 
                                                                    :perline => 3, 
                                                                    :no_pagination => true, 
                                                                    :edit => false}
    

:javascript
  $(function() {
    $('.friends input[type="checkbox"]').attr("checked", ""); 
  });

  $('a.select_all_friend').click(function() {
    if ($(this).hasClass('selected')) {
      $('.friends input[type="checkbox"]').attr("checked", ""); 
      $(this).html("#{t('events.participants.select_all')}");
    } else {  
      $('.friends input[type="checkbox"]').attr("checked", "true"); 
      $(this).html("#{t('events.participants.select_none')}");
    }
      $(this).toggleClass("selected");
    return false;
  });

  $('a.invite').click(function() {
    var data = "";
    if ($('.friends input:checked').length > 0) {
      $('.friends input:checked').each(function(index) {
        data = data + $(this).val() + ',';
      });
      
      $.post("#{event_invite_path(event.id)}", {selectedIds: data}); 
      location.reload();
    }
    return false;
  });
