.span-18.hot_event
  %h3.hot_title.blue= "人气活动："
  .nav_box.left
    = link_to "<", "#", :class => "pre"
  .span-5.pic
    = event_image_link(hottest_event, :thumb_large)
  .span-8.last.border
    %h3= link_to hottest_event.title, event_path(hottest_event)
    %p
      %b= t('events.start_at')+":"
      = l(hottest_event.start_at, :format => :long)
    %p
      %b= t('events.end_at')+":"
      = l(hottest_event.end_at, :format => :long)
    %p
      %b= t('events.location')+":"
      = hottest_event.location 
    %p
      %b= t('events.event_subject')+":"
      = link_to hottest_event.item.name, item_path(hottest_event.item);
    %p.blue
      - if hottest_event.participants.size > 0
        = t('events.short_involvement', :count => hottest_event.participants.size)  
      - if hottest_event.references.size > 0
        = "," + t('events.short_recommendation', :count => hottest_event.references.size)
      - if hottest_event.comments.size > 0
        = "," + t('events.comments_count', :count => hottest_event.comments.size)
  .span-4.last
    .span-3
      .span-3.operation
        = event_application_link(hottest_event)
      .span-3.owner
        .span-3
          %b= t('events.event_owner')+":"
          %p
            = person_image_link(hottest_event.person)
            = link_to hottest_event.person.profile.name, person_path(hottest_event.person)
    .span-1.last
      %div.nav_box.right
        = link_to ">", "#", :class => "next right"

