-content_for :head do
  = include_stylesheets :sepcial_pages_events_hottest, :media => 'all'

.event_avatar
  = event_image_link(event, :thumb_large)

.event_des
  .description
    %h3= link_to event.title, event_path(event)
    %hr
    %h4= "活动内容:"
    %p= simple_format trim_info(event.description, 150)

.event_info
  %p
    %b= t('groups.created_at')+ ":"
    = l(event.start_at, :format => :long)
  %p
    %b= t('groups.item')+ ":"
    = link_to event.item.name, item_path(event.subject_id)
  %p
    %b= t('groups.city') + ":"
    = event.location.city.name
  %p
    %b= t('groups.owner') + ":"
    = link_to event.person.name, person_path(event.person)

  .static_box
    .fans_count
      %p
        %h3= link_to event.references.size, url_for(:action => "references", :id => event.id), :class => 'event_color'
        %h4= '推荐'
    .members_count
      %p
        %h3.app_color_orange= link_to event.participants.size, url_for(:action => "participants", :id => event.id), :class => 'event_color'
        %h4= '参加'
    .fans_count.last
      %p
        %h3= link_to event.comments.size, event_path(event), :class => 'event_color'
        %h4='评论'
    

  

    
