- content_for :head do
  = include_stylesheets :sepcial_pages_events_edit, :media => 'all'
  = include_stylesheets :sepcial_pages_events_common, :media => 'all'
- content_for :head do
  = include_stylesheets :forms, :media => 'all'
.span-24
  .span-24.title_bar
    %h2= t('events.edit_event') 
    %h4.tab{:class => ('current' if params[:action] == 'edit')}= link_to t("events.edit.event_info"), edit_event_path(@event);
    %h4.tab.last_tab{:class => ('current' if params[:action] == 'edit_members' )}= link_to t("events.edit.event_members"), event_members_path(@event);
    = link_to "取消活动",  "#cancel_event_request", :class => "button cancel_event right", :rel => 'facebox'
  %hr
- if @participants.nil?
  .span-18
    = render 'form', :is_edit => true
  .span-4.right
    %hr.space
    %h4= link_to '>编辑活动成员', event_members_path(@event)
- else
  = render :partial => 'edit_event_members', :locals => { :friend_participants => @friend_participants,
                                                          :other_participants => @other_participants,
                                                          :invitees => @invitees,
                                                          :friends => @friends, 
                                                          :participants => @participants}
.facebox_content.hide
  #cancel_event_request
    .span-10.box_content
      %h4
        =  t('activerecord.operations.event.cancel_notice', :count => @event.participants.size)
      %br
      %h4= t('activerecord.operations.event.cancel_reason') + ":"
      = form_tag event_path, :method => 'delete' do 
        = hidden_field_tag :id, :value => @event.id
        = text_area_tag :message
        %br
        = submit_tag t('activerecord.operations.event.save'), :class => 'button'

:javascript
  $(function() {
    $('a.back').click(function() {
      parent.history.back();
      return false; 
    }); 
  });
  $('.cancel_event').button({
    icons: {
      primary: 'ui-icon-trash'
    }
  });  

  $('.cancel_event').colorbox({ inline:true, href:"#cancel_event_request", opacity:0.1 });
                                                          
