-content_for :head do
  = include_stylesheets :sepcial_pages_events_common, :media => 'all'
  = include_stylesheets :sepcial_pages_events_filtered, :media => 'all'

#city_select_box.hide    
  - City.all.each do |city|
    %h4.inline= link_to city.name, event_filter_path(:city => city.pinyin), :class => 'event_color'

.span-24.append-bottom
  %h1.title.inline.app_subfunction_title.events= '乐玩活动'
  %h3.inline= link_to @city.name, '#', :id => 'switch_city', :class => 'dark_gray'
  .new_button_container
    = link_to(new_event_path) do
      .new_button.glass_button
        ='发起活动'


.span-24.prepend-top
  = render 'common/header_box',  :title => '寻找感兴趣的活动', :dark => false
  .hot_events
    .search_line
      .filter_title
        %strong=link_to '活动', 'javascript:void(0);'
      .filter_items
        = link_to '全部', event_filter_path(:city => @city.pinyin, :item_id => @district_id,
                                            :time => @time), :class => "#{'current' if nil == @item_id}"
        - Item.all.each do |i|
          = link_to i.name, event_filter_path(@city.pinyin,@district_id, i.id, @time), :class => "#{ 'current' if i.id.to_s == @item_id}"
    .search_line
      .filter_title
        %strong=link_to '区域', 'javascript:void(0);' 
      .filter_items
        = link_to '全部', event_filter_path(:city => @city.pinyin, :item_id => @item_id, :time => @time), :class => "#{'current' if nil == @district_id}"
        - @city.districts.each do |d| 
          = link_to d.name, event_filter_path(@city.pinyin, d.id, @item_id, @time), :class => "#{ 'current' if d.id.to_s == @district_id}"
    .search_line
      .filter_title
        %strong=link_to '时间', 'javascript:void(0);' 
      .filter_items
        = link_to '全部', event_filter_path(@city.pinyin, @district_id, @item_id, 'alltime'),  :class => "#{ 'current' if 'alltime' == @time}"
        = link_to '今天', event_filter_path(@city.pinyin, @district_id, @item_id, 'today'),  :class => "#{ 'current' if 'today' == @time}"  
        = link_to '本周', event_filter_path(@city.pinyin, @district_id, @item_id, 'week'),  :class => "#{ 'current' if 'week' == @time}" 
        = link_to '周末', event_filter_path(@city.pinyin, @district_id, @item_id, 'weekends'),  :class => "#{ 'current' if 'weekends' == @time}" 
        = link_to '一个月内', event_filter_path(@city.pinyin, @district_id, @item_id, 'next_month'),  :class => "#{ 'current' if 'next_month' == @time}" 
        = link_to '时间选择', 'javascript:void(0)'

.span-24.events_panel
  - if @events.size > 0
    =render :partial => 'events/event_element',:collection => @events,:as => :event
    =render :partial => 'events/new_event_link', :locals => {:question => '没有感兴趣的活动?',
                                                             :link => new_event_path,
                                                             :action => '发起活动'}
    

  .span-24.pagination_box
    = will_paginate @events, {:previous_label => t("pagination.previous"), 
                              :next_label => t("pagination.next")}

:javascript
  $(function() {
    var left = $('#switch_city').offset().left;
    var t =$('#switch_city').offset().top + $('#switch_city').innerHeight();
    $('#city_select_box').css("left", left+"px");
    $('#city_select_box').css("top", t+"px");

    $('.new_event_panel .new_event_link').hover(
      function() {
        $('.new_event_panel .new_event_link h2').toggle();
      }, 
      function() { 
        $('.new_event_panel .new_event_link h2').toggle();
      }
    );    
  });

  $("#switch_city").click(function(e) {
    $('#city_select_box').toggleClass('hide'); 
    e.stopPropagation();
    return false;
  });

