- content_for :head do
  = include_stylesheets :sepcial_pages_events_index, :media => 'all'
  = include_stylesheets :sepcial_pages_events_common, :media => 'all'
.span-24.prepend-top.filter_bar 
  .span-15
    %span.left
      %h2.title= t 'events.events_list' 
      %h4.border= link_to_unless_current "今天", events_today_path(@item_filter, @sort_filter)
      %h4.border= link_to_unless_current "最近一周", events_week_path(@item_filter, @sort_filter)
      %h4.border= link_to_unless_current "周末",  events_weekends_path(@item_filter, @sort_filter)
      %h4.border= link_to_unless_current "全部时间", events_alltime_path(@item_filter, @sort_filter)
      =text_field_tag 'date',  "选择日期", :readonly => true, :class => "blue"
  .span-9.last.filter_bar
    %span.right
      %h2
        %br 
      %h4.border= link_to_unless_current "按开始时间排序", filter_path(@time_filter_path, @item_filter, "by_starttime")
      %h4.border= link_to_unless_current "按人气排序", filter_path(@time_filter_path, @item_filter, "by_popularity") 
      = link_to t('events.new_event'), new_event_path, :class => "new_event right"   
.span-24
  %hr
  .span-18.border
    - if @hottest_event
      = render "hot_events", :hottest_event => @hottest_event         
    .span-18
      - @events.each_with_index do |event, index|
        .span-9.last.append-bottom.event_item
          %h3= link_to trim_info(event.title,20), event, :class => "nounderline title"
          = render "event_item", :event => event      
  .span-6.last
    .span-5.filter_area
      %h4="我喜欢的项目:" 
      %hr
      - @favorite_items.each_with_index do |item, index|
        %p
          %h4=link_to_unless_current item.name + "(#{@item_event_size[index].to_s})", filter_path(@time_filter_path, item.id, @sort_filter)
      %hr
      %h4="我参加的活动:" 
    


:javascript
  $(function() {
    $('.new_event').button({
      icons: {
        primary: 'ui-icon-circle-plus'
      }
    });  
    $("#date").datepicker(); 
    $("#date").hover(function() {
      $(this).toggleClass('underline');  
    });
  });
