%h1= t 'events_list' 

%table
  %tr
    %th= t 'start_at' 
    %th= t 'end_at' 
    %th= t 'event_title'
    %th= t 'event_description' 
    %th= t 'location' 
    %th= t 'event_subject' 
    %th
    %th
    %th

  - @events.each do |event|
    %tr
      %td= event.start_at
      %td= event.end_at
      %td= event.title
      %td= event.description
      %td= event.location
      %td= event.subject_id
      %td= link_to t('show'), event
      %td= link_to t('edit'), edit_event_path(event)
      %td= link_to t('destroy'), event, :confirm => 'Are you sure?', :method => :delete

%br

= link_to t('new_event'), new_event_path
