- content_for :head do
  = include_stylesheets :sepcial_pages_events_index, :media => 'all'
  = include_stylesheets :sepcial_pages_events_common, :media => 'all'
  = include_stylesheets :common_index, :media => 'all'

#city_select_box.hide    
  - City.all.each do |city|
    %h4.inline= link_to city.name, "/events/?city=#{city.pinyin}", :class => 'event_color'

.span-24.append-bottom
  .span-17
    %h1.inline.app_subfunction_title.events= '乐玩活动'
    %h3.inline= link_to @city.name , 'javascript:void(0);', :id => 'switch_city', :class => 'dark_gray'
  .span-7.last
    = render 'common/big_link_button', :content => '发起活动', :path => new_event_path 

-if @hot_events.size > 0
  %hr.space
  = render 'common/header_box',  :title => '热门活动', :dark => true 
  .hot_gallery
    .gallery_content
      =link_to 'pre', 'javascript:void(0)', :class => 'gallery_link_pre hide', :id => 'preBtn'
      .gallery_inner
        %ul
          - @hot_events.each do |event|
            %li
              = render 'hot_events', :event => event 
      =link_to 'next', 'javascript:void(0)', :class => "gallery_link_next #{"hide" unless @hot_events.size > 2 }" , :id => 'nextBtn'

.span-24.prepend-top
  = render 'common/header_box',  :title => '寻找感兴趣的活动'
  .hot_events
    .search_line
      .filter_title
        %strong=link_to '活动', 'javascript:void(0);'
      .filter_items
        = link_to '全部', event_filter_path(:city => @city.pinyin)
                         
        - Item.all.each do |i|
          = link_to i.name, event_filter_path(@city.pinyin,@district_id, i.id, @time)
    .search_line
      .filter_title
        %strong=link_to '区域', 'javascript:void(0);' 
      .filter_items
        = link_to '全部', event_filter_path(:city => @city.pinyin, :item_id => @item_id, :time => @time)
        - @city.districts.each do |d| 
          = link_to d.name, event_filter_path(@city.pinyin, d.id, @item_id, @time)
    .search_line
      .filter_title
        %strong=link_to '时间', 'javascript:void(0);' 
      .filter_items
        = link_to '全部', event_filter_path(@city.pinyin, @district_id, @item_id, 'alltime')
        = link_to '今天', event_filter_path(@city.pinyin, @district_id, @item_id, 'today')
        = link_to '本周', event_filter_path(@city.pinyin, @district_id, @item_id, 'week')
        = link_to '周末', event_filter_path(@city.pinyin, @district_id, @item_id, 'weekends')
        = link_to '一个月内', event_filter_path(@city.pinyin, @district_id, @item_id, 'next_month')
        = link_to '时间选择', 'javascript:void(0)'

.span-24.prepend-top
  = render 'common/header_box',  :title => '推荐活动'
  .hot_events
    -@hot_items.each_with_index do |i, index|
      .hot_items_events{:class => ('last_item' if index == @hot_items.length - 1)}
        .item_avatar
          = item_image_link(i, :size => :thumb_large)
        = link_to '更多', event_filter_path(:city => @city.pinyin, :item_id => i.id), :class => 'right more'
        - i.events.at_city(@city.id).limit(4).each do |e|
          .item_event
            = event_image_link(e, :thumb_medium)
            .event_info
              %h4= link_to trim_info(e.title, 15), event_path(e)
              %p= l(e.start_at, :format => :long)
              .at_bottom
                %p= t('events.short_involvement', :count => e.participants.size)


:javascript
  $(function() {
    var left = $('#switch_city').offset().left;
    var t =$('#switch_city').offset().top + $('#switch_city').innerHeight();
    $('#city_select_box').css("left", left+"px");
    $('#city_select_box').css("top", t+"px");
  });
  
  $('#nextBtn').bind('click', slideRight);
  $('#preBtn').bind('click', slideLeft);

  var first_li = "0px"; 
  var last_li = "-" + parseInt("#{@hot_events.size / 2 + @hot_events.size % 2 - 1}") * 844 + 'px';

  function getPre(current) {
    var pre = parseInt(current.match(/\d+/)) - 844;
    if(pre == 0) {
      return pre+'px';
    }else {
      return '-' + pre + 'px'; 
    }
  }

  function getNext(current) {
    var next = parseInt(current.match(/\d+/)) + 844;
    if(next == 0) {
      return next+'px';
    }else {
      return '-' + next + 'px'; 
    }
  }

  function slideLeft() {
    $('#preBtn').unbind('click');
    var left = $('.hot_gallery ul').css('marginLeft');
    $('.hot_gallery ul').animate({marginLeft: getPre(left)}, 300, function(){ 
      $('#preBtn').bind('click', slideLeft);
      var left = $('.hot_gallery ul').css('marginLeft');
      if (left != last_li) {
        $('#nextBtn').show();
      }
      if (left == first_li) {
        $('#preBtn').hide(); 
        $('.gallery_inner').css("marginLeft", '30px');
      }
    });
    return false;
  }

  function slideRight() {
    $('#nextBtn').unbind('click');
    var left = $('.hot_gallery ul').css('marginLeft');
    $('.hot_gallery ul').animate({marginLeft: getNext(left)}, 300, function(){
      $('#nextBtn').bind('click', slideRight);
      var left = $('.hot_gallery ul').css('marginLeft');
      if (left != first_li) {
        $('#preBtn').show(); 
        $('.gallery_inner').css("marginLeft", '0px');
      }
      if (left == last_li) {
        $('#nextBtn').hide();
      }
    });
    return false;
  }

  $("#switch_city").click(function(e) {
    $('#city_select_box').toggleClass('hide'); 
    e.stopPropagation();
    return false;
  });
