- content_for :head do
  = include_stylesheets :sepcial_pages_events_index, :media => 'all'
  = include_stylesheets :sepcial_pages_events_common, :media => 'all'
.span-24.prepend-top
  .span-21
    %h2.title= t 'events.events_list' 
  .span-3.last
    = link_to t('events.new_event'), new_event_path, :class => "button new_event right"   
.span-24
  %hr
  .span-18.border
    - @events.each_with_index do |event, index|
      .span-9.last.append-bottom.event_item
        %h3= link_to trim_info(event.title,20), event, :class => "nounderline title"
        = render "event_item", :event => event      
  .span-6.last


:javascript
  $(function() {
    $('.new_event').button({
      icons: {
        primary: 'ui-icon-circle-plus'
      }
    });  
  });
