- content_for :head do
  = include_stylesheets :forms, :media => 'all'
  = include_stylesheets :sepcial_pages_events_common, :media => 'all'
.span-24
  .span-17
    %h2.title= t('events.new_event')
  .span-24.wizard
    .span-2
      %br
    .span-5.last.wizard-step.first_step{:class => (@step == 1 ? 'current' : 'not_current')}
      %h4= '1. 填写活动信息'
    .span-5.wizard-step.last_step{:class => (@step == 2 ? 'current' : 'not_current')}
      %h4= '2. 邀请好友'
- if @step == 1
  = render 'form', :is_edit => false
- else
  = render 'friends_invitation', :event => @event, :invitees_summary => @invitees,
                                 :invitees_size => @invitees_size, :to_be_invited => @to_be_invited_friends
:javascript
  $(function() {
    $('a.back').click(function() {
      parent.history.back();
      return false; 
    }); 
  });



