- content_for :head do
  = include_stylesheets :sepcial_pages_events_common, :media => 'all'
.span-24
  .span-18
    = render 'common/header_box',  :title => '活动"' + @event.title + '"成员'
  .span-6.last
    %h4= link_to '<返回本活动主页', event_path(@event)
.span-18
  .span-18.people_array
    = render :partial => 'people/person_element', :collection => @participants, :as => :person
  .span-18
    = will_paginate @participants, {:previous_label => t("pagination.previous"), 
                                    :next_label => t("pagination.next")}

