.span-24
  %h2=@event.title
.span-16
  - if @friend_references.size > 0
    %h4.append-bottom= t("events.friend_references", :count => @friend_references.size)
    .span-16
      = render :partial => "event_references", :locals => { :references => @friend_references, 
                                                              :perline => 8, 
                                                              :no_pagination => true }
  - else
    %h4='还没有好友参加你的活动'
  
  - if @other_references.size > 0
    .span-16
      %h4= t("events.other_references", :count => @other_references.size)
    .span-16
      = render :partial => "event_references", :locals => { :references => @other_references,
                                                              :perline => 8, 
                                                              :no_pagination => true }
.span-6.prepend-1.last
  %h4= link_to '<返回"'+@event.title + '"', event_path(@event)

