.span-16.colborder
  %h4.append-bottom= t("events.friend_references", :count => @friend_references.size) + ":"
  .span-16#friend_references
    = render :partial => "event_references", :locals => { :references => @paged_friend_references, 
                                                            :perline => 8, 
                                                            :pagination_type => "friend_page"} 
  .span-16.prepend-top.append-bottom
    %h4= t("events.other_references", :count => @other_references.size) + ":"
  .span-16#other_references
    = render :partial => "event_references", :locals => { :references => @paged_other_references,
                                                            :perline => 8, 
                                                            :pagination_type => "other_page" }
.span-7.last
  = link_to t("back"), event_path(@event), :class => "button" 

:javascript
  $('#other_references.pagination a').live('click', function(){
    $.get(this.href, function(data) {
      $('#other_references').html(data);
    });
    return false;
  });
  $('#friend_references.pagination a').live('click', function(){
    $.get(this.href, function(data) {
      $('#friend_references').html(data);
    });
    return false;
  });
