.span-16.colborder
  %h4.append-bottom= t("events.friend_participants", :count => @friend_participants.size) + ":"
  .span-16#friend_participants
    = render :partial => "event_participants", :locals => { :participants => @paged_friend_participants, 
                                                            :perline => 8, 
                                                            :pagination_type => "friend_page"} 
  .span-16.prepend-top.append-bottom
    %h4= t("events.other_participants", :count => @other_participants.size) + ":"
  .span-16#other_participants
    = render :partial => "event_participants", :locals => { :participants => @paged_other_participants,
                                                            :perline => 8, 
                                                            :pagination_type => "other_page" }
.span-7.last
  = link_to t("back"), event_path(@event), :class => "button" 

:javascript
  $('#other_participants .pagination a').live('click', function(){
    $.get(this.href, function(data) {
      $('#other_participants').html(data);
    });
    return false;
  });
  $('#friend_participants .pagination a').live('click', function(){
    $.get(this.href, function(data) {
      $('#friend_participants').html(data);
    });
    return false;
  });
