.span-18
  .span-7
    = event_image_tag(@event, :thumb_large)
  .span-7.prepend-1
    %h2= @event.title
    %p#notice= notice
    %p
      %b= t('start_at')+":"
      = @event.start_at
    %p
      %b= t('end_at')+":"
      = @event.end_at
    %p
      %b= t('location')+":"
      = @event.location
    %p
      %b= t('event_subject')+":"
      = @event.subject_id
.span-5.last

.span-18
  %br
  %h4= t('event_description')+":"
  %hr
  %p= @event.description
  %br
  %hr
  = link_to t('edit'), edit_event_path(@event), :class => "button"
