-content_for :head do
  = include_stylesheets :sepcial_pages_events_show, :media => 'all'
  = include_javascripts :google_map
  =javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false"
.span-24
  .span-6.left_column
    .avatar=event_image_tag(@event, :thumb_large)
    .span-7.other_info
      %span.info_block
        %span.des.info
          ='活动信息:'
          - if @event.is_owner(current_user)
            =link_to(edit_event_path(@event), :class => 'right') do
              .edit_button.glass_button
                ='编辑'
        %span.info
          .left='活动时间:'
          .content=l(@event.start_at, :format => :long)
        %span.info
          .left='活动地点:'
          .content=@event.location.to_s
        %span.info
          .left='活动类型:'
          .content= link_to @event.item.name, item_path(@event.item)
        %span.info
          .left='发起人:'
          .content=link_to @event.person.name, person_path(@event.person)
    %hr.space
    .span-6#map_div
      %h4.app_module_title.inline='活动地图'
      %span.right= link_to '详细>>', event_map_path(@event)
      #map
    - if @participants.size > 0
      .span-6.members
        %h4.app_module_title.inline='活动成员'
        .person_array
          - @participants.each do |member|
            .member
              = person_image_link(member)
    
    - if @references.size > 0
      .span-6.members
        %h4.app_module_title.inline='喜欢该活动的人'
        .person_array
          - @references.each do |member|
            .member
              = person_image_link(member)
      

  .span-17.last.right_column
    .span-17
      =render 'common/big_header_box', :number => @participants.size, :text => '参加', :background_color => '#ff8a3c'
      =render 'common/big_header_box', :number => @references.size, :text => '喜欢', :background_color => '#aad450'
      =render 'common/big_header_box', :number => @comments_size, :background_color => '#4ebaff', :text => '评论'
      .operations.right
        - if current_user
          - if !is_reference_of(@event)
            =link_to(url_for(:controller => "event_recommendations",:action => "add_reference",:id => @event.id)) do
              .join_button.glass_button.like
                ='喜欢'
          - if is_reference_of(@event)
            =link_to(url_for(:controller => "event_recommendations",:action => "remove_reference",:id => @event.id)) do
              .join_button.glass_button.quit.like
                ='取消喜欢'

        .share_operations
          %span='分享此活动'
          #share_to_sina
            %br
          #share_to_qq
            %a{:class=> 'share', :href => 'javascript:void(0)',:alt=>"转播到腾讯微博"}
              %img{:src=>"http://v.t.qq.com/share/images/s/weiboicon32.png", 
                   :align=>"absmiddle", :border=>"0"}  
    = render 'common/header_box', :title => '活动内容'
    .event_title_bar
      .span-16  
        .span-13.event_title
          %h2=@event.title
          %h4.status=event_status_info(@event)
        .span-3.operations.last.right
          - if current_user
            - unless @event.is_owner(current_user)
              - if @event.joinable? && !is_participant_of(@event)
                =link_to(involvements_path(:id => @event.id), :method => 'post', :class => 'right') do
                  .join_button.glass_button
                    ='参加'
              - if @event.quitable? && is_participant_of(@event)
                =link_to(involvement_path(:id => @event.id), :method => 'delete', :class => 'right') do
                  .join_button.glass_button.quit
                    ='取消参加'
      .span-16.event_desc
        =simple_format(@event.description)


     
    = render 'common/header_box', :title => '评论'
    = render 'event_comments', :comments => @comments, :event => @event, 
                               :current_person => @current_person, :comment => @comment 
      
:javascript
  $(function() {
    var address = "#{@event.location}";
    codeAddress("map", address, 'map_div');

    var _w = 32 , _h = 32;
    var param = {
      url:location.href,
      type:'1',
      count:'', 
      appkey:'', 
      title:"喜欢#{@event.item.name}的看过来，分享一个#{@event.item.name}活动:\n\n名称:<#{@event.title}>\n时间: #{I18n.l(@event.start_at, :format =>:long)} \n地点:#{@event.location} \n\n感兴趣的人火速来报名吧!",
      pic:'', 
      ralateUid:'2320930322', 
      rnd:new Date().valueOf()
    }
    var temp = [];
    for( var p in param ){
      temp.push(p + '=' + encodeURIComponent( param[p] || '' ) )
    }
   $('#share_to_sina').html('<iframe allowTransparency="true" frameborder="0" scrolling="no" src="http://hits.sinajs.cn/A1/weiboshare.html?' + temp.join('&') + '" width="'+ _w+'" height="'+_h+'"></iframe>')
  
  });
  
   $('#share_to_qq a').click(function() {
    postToWb();
    return false;
   });

  function postToWb(){
    var _t = encodeURI("喜欢#{@event.item.name}的看过来，分享一个#{@event.item.name}活动:\n\n名称:<#{@event.title}>\n时间: #{I18n.l(@event.start_at, :format =>:long)} \n地点:#{@event.location} \n\n感兴趣的人火速来报名吧!");
    var _url = encodeURIComponent(document.location);
    var _appkey = encodeURI("appkey")
    var _pic = encodeURI('');
    var _site = 'www.haoxiangwan.net';
    var _u = 'http://v.t.qq.com/share/share.php?url='+_url+'&site='+_site+'&title='+_t;
    window.open( _u,'', 'width=700, height=680, top=0, left=0, toolbar=no, menubar=no, scrollbars=no, location=yes, resizable=no, status=no' );
  }
  
