-content_for :head do
  = include_stylesheets :sepcial_pages_events_upload_pic, :media => 'all'
  = include_stylesheets :jquery_fancybox_css, :media => 'all'
  = include_javascripts :jquery_fancybox
  
.span-18.upload_area
  #upload_event_pic.span-18
    .title_bar.span-18
      =event_image_tag(@event, :thumb_small) 
      %h2.title
        ='上传活动图片-'
        = link_to @event.title, event_path(@event)
    .prepend-1.span-17
      = form_tag update_description_path(@event.id), do
        .photo_form
          %ul#photozone
          #file-upload.glass_button
            ='+ 上传图片'
          =submit_tag "确认", :class => 'upload_confirm_button'
          =link_to '取消', 'javascript:void(0)', :class => 'cancel_button'
      =render 'photos/new_photo', :controller_path => pics_path(:id => @event.id),:pic_type => 'event'
    .span-5.last

.colorbox_content
  #cancel_upload_request
    .span-10.box_content
      %h3='未提交的照片将会丢失，确定取消？'
      = form_tag batch_destroy_path, :method => 'delete' do
        = hidden_field_tag :pids
        = hidden_field_tag :event_id, @event.id
        .submit
          = submit_tag t('activerecord.operations.event.save'), :class => 'glass_button'


:javascript
  $(function() {
    $(".albums_area a").fancybox({
      'transitionIn' : 'elastic',
      'transitionOut' : 'elastic',
      'speedIn' : 600, 
      'speedOut' : 200,
      'overlayColor' : '#000000',
      'overlayOpacity': 0.8,
      'titlePosition': 'inside'
    });
  });
  $('.cancel_button').click(function() {
    var $imgs = $('img.upload_image')
    var pids = new Array($imgs.size);
    $imgs.each(function(index) {
      pids[index] = $(this).attr('data-id'); 
    });
    $('#cancel_upload_request #pids').val(pids);
    $.colorbox({ inline:true, href: "#cancel_upload_request", opacity:0.3});
    return false;
  });
