-content_for :head do
  = include_stylesheets :sepcial_pages_pics_index, :media => 'all'
  = include_javascripts :show_photo

.span-22.album
  .title_bar
    %h2
      = get_imageable_des(@album)
      = link_to @album.imageable.name, get_imageable_path(@album)
      = '的相册'
  .albums.pic_container
    -@pics.each do |p|
      .event_pic
        =pic_image_link(p, :thumb_medium)
        %span.desc
          = '来自'
          = link_to p.author.name, person_path(p.author_id)


:javascript
  $(function() {
    var size = $(window).width(); 
  });
 
