-content_for :head do
  = include_stylesheets :sepcial_pages_pics_show, :media => 'all'
  :css
    .header{ display:none; } 

.album
  .span-22
    .title_bar
      %span.position
        = "第#{@pic.position}张/共#{@size}张"
      .nav  
        - unless @previous.nil?
          = link_to '< 前一张', album_pic_path(@album, @previous), :class => 'glass_button first' 
        - else
          = link_to '< 前一张', 'javascript:void(0)', :class => 'glass_button first disabled' 

        - unless @next.nil?  
          = link_to '后一张 >', album_pic_path(@album, @next), :class => 'glass_button'
        - else
          = link_to '后一张 >', 'javascript:void(0)', :class => 'glass_button disabled' 
  .display_area

    .img_area
      %a{:class => 'img_link'}
        %img{:src => @pic.url(:thumb_large)}
      %p=@pic.description

  .desc_area
    .author_info
      %a{:href => person_path(@author), :class => 'person_link'}
        = person_image_tag(@author)
      %span.desc
        ='作者:'
        =link_to @author.name, person_path(@author)
      %span.pic_size
        = "共有#{@author.pics.size}张照片"

    .album_info
      %span.desc
        = get_album_desc(@album)
      .album_shortcut
        .nav_link
          %a{:class=> 'prev show'}
            = '<'
        .gallery
          %ul
            -@album_shortcut.each do |p|
              %li
                %a{:href =>  album_pic_path(@album, p), :class => ('current' if p.position == @pic.position)} 
                  %img{:src => p.url(:shortcut)}
        .nav_link
          %a{:class=> 'next show'}
            = '>'

:javascript
  $(function() {
    $('.album').css('height', $(window).height());
    var current_pos = "-" + parseInt("#{(@pic.position - 1)/ 4}") * 236 + 'px';
    $('.gallery ul').css('marginLeft', current_pos);
    var left = $('.gallery ul').css('marginLeft'); 
    if (left == first_li) {
      $('a.prev').removeClass('show');
    }
    if (left == last_li) {
      $('a.next').removeClass('show'); 
    }
  });

  $('.nav_link').add('.gallery').hover(function() {
    $('.nav_link a.show').css('display', 'block'); 
  }, function() {
    $('.nav_link a').css('display', 'none'); 
  }); 

  $('.nav_link a.prev').bind('click', slideLeft);
  $('.nav_link a.next').bind('click', slideRight);
      
  var first_li = "0px"; 
  var last_li = "-" + parseInt("#{@album_shortcut.size / 4 + @album_shortcut.size % 4 - 1}") * 236 + 'px';

  function slideLeft() {
    $('.nav_link a.prev').unbind('click');
    var left = $('.gallery ul').css('marginLeft'); 
    $('.gallery ul').animate({marginLeft: getPre(left)}, 300, function(){
      $('.nav_link a.prev').bind('click', slideLeft);
      var left = $('.gallery ul').css('marginLeft'); 
      if (left != last_li) {
        $('a.next').addClass('show'); 
      }
      if (left == first_li) {
        $('a.prev').removeClass('show');
        $('a.prev').hide();
      }
    });
  }

  function slideRight() {
    $('.nav_link a.next').unbind('click');
    var left = $('.gallery ul').css('marginLeft'); 
    $('.gallery ul').animate({marginLeft: getNext(left)}, 300, function(){
      $('.nav_link a.next').bind('click', slideRight);
      var left = $('.gallery ul').css('marginLeft'); 
      if (left != first_li) {
        $('a.prev').addClass('show'); 
      }
      if (left == last_li) {
        $('a.next').removeClass('show');
        $('a.next').hide();
      }
    });
  }

  function getPre(current) {
    var pre = parseInt(current.match(/\d+/)) - 236;
    if(pre == 0) {
      return pre+'px';
    }else {
      return '-' + pre + 'px'; 
    }
  }

  function getNext(current) {
    var next = parseInt(current.match(/\d+/)) + 236;
    if(next == 0) {
      return next+'px';
    }else {
      return '-' + next + 'px'; 
    }
  }



