-content_for :head do
  = include_javascripts :jquery_validation
.invitation
  #email_invitation_panel
    = form_for User.new, :url => invitation_path(User) do |invite|
      %h4
        = t('email')
      .email.relative
        =invite.label :email,"多个邮箱请用逗号分隔",:class =>'in_field'
        =invite.text_field :email
      %h4
        = "说点什么"
      .message
        = invite.text_area :invite_messages, :rows => 3, :value => ""

      %p
        = invite.submit '发送邀请',:class => 'glass_button'

  - unless @sent_invitations.empty?
    #already_invited_pane
      %h4
        = '邀请中'
      - for invitation in @sent_invitations
        .has_invitation
          .email
            = invitation.recipient_identifier
          .resend
            = link_to '重新发送',invitation_resend_path(invitation), :confirm => '确定?'

:javascript
  $("#user_email").focus(function() {
    $('.in_field').hide();
  }).blur( function(){
    if( $("#user_email").val()=="" )
      $('.in_field').show();
     } );
  $(function() {
    $('#new_user').validate({  
      rules: {
        'user[email]': {
          required: true,
        }
      },
      messages: {
        'user[email]': {
          required: '请输入电子邮箱',
        }
      }
    });
  });


