=content_for :head do
  = include_javascripts :jquery_validation
  = include_stylesheets :special_pages_item_topics_form, :media => 'all'
.new_topic_form
  = form_for item_topic, :html => { :multipart => true }, do |f|
    = render "photos/new_item_topic_photo", :topic=> item_topic, :is_edit => false, :model_name => "item_topic",:pic_type => "not_avatar"
    .topic_content_area
      .field
        = f.text_field :name
        = f.label '话题名称', :class => 'topic_name'
        = error_on(item_topic, :name)
        = hidden_field_tag 'format', 'xml' 
        = f.hidden_field :image_url_large
        = f.hidden_field :image_url_medium
        = f.hidden_field :image_url_small
      .field
        = f.text_area :description
        = f.label '话题描述...', :class => 'topic_desc'
        = error_on(item_topic, :description)
      .field.select
        = f.label '话题类型:', :class => "item_id"
        = collection_select(:item_topic, :item_id, Item.all, :id, :name, :selected => item_topic.item_id, :prompt => true )
      .actions
        = f.submit '保存', :class => "glass_button"

:javascript
  $(function(){
    var options = {success: afterCreate, resetForm:true, beforeSubmit: validate_form};
    if ($('#item_topic_name').val().length > 0) {
     $('.new_topic_form form .field label.topic_name').hide();   
    }
    if ($('#item_topic_description').val().length > 0) {
     $('.new_topic_form form .field label.topic_desc').hide();   
    }
    $('#new_item_topic').ajaxForm(options);
    $('.new_topic_form form').validate({
      rules: {
        'item_topic[name]': {
          required: true,
          maxlength: 30
        }, 
        'item_topic[description]': {
          maxlength: 300
        },
        'item_topic[item_id]': {
          required: true
        }
      },
      messages: {
        'item_topic[name]': {
          required: "*请输入话题名称",
          maxlength: "*话题名称不能超过{0}个字符"
        },
        'item_topic[description]': {
          maxlength: "话题描述不能超过{0}个字符"
        },
        'item_topic[item_id]': {
          required: "*请选择话题类型" 
        }
      } 
    });
  });


  function validate_form() {
    if($('.new_topic_form form').validate().form()) {
      $('ul.title_bar img').remove();
      $("<img src='/images/ui/small-ajax-loader.gif'></img>").appendTo('ul.title_bar');
      return true;
    }else {
      return false;
    }
  }

  function afterCreate(responseText, statusText, xhr, $form){
    $('ul.title_bar img').remove();
    var id, name;
    $(responseText).find("item-topic").each(function(i){
      id = $(this).children('id').text(); 
      name = $(this).children('name').text(); 
    });
    resetNewTopicForm($form);
    $form.closest('.topic_box').hide();
    createTopicCallback(id, name);
  }

  function imageUploadCallback(image_l, image_m, image_s) {
    $('.new_topic_form form').find('input#item_topic_image_url_large').val(image_l);
    $('.new_topic_form form').find('input#item_topic_image_url_medium').val(image_m);
    $('.new_topic_form form').find('input#item_topic_image_url_small').val(image_s);
  }

  $('#item_topic_name').focusin(function(){
    $('.topic_content_area label.topic_name').hide();
  });

  $('#item_topic_name').focusout(function(){
    if ($.trim($(this).val()) == '' ) {
      $('.topic_content_area label.topic_name').show();
    }
  });

  $('#item_topic_description').focusin(function(){
    $('.topic_content_area label.topic_desc').hide();
  });

  $('#item_topic_description').focusout(function(){
    if ($.trim($(this).val()) == '' ) {
      $('.topic_content_area label.topic_desc').show();
    }
  });

  $('.new_topic_form form label.topic_name').click(function(){
    $('#item_topic_name').focus();
  });

  $('.new_topic_form form label.topic_desc').click(function(){
    $('#item_topic_description').focus();
  });

  function isNewTopic() {
    return $('.new_topic_form form').hasClass('new_item_topic');
  }



  function resetNewTopicForm($form) {
    $form.find('#item_topic_name, #item_topic_description, select').val("");
    if (isNewTopic()) {
      $form.find('label.topic_name').show();
      $form.find('label.topic_desc').show();
      $form.find('img.avatar').attr('src', "#{item_topic.image_url(:thumb_medium)}");
      $form.find('#item_topic_image_url_large').val("");
      $form.find('#item_topic_image_url_medium').val("");
      $form.find('#item_topic_image_url_small').val("");
      closeTopicBoxCallback();
    }
  }
