=content_for :head do
  = include_stylesheets :special_pages_item_topics_recent_topics
#recent_topics
  - topics.each do |t|
    = link_to item_topic_path(t), :class => 'topic_link', do
      .topic
        .avatar
          = item_topic_image_tag(t)
          .back_bar
            %br
          .item_name
            %span=truncate(t.item.name, :length => 4, :omission => "")
        .content
          %h4
            =truncate(t.name, :length => 14, :omission => "")
          .desc
            %span= truncate(t.description, :length => 35)
          .info
            %span= "#{t.posts.size}条讨论" 
