.topic_result
  - topics.each do |t|
    .topic_item  
      .pic 
        = item_topic_image_tag(t, :thumb_small)
      .content
        .name
          = link_to t.name, item_topic_path(t), :class => 't_content'
          = link_to t.posts_count.to_s+'讨论', item_topic_path(t), :class => 'post_count'
        .author
          %span
            = '由'
            = link_to t.person.name, person_path(t.person)
            = '发起'
