- content_for :head do
  = include_stylesheets :special_pages_item_topics_index  
.span-24
  .topics
    - if params[:action] == 'index' 
      %h2='所有话题' 
    - else
      %h2="#{@item.name}话题"
    .topic_result
      - @item_topics.each do |t|
        .topic_item  
          .pic 
            = item_topic_image_tag(t, :thumb_small)
          .content
            .name
              = link_to t.name, item_topic_path(t), :class => 't_content'
              = link_to t.posts_count.to_s+'讨论', item_topic_path(t), :class => 'post_count'
            .author
              %span
                = '由'
                = link_to t.person.name, person_path(t.person)
                = '发起'
          
         
  .span-7.last.subjects
    %h2='兴趣'
    %ul
      %li
        = link_to '所有', item_topics_path, :class => (params[:action] == 'index') ? 'select' : '' 
      - Item.all.each do |i|
        %li
          = link_to i.name,  search_item_topic_path(i.id), :class => (@item && @item.id == i.id) ? 'select' : ''
 
  .span-17.pagination_box
    = will_paginate @item_topics, {:previous_label => t("pagination.previous"), 
                              :next_label => t("pagination.next")}
