- content_for :head do
  = include_stylesheets :special_pages_item_topics_index  
.span-24
  .topics
    - if params[:action] == 'index' 
      %h2='所有话题' 
    - elsif params[:action] == 'interested'  
      %h2='我感兴趣的话题' 
    - elsif params[:action] == 'friends'  
      %h2='由我关注的人发起的话题' 
    - else
      %h2="#{@item.name}话题"
    .sort.right
      %span
        = link_to_unless_current '按时间排序', @sort_by_time 
      %span.last
        = link_to_unless_current '按热度排序', @sort_by_hot, :class => 'last'
        
    .topic_result
      = render :partial => 'item_topics/item_topics_container',  :locals => { :topics => @item_topics }
         
  .span-7.last.subjects
    %h2='话题类型'
    %ul
      %li
        = link_to '我感兴趣', interested_topics_path, :class => (params[:action] == 'interested') ? 'select interested' : 'interested'
      %li
        = link_to '我关注的人发起', friends_topics_path, :class => (params[:action] == 'friends') ? 'select friends' : 'friends'
      %li
        = link_to '所有', item_topics_path, :class => (params[:action] == 'index') ? 'select' : '' 
      - Item.all.each do |i|
        %li
          = link_to i.name,  search_item_topic_path(i.id), :class => (@item && @item.id == i.id) ? 'select' : ''
 
