-content_for :head do
  = include_stylesheets :special_pages_item_topics_show
  = include_stylesheets :sepcial_pages_home_upload
  = include_javascripts :jquery_validation
  = include_javascripts :scroll_page
  = include_javascripts :show_photo

.span-24.last
  .topic_area
    .topic_info
      .topic_image
        = item_topic_image_tag(@topic, :thumb_medium)
      .topic_msg
        .title
          - if current_user
            = follow_topic_tag(@topic)
          %h3.topic_name
            %span.name= @topic.name
            = link_to '编辑', 'javascript:void(0)', :class => 'edit_topic' 
            = render :partial => 'item_topics/edit_topic_box', :locals => {:item_topic => @topic}
        .topic_owner
          = "发起人： "
          = link_to @topic.person.profile.name, person_path(@topic.person)
          = followers_count_tag(@topic) 

        .topic_des
          = @topic.description

    .post_area
      .feed_toolbar
        = render 'common/post',:item_topic => @item_topic, :recent_topics => @recent_topics, :is_binded => @is_binded
      .stream.post_element_panel

  .right_column

    .related
      .related_title
        .name
          = "相关话题"
        .link_more
          = link_to "更多", search_item_topic_path(@topic.item.id)

      .related_topics
        = render :partial => 'item_topics/related_topics',:collection => @related,:as => :topic

    .topic_followers
      .followers_title
        = "关注者"
      
      .followers
        -@followers.each_with_index do |follower, index|
          .follower{:class => ("last" if (index+1)%4==0)}
            = person_image_link(follower)

:javascript
  $.get("#{show_topic_posts_path( @topic )}");
  $(document).ready(function () { 
    setInterval("startRequest()",100000); 
  }); 
  function startRequest() { 
    $.get("/status_messages/refresh",{id:"#{@topic.id}"});
  } 

  $('.topic_msg .topic_name .edit_topic').click(function(){
    $('.topic_box').show();
  });



