-content_for :head do
  = include_stylesheets :special_pages_item_topics_show
  = include_stylesheets :sepcial_pages_home_upload
  = include_stylesheets :sepcial_pages_home_index, :media => 'all'
  = include_javascripts :jquery_validation
  = include_javascripts :scroll_page
  = include_javascripts :show_photo
  =javascript_include_tag "http://api.youku.com/api/js/swfobject.js"

.span-24.last
  .span-16.topic_area
    .topic_info
      .topic_image
        = item_topic_image_tag(@topic, :thumb_medium)
      .topic_msg
        .title
          - if current_user
            = follow_topic_tag(@topic)
          %h3.topic_name
            %span.name= @topic.name
            -if @editable
              = link_to '编辑', 'javascript:void(0)', :class => 'edit_topic'  
              = render :partial => 'item_topics/edit_topic_box', :locals => {:item_topic => @topic}
        .topic_owner
          = "发起人： "
          = link_to @topic.person.profile.name, person_path(@topic.person)
          = followers_count_tag(@topic) 

        .topic_des
          = @topic.description
    .post_area
      - if current_user
        .feed_toolbar
          = render 'common/post',:item_topic => @item_topic, :recent_topics => @recent_topics, :is_binded => @is_binded
      .stream.post_element_panel

  .span-8.right_column.last
    .right_container
      - if @events.length > 0 
        .related
          .related_title
            .name
              ="近期#{@city.name}#{@item.name}相关活动" 
            .link_more
              = link_to "更多", event_filter_path(@city.id, nil, @item.id, 'week')
          .related_topics
            = render :partial => 'events/recent_events',  :locals => {:events => @events}
        
      - if @related.length > 0
        .related
          .related_title
            .name
              = "相关话题"
            .link_more
              = link_to '换一换', 'javascript:void(0)', :class => 'change_topics' if @changeable
              = link_to "更多", search_item_topic_path(@topic.item.id)

          #recent_topics
            = render :partial => 'item_topics/recent_topics', :locals => {:topics => @related} 

      - if @followers.length > 0
        .topic_followers
          .followers_title
            = "关注该话题的人"
          
          .followers
            -@followers.each_with_index do |follower, index|
              .follower{:class => ("last" if (index+1)%4==0)}
                = person_image_link(follower)
-if current_user
  :javascript
    $(document).ready(function () { 
      setInterval("startRequest()",100000); 
    }); 
    function startRequest() { 
      $.get("/status_messages/refresh",{id:"#{@topic.id}"});
    } 

    $('.topic_msg .topic_name .edit_topic').click(function(){
      $('.topic_box').show();
      $('#item_topic_name').val("#{@topic.name}");
      $('#item_topic_description').val("#{@topic.description}");
      $('#item_topic_item_id').val("#{@topic.item_id}");
      if ($('#item_topic_name').val().length > 0) {
        $('.new_topic_form form .field label.topic_name').hide(); 
      }
      if ($('#item_topic_description').val().length > 0) {
        $('.new_topic_form form .field label.topic_desc').hide(); 
      } 
    });

    $('.related a.change_topics').click(function() {
      $.ajax({
        type: 'get', 
        url: "#{related_topics_path(@topic)}",
        async: false,
        success: function(data) {
          $('#recent_topics').fadeOut(200, function(){
            $(this).empty();
            $(this).html(data);
            $(this).fadeIn();
          });
        }, 
        error: function(data) {
        }
      });
    });

:javascript
  $.get("#{show_topic_posts_path( @topic )}");
