-content_for :head do
  = include_stylesheets :special_pages_item_topics_show, :media => 'all'
  = include_javascripts :jquery_validation
  = include_stylesheets :sepcial_pages_home_index

.span-24.last
  .topic_area
    .topic_info
      .topic_image
        = item_topic_image_tag(@topic, :thumb_medium)
      .topic_msg
        .topic_name
          = truncate(@topic.name, :length => 18)
        .topic_owner
          = "发起人： "
          = link_to @topic.person.profile.name, person_path(@topic.person)

      .topic_des
        = truncate(@topic.description, :length => 140)
    .follow_action
      - if current_user
        = follow_topic_tag(@topic)
      
      .followers_count
        = t('item_topic.followers_count', :count => @topic.followers.size)  

    .topic_followers
      .followers_title
        = "关注者"

      -@followers.each_with_index do |follower, index|
        .follower{:class => ("last" if (index+1)%4==0)}
          = person_image_link(follower)
