.album_nav
  .albums_owner
    .person_avatar
      = person_image_link( person,:thumb_medium )
    .name
      = person.name
    .info
      = "个人相册"
    .clear
  .albums
    - for album in albums
      - if album.pics.size > 0
        = link_to person_album_path(person,album ) do
          .album{ :id => album.id }
            .album_pic
              = album_image_tag( album,person,:shortcut_medium )
            .album_info
              .album_name
                = album_name_tag( album )
              .pic_counts
                = album.album_pics( person ).size.to_s + "张照片"
            .clear


:javascript
  $( function(  ){
    $( ".album[id = #{current_album.id}]" ).addClass( "current" );
  
     } );

