= content_for :head do
  :css
    header{display:none;}
    footer{position:absolute;bottom:12px;}

.span-24.relative
  .login.relative
    %h2='登录'

    = form_for(resource, :as =>resource_name,:url=> session_path(resource_name)) do |f|
      .reg_input
        = f.text_field :email, :id => "email"
        = f.label :email,t('email'), :class => "email in_field"
      .reg_input
        = f.password_field :password, :id=> "password"
        = f.label :password,t('password'), :class => "password in_field"
      .reg_input.submit
        .span-3
          %span#remember_me
            -if devise_mapping.rememberable?
              =f.check_box :remember_me
              =f.label :remember_me,t('.remember_me'), :class=> "ckbox"
            -else
              \.
        .reg_action
          =f.submit t('.sign_in'), :class => "log_submit right"

.span-24.login_footer
  = link_to  '/auth/tsina', :class => 'xinlang_btn' do
    %img{:src => '/images/ui/sina_weibo24.png'}
    %span='新浪微博登陆'
  .forget_password
    %span.notify='notify'
    = render 'common/small_link_button', :path => new_password_path(resource), :content => '忘记密码？'

.footer
  = render 'layouts/footer'
  

:javascript
  $(".in_field").click(function() {
    $(this).hide();
    $(this).siblings("input").focus();
  }); 

  $("#email").add("#password").focus(function() {
    $(this).siblings(".in_field").hide();
  }); 
  
  $("#email").add("#password").change(function() {
    $(this).siblings(".in_field").hide();
  }); 
  

  $("#email").add("#password").blur(function() {
    field = $(this).siblings(".in_field")
    if ($.trim($(this).val()) == '' ) {
      $(this).val('');
      field.show();
    }
  });

  $(".log_submit").hover(function() {
    $(this).toggleClass("log_submit_hover");
  });

  $(".reg_button").hover(function() {
    $(this).toggleClass("reg_button_hover");
  });

  $(document).ready(function() {
    if ($.trim($('#email').val()) != '') {
      $('#email').siblings(".in_field").hide();
    }
    if ($.trim($('#password').val()) != '') {
      $('#password').siblings(".in_field").hide();
    }
  });
   
  
