.stream_element.pic_container{ :id => post.id }
  - topic = post.item_topic
  - video = post.post_video
  - if topic
    - item = topic.item
  .element_body
    .topic_name
      - if topic
        %span= topic.name
        = link_to '更多讨论', item_topic_path(topic), :class => 'right'
      - else
        %span= "#{current_user.person.name}的微博" 
    .content
      .post_content
        = post_content_tag(post, true)
      .photos
        .post_pic
          - post.pics.each do |p|
            %img{:src => p.url(:thumb_large)}
      - if video 
        %div{:id => "video_thumb_#{video.id}", :class => 'video_thumb'}
          = link_to 'javascript:void(0)', :vid => "#{video.id}", :vhref => "#{video.href}", :id => "open_video_#{video.id}", do
            %img{:src => video.thumb_href, :class => 'thumb'}
            %img{:src => '/images/ui/videoplay.gif', :class => 'play'}
        %div{:id => "video_player_#{video.id}", :class => "hide video_player"}
          = link_to '', 'javascript:void(0)', :class => 'close_video', :vid => "#{video.id}", :id => "close_video_#{video.id}"
          %div{:id => "player#{video.id}"}
        
      .content_info
        %span.time.timeago{:datetime => post.created_at}
          =how_long_ago( post )
        %span.action
          - if current_user
            =link_to "评论","javascript:void(0)",:class => "replay"
          - else
            =link_to "评论",login_and_reply_path(topic )
        %span.like
          - if topic && @post_filter && current_user 
            = follow_topic_link_tag( post.item_topic )
      
    = render "comments/comments", :post => post, :comments => post.comments
    - if current_user
      .comment_form{:class => ('hide' if post.comments.size == 0)}
        .author_avatar
          = person_image_link(current_user,:thumb_small)
        = form_for([post,Comment.new], :remote => true,:html=>{:class => "mention_form",:data_id => post.id}) do |f|
          = f.text_area :content, :rows => 2,:require => true,:class => 'content',:data_id => post.id
          = hidden_field_tag :contacts,'',:class => 'contacts'
          .comment_button.hide
            = f.submit "回复", :class => 'glass_button_ie',"data-disable-with" => t("posting")
            .cancle.glass_button_ie
              = "取消"
- if video
  :javascript
    $(".video_thumb a#open_video_#{video.id}").bind('click', open_video);
    $(".video_player a#close_video_#{video.id}").bind('click', close_video);

    function open_video() {
      var vid = $(this).attr('vid');
      var thumb_id = "#video_thumb_" + vid
      var player_id = "#video_player_" + vid
      var container_id = "player" + vid
      var vhref = $(this).attr('vhref');
      $video_thumb= $(thumb_id);
      $video_thumb.hide();
      $video_player = $(player_id);
      $video_player.show();
      var flashParams = {quality:"high",allowScriptAccess:"always", allowFullScreen: "true"};
      var flashVars = {playMovie:"true", isAutoPlay:"true"};
      swfobject.embedSWF(vhref, container_id, "480px", "420px", "9.0.0", null, flashVars, flashParams);
    }

    function close_video() {
      var vid = $(this).attr('vid');
      var thumb_id = "#video_thumb_" + vid
      var player_id = "#video_player_" + vid
      var container_id = "player" + vid
      $video_player= $(player_id);
      $video_thumb = $(thumb_id);
      $video_player.find('object').remove();
      $("<div></div>").attr('id', container_id).appendTo($video_player);
      $video_player.hide();
      $video_thumb.show();
    }

    $('a.open_post_reader').click(function(){
      $('#post_reader').show(); 
    });
