.stream_element{ :id => post.id }
  = person_image_link(post.author,:thumb_small) 
  .element_body
    .content
      .from
        = person_link(post.author, :class => 'author')
      .photos
        = render 'photos/photos_container',:photos => post.photos
      %p
        = post.content
      .content_info
        %span.time.timeago{:datetime => post.created_at,:style=>"font-size: 11px"}
          =how_long_ago( post )
        %span.action
          =link_to "评论","#",:class => "replay"
  
    = render "comments/comments", :post => post, :comments => post.comments
    .comment_form{:class => ('hide' if post.comments.size == 0)}
      .avatar
        = person_image_link(current_user,:thumb_small)
      = form_for([post,Comment.new], :remote => true) do |f|
        = f.text_area :content, :rows => 2
        .comment_button.hide
          = f.submit "回复", :class => 'glass_button inline'
          .cancle.inline.glass_button
            = "取消"
:javascript
  $( ".button" ).button(  );



