.stream_element.pic_container{ :id => post.id }
  - topic = post.item_topic
  - if topic
    %span.message_topic_type=topic.item.name
  .author_avatar
    = person_image_link(post.author,:thumb_small) 
  .element_body
    .content
      .from
        = person_link(post.author, :class => 'author')
      .post_content
        - if topic 
          = link_to "##{topic.name}#", item_topic_path(topic), :class => 'topic_name'  
        = post_content_tag(post)
      .photos
        = render 'photos/photos_container',:photos => post.pics
      .content_info
        %span.time.timeago{:datetime => post.created_at}
          =how_long_ago( post )
        %span.action
          =link_to "评论","11",:class => "replay"
      
    .action
      - if post.author.id == current_user.person.id
        .delete
          = link_to image_tag("/images/ui/delete_gray.png" ),post,:remote => true,:method => "delete",:confirm => "确定删除？"
    = render "comments/comments", :post => post, :comments => post.comments
    .comment_form{:class => ('hide' if post.comments.size == 0)}
      .author_avatar
        = person_image_link(current_user,:thumb_small)
      = form_for([post,Comment.new], :remote => true,:html=>{:class => "mention_form",:data_id => post.id}) do |f|
        = f.text_area :content, :rows => 2,:require => true,:class => 'content',:data_id => post.id
        = hidden_field_tag :contacts,'',:class => 'contacts'
        .comment_button.hide
          = f.submit "回复", :class => 'glass_button_ie',"data-disable-with" => t("posting")
          .cancle.glass_button_ie
            = "取消"
