.stream_element.pic_container{ :id => post.id }
  - topic = post.item_topic
  - video = post.post_video
  - if topic
    %span.message_topic_type=topic.item.name
  .author_avatar
    = person_image_link(post.author,:thumb_small) 
  .element_body
    .content
      .from
        = person_link(post.author, :class => 'author')
      .post_content
        - if topic 
          = link_to "##{topic.name}#", item_topic_path(topic), :class => 'topic_name'  
        = post_content_tag(post)
      .photos
        = render 'photos/photos_container',:photos => post.pics
      - if video 
        %div{:id => "video_thumb_#{video.id}", :class => 'video_thumb'}
          = link_to 'javascript:void(0)', :vid => "#{video.id}", :vhref => "#{video.href}", :id => "open_video_#{video.id}", do
            %img{:src => video.thumb_href, :class => 'thumb'}
            %img{:src => 'images/ui/videoplay.gif', :class => 'play'}
        %div{:id => "video_player_#{video.id}", :class => "hide video_player"}
          = link_to '', 'javascript:void(0)', :class => 'close_video', :vid => "#{video.id}", :id => "close_video_#{video.id}"
          %div{:id => "player#{video.id}"}
        
      .content_info
        %span.time.timeago{:datetime => post.created_at}
          =how_long_ago( post )
        %span.action
          =link_to "评论","javascript:void(0)",:class => "replay"
      
    .action
      - if post.author.id == current_user.person.id
        .delete
          = link_to image_tag("/images/ui/delete_gray.png" ),post,:remote => true,:method => "delete",:confirm => "确定删除？"
    = render "comments/comments", :post => post, :comments => post.comments
    .comment_form{:class => ('hide' if post.comments.size == 0)}
      .author_avatar
        = person_image_link(current_user,:thumb_small)
      = form_for([post,Comment.new], :remote => true,:html=>{:class => "mention_form",:data_id => post.id}) do |f|
        = f.text_area :content, :rows => 2,:require => true,:class => 'content',:data_id => post.id
        = hidden_field_tag :contacts,'',:class => 'contacts'
        .comment_button.hide
          = f.submit "回复", :class => 'glass_button_ie',"data-disable-with" => t("posting")
          .cancle.glass_button_ie
            = "取消"
- if video
  :javascript
    $(".video_thumb a#open_video_#{video.id}").bind('click', open_video);
    $(".video_player a#close_video_#{video.id}").bind('click', close_video);
