-content_for :head do
  = include_stylesheets :special_pages_items_commom, :media => 'all'
  = include_stylesheets :special_pages_items_index, :media => 'all'
.span-24.last
  .imageboard
    .hidebutton.last
      - if is_admin
        = link_to t('items.new_item'), new_item_path, :class => 'butten new_item'
    .imageheard
      .left
        = render 'common/header_box', :title => "热门兴趣", :background_color => "#4EBAFF"
    .imagearea
      - @hot_items.each_with_index do |item, index|
        .oneitem
          .image
            = item_image_link(item, :size => :thumb_medium)
            .nameback
            .itemname
              = item.name
          .iteminfo
            - if current_user 
              - if current_user.person.interests.include?(item)
                %a{:class => 'selected', :item_id => item.id}
                  ="已关注"
              - else
                %a{:item_id => item.id}
                  ="+关注"
            %span.detail= item.fans.size.to_s + t('items.fans')

    - @categories.each do |category|
      .imageheard
        .left
          = render 'common/header_box', :title =>category.name, :background_color => "#4EBAFF"
      .imagearea
        - category.items.each_with_index do |item, index|
          .oneitem
            .image
              = item_image_link(item, :size => :thumb_medium)
              .nameback
              .itemname
                = item.name
            .iteminfo
              - if current_user 
                - if current_user.person.interests.include?(item)
                  %a{:class => 'selected', :item_id => item.id}
                    ="已关注"
                - else
                  %a{:item_id => item.id}
                    ="+关注"
              %span.detail= item.fans.size.to_s + t('items.fans')

  - if current_user
    .myitemlist
      .itemlisttitle
        %a{:href => myitems_path}
          = "新动态"
      .itemlistcontent
        - @myitems.each_with_index do |item, index|
          .itemlistrow
            .itemimage
              = item_image_link(item[:item], :size => :thumb_small)
              .nameback
              .itemname
                = item[:item].name
            .itemmsg
              = link_to t('items.topicsrecent', :count => item[:topics_count]), search_item_topic_path(item[:item].id, 'order_by_time')
              %br
              = link_to t('items.eventsthisweek', :count => item[:events_count]), event_filter_path(@city.id, nil, item[:item].id, 'week')
              %br

:javascript
  $(function() {
    $('.new_item').button({
      icons: {
        primary: 'ui-icon-plusthick'
      }
    });  
  });

  $('.oneitem .iteminfo a').bind('click', select_item);

  function select_item() {
    var $this = $(this);
    $this.unbind('click');
    var item_id = $this.attr('item_id');
    if($this.hasClass('selected')) {
      $.post("#{remove_fan_ajax_path}", {id: item_id}, function(data, textStatus){
        $this.text("+关注");
        $this.toggleClass('selected');
      });
    } else {
      $.post("#{add_fan_ajax_path}", {id: item_id}, function(data, textStatus){
        $this.text("已关注");
        $this.toggleClass('selected');
      });
    }
    $this.bind('click', select_item);
  }

