-content_for :head do
  = include_stylesheets :sepcial_pages_items_show, :media => 'all'
  = include_stylesheets :sepcial_pages_items_commom, :media => 'all'
.span-24.prepend-top
  .span-24
    %span.maintitle= t 'items.myitems' 
  .span-22
    .dash_middle
  .span-24
    - @items_hash.each_with_index do |item, index|
      .span-22.mycolor.last
        .span-3.left
          = item_image_link(item[:item], :size => :thumb_medium)
        .span-18.right
          %span.detail= link_to item[:item].name, item, :class => "nounderline"
          %br
          %span.detail= item[:fans_count].to_s + t('items.fans')
          %br
          %span.detail
            = link_to t('items.eventsthisweek', :count => item[:events_count]), events_time_path(:id => item[:item].id, :time => :week)
      .span-22
        %hr
:javascript
  $(function() {
    $('.new_item').button({
      icons: {
        primary: 'ui-icon-plusthick'
      }
    });  
  });


