-content_for :head do
  = include_stylesheets :special_pages_items_myitems, :media => 'all'
  = include_stylesheets :special_pages_items_commom, :media => 'all'
.span-24
  .span-20{:style => "margin-left: 52px;"}
    = render 'common/header_box', :title =>t('items.myitems') , :dark => false
  .myitemarea
    - @items_array.each_with_index do |item, index|
      .oneitem
        .itemimage
          = item_image_link(item[:item], :size => :thumb_medium)
          .nameback
          .itemname
            = item[:item].name
        .itemdetail
          = item[:fans_count].to_s + t('items.fans')
          %br
          = link_to t('items.topicsrecent', :count => item[:topics_count]), 
                          search_item_topic_path(item[:item].id, 'order_by_time')
          %br
          = link_to t('items.eventsthisweek', :count => item[:events_count]), 
                          event_filter_path(@city.id, nil, item[:item].id, 'week')
          %br
          = link_to t('items.groupsthiscity', :count => item[:groups_count]), 
                          group_filter_path(:city => @city.id, :item_id => item[:item].id)

          %br
