-content_for :head do
  = include_stylesheets :sepcial_pages_items_show, :media => 'all'
.span-24.prepend-top
  .span-24
    %h1= t 'items.myitems' 
  .span-24
    .dash_top
  .span-24
    - @items.each_with_index do |item, index|
      .span-3.left_close{:class => ("last" if (index+1)%8 == 0)}
        .span-3
          = item_image_link(item, :size => :thumb_medium)
        %br
        .span-3
          = link_to item.name, item, :class => "nounderline"
          %span.detail
            =item.fans.size
            = t ('items.fans')

:javascript
  $(function() {
    $('.new_item').button({
      icons: {
        primary: 'ui-icon-plusthick'
      }
    });  
  });


