-content_for :head do
  = include_stylesheets :special_pages_items_show, :media => 'all'
  = include_stylesheets :special_pages_items_commom, :media => 'all'
.span-24.last
  .itemleft
    .item_image
      = item_image_tag(@item, :thumb_large)
      .item_name
        = @item.name

    .check_area
      - if current_user 
        - unless is_fan_of(@item)
          = link_to t('items.like'), url_for(:action=> "add_fan", :id => @item.id), :class => "item_mark"
          = t('items.likeinfo')
        - else
          = link_to t('items.unlike' ), url_for(:action=> "remove_fan", :id => @item.id), :class => "item_unmark" 
          = t('items.unlikeinfo', :name => @item.name)

    .item_star
      = render 'common/header_box', :title =>@item.name + t('items.mavin') , :dark => false 

      -@actors.each_with_index do |person, index|
        .star_one{:class => ("last" if (index+1)%4==0)}
          = person_image_link(person) 

  .itemright
    .item_info
      .info_ele
        = render 'common/big_header_box', :number => @item.fans.count, :text => "粉丝", :font_color => "#A8CDD7"
      .info_ele
        = render 'common/big_header_box', :number => @item.events.count, :text => "活动", :font_color => "yellow"
      .info_ele
        = render 'common/big_header_box', :number => @item.groups.count, :text => "小组", :font_color => "white"

    .hot_title
      .title
        = render 'common/header_box', :title =>t('items.events') , :dark => true 
      .link
        = link_to "更多>>", event_filter_path(@city.pinyin, nil, @item.id, 'week') 

    .hot_area.events_panel
      = render :partial => 'events/event_element',:collection => @events,:as => :event 

    .hot_title
      .title
        = render 'common/header_box', :title =>t('items.citygroups') , :dark => true 
      .link
        = link_to "更多>>", group_filter_path(:city => @city.pinyin, :item_id => @item.id) 
       
    .hot_area
      = render :partial => 'groups/group_box',:collection => @groups_hash,:as => :group
      



      
