-content_for :head do
  = include_stylesheets :special_pages_items_show, :media => 'all'
  = include_stylesheets :special_pages_items_commom, :media => 'all'

.span-24.last
  .itemleft
    .item_image
      = item_image_tag(@item, :thumb_large)
      .item_name
        = @item.name
    .item_desc
      = @item.description

    .check_area
      - if current_user 
        - unless is_fan_of(@item)
          = link_to t('items.like'), url_for(:action=> "add_fan", :id => @item.id), :class => "item_mark"
          = t('items.likeinfo')
        - else
          = link_to t('items.unlike' ), url_for(:action=> "remove_fan", :id => @item.id), :class => "item_unmark" 
          = t('items.unlikeinfo', :name => @item.name)

    .topics_area
      .title
        .flag_name
          = @item.name + "话题"
        .link_more
          = "更多"

      .topics
        = render :partial => 'item_topics/related_topics',:collection => @topics,:as => :topic

    .item_star
      .star_title
        .title_name
          = @item.name + t('items.mavin')

      -@actors.each_with_index do |person, index|
        .star_one{:class => ("last" if (index+1)%4==0)}
          = person_image_link(person) 

  .itemright
    .item_info
      .info_ele
        = render 'common/big_header_box', :number => @item.fans.size, :text => "粉丝", :background_color => "#FF8A3C"
      .info_ele
        = render 'common/big_header_box', :number => @item.events.size, :text => "活动", :background_color => "#AAD450"
      .info_ele
        = render 'common/big_header_box', :number => @item.groups.size, :text => "小组", :background_color => "#4EBAFF"

    .hot_title
      .title
        = render 'common/header_box', :title =>t('items.events')  
      .link
        = link_to "更多>>", event_filter_path(@city.pinyin, nil, @item.id, 'week') 

    .hot_area.events_panel
      = render :partial => 'events/event_element',:collection => @events,:as => :event 
      - if @events.size == 0
        =render :partial => 'events/new_event_link', :locals => { :question => '最近没有该类型活动?',
                                                                :link => new_event_path,
                                                                :action => '发起活动'}
        

    .hot_title
      .title
        = render 'common/header_box', :title =>t('items.citygroups')  
      .link
        = link_to "更多>>", group_filter_path(:city => @city.pinyin, :item_id => @item.id)
       
    .hot_area.groups_panel
      = render :partial => 'groups/group_box',:collection => @groups,:as => :group
      - if @groups.size == 0
        =render :partial => 'events/new_event_link', :locals => { :question => '还没有围绕此兴趣的小组',
                                                                :link => new_group_path,
                                                                :action => '创建小组'}
      

