-content_for :head do
  = include_stylesheets :special_pages_items_show, :media => 'all'
  = include_stylesheets :special_pages_items_commom, :media => 'all'
.span-24.last
  .itemleft
    .item_image
      = item_image_tag(@item, :thumb_large)
    .item_desc
      = @item.description

    .check_area
      - if current_user 
        - unless is_fan_of(@item)
          = link_to t('items.like'), url_for(:action=> "add_fan", :id => @item.id), :class => "item_mark"
          = t('items.likeinfo')
        - else
          = link_to t('items.unlike' ), url_for(:action=> "remove_fan", :id => @item.id), :class => "item_unmark" 
          = t('items.unlikeinfo', :name => @item.name)

    .item_star
      = render 'common/header_box', :title =>@item.name + t('items.mavin') , :dark => false 

      -@actors.each_with_index do |person, index|
        .star_one{:class => ("last" if (index+1)%4==0)}
          = person_image_link(person) 



