-content_for :head do
  = include_stylesheets :special_pages_items_show, :media => 'all'
  = include_stylesheets :special_pages_items_commom, :media => 'all'
  =include_javascripts :scroll_page
  =include_javascripts :status_message
  =include_javascripts :show_photo
  = include_javascripts :mention
  =javascript_include_tag "http://api.youku.com/api/js/swfobject.js"

.span-24.last
  .itemleft.span-6
    .item_image
      = item_image_tag(@item, :thumb_large)
      .item_name
        = @item.name
    .item_desc
      = @item.description

    .check_area
      - if current_user 
        - unless is_fan_of(@item)
          = link_to url_for(:action=> "add_fan", :id => @item.id), :class => "item_unmark big_button" do
            %span= t('follow')
        - else
          = link_to url_for(:action=> "remove_fan", :id => @item.id), :class => "item_mark big_button" do
            %span= t('following')

    - if @actors.length > 0
      .item_star
        .star_title
          .title_name
            = @item.name + t('items.mavin')

        .stars
          -@actors.each_with_index do |person, index|
            .star_one{:class => ("last" if (index+1)%4==0)}
              = person_image_link(person) 

  .itemright.span-18.last
    .item_info
      .info_ele.first_item
        = render 'common/big_header_box', :number => @item.fans.size, :text => "粉丝", :background_color => "#FF8A3C"
      .info_ele
        = render 'common/big_header_box', :number => @item.events.size, :text => "活动", :background_color => "#AAD450"
      .info_ele
        = render 'common/big_header_box', :number => @item.groups.size, :text => "小组", :background_color => "#4EBAFF"

    .home_tabs
      %ul
        %li
          =link_to "动态",show_item_posts_path(@item),:id => 'item_posts',:remote => true
        %li
          =link_to "活动",show_item_events_path(@item),:id=>'item_events',:remote => true        
        %li
          =link_to "话题",show_item_topics_path(@item),:id=>'item_topics',:remote => true        
        %li
          =link_to "小组",show_item_groups_path(@item),:id=>'item_groups',:remote => true        
        .tab_progress
          .progress
    .stream

:javascript
  
  $.get("#{show_item_posts_path(@item)}");
  $(".tab_pregress").show();

  $( ".home_tabs a" ).live( "click",function( ){
    $(".tab_progress").show();
  })
