-content_for :head do
  = include_stylesheets :sepcial_pages_pics_index, :media => 'all'
  = include_javascripts :show_photo
  =include_javascripts :scroll_page

.span-22.album
  .title_bar
    %h3
      = get_imageable_des(@album)
      = link_to @album.imageable.name, get_imageable_path(@album)
      = '的相册'
      = "(共#{@album.pics.size}张)" 
  .albums.pic_container


:javascript
  $(function() {
    var size = $(window).width(); 
  });
 
  $.get("#{paginate_pics_path(@album.id)}");
