.app_title_bar{:class => ('blue' if defined?(blue) && blue)}
  .app_header_box
    .box_all{:style => (defined?(background_color) ? "background-color:#{background_color}" : " " ) + (defined?(font_color) ? " color: #{font_color}" : "")}
      .box_left
      .box_middle
        %strong
          - if defined?(link_content)
            = link_to link_content, path
          =title
      - if defined?(white_angle)
        .box_right_white
      -elsif defined?(blue_angle)
        .box_right_blue
      -else
        .box_right
  .clear
  - if defined?(white_angle)
    .bottom_pic_white{:style => ("background-color:#{background_color}" if defined?(background_color))}
  -elsif defined?(blue_angle)
    .bottom_pic_blue{:style => ("background-color:#{background_color}" if defined?(background_color))}
  -else
    .bottom_pic{:style => ("background-color:#{background_color}" if defined?(background_color))}
