=content_for :head do
  = include_javascripts :status_message
  = include_stylesheets :sepcial_pages_home_index, :media => 'all'
  = include_javascripts :mention
.post_tool
  .create_post
    = form_for(StatusMessage.new,:remote => true,:html => { :multipart => true,:class => "new_status_message mention_form" }) do |status|
      = status.text_area :content,:class => 'content',:require => true
      = hidden_field_tag :contacts,'',:class => 'contacts'
      = label_tag 'weibo', '说点什么吧...', :class => 'placeholder'
      -if @topic.nil?
        = hidden_field_tag :topic_id 
      -else
        = hidden_field_tag :topic_id,@topic.id 
      - if is_binded 
        %span#sync_to_weibo
          = check_box_tag 'sina_weibo', 'yes', false 
          = label_tag 'sina_weibo', '同步到新浪微博'
      = status.submit "发布", :class => 'glass_button',"data-disable-with" => t("posting")
      .pic_upload_panel
        = render "status_messages/add_pic"
        
  .new_event.hide
    = render 'common/big_link_button', :content => '发起活动', :path => new_event_path 
  .post_type_bar
    %a{:class => 'title photo', :href => 'javascript:void(0)'} 
      %span.img
      %span.desc='图片'
    -if !item_topic.nil?
      %a{:class => 'title topic', :href => 'javascript:void(0)'} 
        %span.img
        %span.desc='话题'
    .hide
      %a{:class => 'title video', :href => 'javascript:void(0)'}
        %span.img
        %span.desc='视频'
    -if !item_topic.nil?
      = render :partial => 'item_topics/new_topic_box', :locals => {:item_topic => item_topic, :rtopics => recent_topics} 
    %span.noti.hide.right="使用 '@＋好友姓名' 分享给好友"
  %ul.post_filter
    %li.following
      =link_to "/home/show_following_post",:remote => true,:id=>'following_post', do
        %span="我感兴趣"
    %li.all
      =link_to "/home/show_post",:remote => true,:id=>'all_post', do
        %span="所有内容"
  .clear

:javascript
  $( ".post_filter a" ).live( "click",function( ){
    $(".nav_progress").show();
  })

  $('.create_post #status_message_content').focusin(function() {
    $(this).css('height', '40px'); 
    $("label.placeholder").hide();
    $('.post_type_bar span.noti').show();
  });

  $('label.placeholder').click(function(){
    $(this).hide(); 
    $('.create_post #status_message_content').focus();
  });

  $('.create_post #status_message_content').focusout(function() {
    $('.post_type_bar span.noti').hide();
    if ($.trim($(this).val()) == '' ) {
      $("label.placeholder").show();
      $(this).css('height', '20px'); 
    }
  });

  $('.post_type_bar a.topic').click(function(){
    $('.pic_box').hide();
    $('.topic_box').show();      
    $('.topic_box a.filter[tag = "mine"]').click();
  });

  $('.post_type_bar a.photo').click(function(){
    $('.topic_box').hide();      
    $('.pic_box').show();      
  });

  function createTopicCallback(t_id, t_name){
    $('.create_post .topic_tag').remove();
    $('#new_status_message #topic_id').val(t_id);
    var topic_tag = $('#hide_area .topic_tag').clone();
    topic_tag.find('a.topic_name').text('话题: ' + t_name);
    topic_tag.find('a.topic_name').attr('href', "/item_topics/" + t_id);
    topic_tag.find('a.close_topic_tag').click(function(){
      topic_tag.remove();
      $('#new_status_message #topic_id').val("");
    });
    $('.topic_box a.select_topic').click();
    topic_tag.appendTo('.create_post');
    topic_tag.show();
  }

  function closeTopicBoxCallback() {
    $('#new_status_message #topic_id').val("");
  }
  
  function createPostCallBack() {
    $('.create_post .topic_tag a.close_topic_tag').click(); 
    $('.create_post #status_message_content').focusout();
  }
