.span-24
  %span.logo
    = image_tag( '/images/ui/logo.png' )
    .beta
      = '测试版'
  .events_count.span-8.last.right
    -if !AppConfig[:registrations_closed] && current_user.nil?
      = link_to "注册", sign_up_path, :class => 'right'
    - if current_user.nil?
      = link_to "登录", sign_in_path, :class => 'right'
    - if current_user
      = link_to '回首页', root_path, :class => 'right'
    .right
      %strong='活动总数'
      - Event.total_event_count.each do |num|
        %span.number=num
      %span

 
