.span-24
  %span.logo
    = image_tag( '/images/ui/logo.png' )
    .beta
      = '测试版'
  .events_count.span-8.last.right
    .right
      %strong='活动总数'
      - Event.total_event_count.each do |num|
        %span.number=num
      %span
%ul.sections#sections
  %li
    =link_to t('home'), home_path,:class => 'red_tab',:id => 'home'
  %li
    =link_to t('events_link'), events_path,:class => 'red_tab',:id => 'event'
  %li
    =link_to t('items_link'), items_path,:class => 'red_tab',:id => 'item'
  %li
    =link_to t('groups_link'), groups_path,:class => 'red_tab',:id => 'group'

  %li#search
    = form_tag(people_path, :method => 'get', :id => "global_search_form") do
      = text_field_tag 'q', nil, :placeholder => t('search'), :type => 'text', :results => 5 

-if current_user
  %ul.setting.long_li
    %li.inbox
      %a{:href => conversations_path,:class =>'red_tab long_li',:id=>'conversation'}
        =t( 'inbox' )
        %span.message_count
          %span
            -if current_user && @unread_message_count != 0
              %span=@unread_message_count
    %li.notifaction
      #notification_badge
        %a{ :href => "#" ,:class => 'red_tab long_li',:id=> 'notifaction'}
          = "通知"
          %span.message_count
            %span
              -if current_user && @unread_notify_count != 0
                %span=@unread_notify_count
    %li.set
      %a{:href => "#",:class => "current_user_link red_tab long_li",:id => 'set'}
        .avatar
          = person_image_tag( current_user.person,:thumb_small )
        .name  
          = current_user.name
        .icon
          &nbsp; &nbsp; &nbsp;
  .accout.overlay.hide
    .accout_body.overlay_body
      %ul
        %li
          = link_to "帐户设置", set_account_path 
        %li
          = link_to "个人设置", edit_profile_path 
        %li
          = link_to t('logout'), destroy_user_session_path
  #notification_dropdown
    .title
      = link_to "全部", notifications_path, :id => "view_all_notifications"
      %h4
    .notifications.avatar_panel
      .ajax_loader
        = image_tag("/images/ui/ajax-loader.gif") 


-else
  %ul.setting
    %li
      = link_to "登录", sign_in_path

