!!!
%html
  %head
    %title
      isport
    = include_stylesheets :default, :media => 'all'
    = include_stylesheets :blueprint, :media => 'screen'
    = include_javascripts :jquery
    = include_javascripts :main
    = include_javascripts :jqueryui
    = include_javascripts :jquery_form
    = include_javascripts :show_avatar

    = csrf_meta_tag
    = yield :head
     
  %body{:class => "#{yield(:body_class)}"}
    .header{:class => ( 'landing' unless current_user)}
      .container{ :style=>"position: relative" }
        = render 'layouts/header' 
    .container.body
      .span-24.last
        =yield 
      .span-24
        %br
        %br
        %br
    .footer
      .container

:javascript
  $(function() {
    $.datepicker.setDefaults($.datepicker.regional["zh-CN"]); 
    $("textarea").autoResize();
      
    $('.button').button();  
    if (!$.isEmptyObject($('.setting')[0])) {  
      var left = $('.setting .set').offset().left-154;
      var width = $('.setting .set').width();
      $('.accout').css({"left":left+"px","width":"85px"});

      $('.current_user_link').click(function(e) {
        $('.accout').toggleClass('hide');
        e.stopPropagation();
        return false
      });

      $('html').click(function(e) {
        $('.accout').addClass('hide');
        $('#city_select_box').addClass('hide'); 
      });
    }
    
    $.getScript("http://v2.jiathis.com/code/jia.js");
  });



