!!!
%html
  %head
    %title
      好享玩
    %meta{:property => "wb:webmaster", :content =>"c6f0e67b9d285bf2"} 
    = include_stylesheets :default, :media => 'all'
    = include_stylesheets :blueprint, :media => 'screen'
    = include_javascripts :jquery
    = include_javascripts :main
    = include_javascripts :jqueryui
    = include_javascripts :jquery_form
    = include_javascripts :show_avatar
    //= include_javascripts :google_analytics
    <!--[if IE 8]>
    = include_stylesheets :ie8_hack
    <![endif]-->
    
    = csrf_meta_tag
    = yield :head
     
  %body{:class => "#{yield(:body_class)}"}
    .header{:class => ( current_user && params[:controller]  != 'site_posts' ? 'landing  ' : '' ) + ((defined?(@registe_wizard) && @registe_wizard || current_user.nil? || params[:controller]  == 'site_posts') ? 'wizard' : '')}
      .container{ :style=>"position: relative" }
        - if params[:controller]  == 'site_posts'
          = render 'layouts/blog_header'
        - else
          - if (defined? @registe_wizard) && @registe_wizard || current_user.nil? 
            = render 'layouts/wizard_header' 
          - else
            = render 'layouts/header' 
    .container.body
      - if params[:controller] != 'site_posts'
        = link_to '官方博客', site_blog_path, :id => 'site_blog_link'
      - if current_user
        #online_freinds_container
          .friend_list.hide
            .friend_title_bar
              %span="在线好友(#{@online_friends.size})"
              = link_to 'show', 'javascript:void(0)', :class => 'hide_list'
            .online_list
              - @online_friends.each do |p|
                = link_to person_path(p), :class => 'friend_item', do
                  = person_image_tag(p)
                  %span.name= truncate(p.name, :length => 9, :omission => '')
                  %img{:src => '/images/ui/online_icon.gif', :class => 'online_icon'}
          = link_to 'javascript:void(0)', :class => 'show_list' do
            %img{:src => "/images/ui/online_friend_mini.gif"}
            %span="在线好友(#{@online_friends.size})"
            %img{:src => "/images/ui/down_arrow.gif", :class => 'hide down_arrow'}
      .brower_notice.hide
        %p='温馨提示:'
        %p='本网站当前只支持IE8及以上版本浏览器，为了更好的用户体验，推荐使用Firefox, Chrome, 或者Safari浏览器' 
      - if params[:controller] == 'home' && params[:action] == 'index'
        =link_to 'suggestion', new_feedback_path, :class => 'new_user_feedback'
      #lightbox{:onselectstart => "return false;"}
        #lightbox-panel
          #lightbox-leftside{ :tabindex => 0 }
            #lightbox-content
              #lightbox-close-link
              #pic-left-arrow
              #pic-right-arrow
              %img#lightbox-image
              #image-desc
              #lightbox-imageset{ :tabindex => 0 }
          #lightbox-rightside{ :tabindex => 0 }
            .lightbox-rightpanel
              .left_sidebar.sidebar
                .left_arrow
              .right_sidebar.sidebar.hide
                .right_arrow
              #lightbox-comment-panel
                %ul#lightbox-comment
          .clear
      #lightbox-backdrop 
      .lightbox_content_area.span-24.last
        =yield 
      .span-24
        %br
        %br
        %br

:javascript
  $(function() {
      
    $("a[data-remote='true']").live('ajax:beforeSend', function(event, xhr, settings) {
      var href =  $( this ).attr("href");
      if( href == "#" ){
        return false;
      }else{
        $( this ).attr("href","#");
      }
    });
    

    if ($.browser.msie && $.browser.version < 8) {
      window.location.href = '/notice';
    }

    if ($.browser.msie && $.browser.version < 8) {
      $('.brower_notice').show();
    }
    var select_tab = '#{@select_tab}';
    if(select_tab != ''  ){
      $( '#'+select_tab ).removeClass( 'red_tab' ).addClass( 'gray_tab' ); 
    }
    $.datepicker.setDefaults($.datepicker.regional["zh-CN"]); 
    $("textarea").live( 'focus',function(){ $(this).autoResize();} );
    $('.button').button();  
    if (!$.isEmptyObject($('.setting')[0])) {  
      var left = $('.setting .set').offset().left-154;
      var width = $('.setting .set').width();
      $('.accout').css({"left":left+"px","width":"85px"});

      $('.current_user_link').click(function(e) {
        $('.accout').toggleClass('hide');
        e.stopPropagation();
        return false
      });

      $('html').click(function(e) {
        $('.accout').addClass('hide');
        $('#city_select_box').addClass('hide'); 
        hide_online_friends_list();
      });
    }
  });


  $(document).ready(function () { 
    setInterval("refresh_count()",60000); 
  }); 
  function refresh_count() { 
    $.get("/notifications/refresh_count");
  } 

  $('#online_freinds_container .show_list').click(function() {
    $('#online_freinds_container .friend_list').toggleClass('hide'); 
    $(this).children('img.down_arrow').toggleClass('hide');
    $(this).toggleClass('pressed');
    return false;
  });

  $('#online_freinds_container .hide_list').click(function() {
    hide_online_friends_list();
  });

  $('#online_freinds_container').click(function() {
    e.stopPropagation();
  });

  function hide_online_friends_list() {
   $('#online_freinds_container .friend_list').addClass('hide'); 
    $('#online_freinds_container .show_list').children('img.down_arrow')
                                             .addClass('hide');
    $('#online_freinds_container .show_list').removeClass('pressed'); 
  }
