!!!
%html
  %head
    %title
      isport
    = stylesheet_link_tag "css/plugins/blueprint/screen", :media => 'screen'
    = stylesheet_link_tag "css/plugins/blueprint/print", :media => 'print'
    = include_stylesheets :default, :media => 'all'
    = include_javascripts :jquery
    = include_javascripts :main
    = include_javascripts :jqueryui
    = csrf_meta_tag
    = yield :head
     
  %body{:class => "#{yield(:body_class)}"}
    .header{:class => ( 'landing' unless current_user)}
      = render 'layouts/header' 
    .accout.hide
      = link_to t('settings'), edit_user_path
      = link_to t('logout'), destroy_user_session_path
    %div
    .container.body
      .span-24.last
        =yield 
    .footer
      .container

:javascript
  $(function() {
    $('.button').button();  
  });
