!!!
%html
  %head
    %title
      isport
    = stylesheet_link_tag :all
    = stylesheet_link_tag "blueprint/screen", :media => 'screen' 
    <!--[if lt IE 8]>
    = stylesheet_link_tag 'blueprint/ie',:media => 'screen'
    <![endif]-->
    
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    .header
      = render 'layouts/header' 
    .container.body
      .span-24.last
        =yield 
    .footer
      .container
        %ul link
