!!!
%html
  %head
    %title
      isport
    = stylesheet_link_tag "blueprint/screen", :media => 'screen'
    = stylesheet_link_tag "blueprint/print", :media => 'print'
    = include_stylesheets :default, :media => 'all'
                       
    
    <!--[if lt IE 8]>
    = stylesheet_link_tag 'blueprint/ie',:media => 'screen'
    <![endif]--> 

    = include_javascripts :jquery
    = include_javascripts :main
    = csrf_meta_tag
    = yield(:head)
  %body{:class => "#{yield(:body_class)}"}
    %header{:class => ( 'landing' unless current_user)}
      = render 'layouts/header' 
    .container.body
      .span-24.last
        =yield 
    .footer
      .container
